@font-face {
	font-family : 'GFFoundersSans';
	src         : url('/Content/fonts/GFFoundersSansWeb/Regular/GFFoundersSansWeb-Regular.woff') format('woff'), /* Modern Browsers */
					url('/Content/fonts/GFFoundersSansWeb/Regular/GFFoundersSansWeb-Regular.svg#GFFoundersSans') format('svg'); /* Legacy iOS */
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'GFFoundersSans';
	src         : url('/Content/fonts/GFFoundersSansWeb/Light/GFFoundersSansWeb-Light.woff') format('woff'), /* Modern Browsers */
					url('/Content/fonts/GFFoundersSansWeb/Light/GFFoundersSansWeb-Light.svg#GFFoundersSans') format('svg'); /* Legacy iOS */
	font-weight : 200;
	font-style  : normal;
}

@font-face {
	font-family : 'GFFoundersScript';
	src         : url('/Content/fonts/GFFoundersScriptWeb/Regular/GFFoundersScriptWeb-Regular.woff') format('woff'), /* Modern Browsers */
					url('/Content/fonts/GFFoundersScriptWeb/Regular/GFFoundersScriptWeb-Regular.svg#GFFoundersScript') format('svg'); /* Legacy iOS */
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'GFFoundersScript';
	src         : url('/Content/fonts/GFFoundersScriptWeb/Light/GFFoundersScriptWeb-Light.woff') format('woff'), /* Modern Browsers */
					url('/Content/fonts/GFFoundersScriptWeb/Light/GFFoundersScriptWeb-Light.svg#GFFoundersScript') format('svg'); /* Legacy iOS */
	font-weight : 200;
	font-style  : normal;
}

@font-face {
	font-family : 'GFModern';
	src         : url('/Content/fonts/GFModernWeb/Light/GFModernWeb-Light.woff') format('woff'), /* Modern Browsers */
					url('/Content/fonts/GFModernWeb/Light/GFModernWeb-Light.svg#GFModernWeb') format('svg'); /* Legacy iOS */
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'GFModern';
	src         : url('/Content/fonts/GFModernWeb/Bold/GFModernWeb-Bold.woff') format('woff'), /* Modern Browsers */
					url('/Content/fonts/GFModernWeb/Bold/GFModernWeb-Bold.svg#GFModernWeb') format('svg'); /* Legacy iOS */
	font-weight : bold;
	font-style  : normal;
}