@import "compass/reset";
@import "compass";

$main-golden : #ac8447;
$text-golden : #bb7a4e;

html {
	height : 100%;
}

body {
	min-width  : 1000px;
	min-height : 100%;
	position   : relative;
	font       : 12px/1.6em '微軟正黑體', Arial, serif;
}

button {
	outline     : none;
	font-family : '微軟正黑體', Arial, serif;
}

.middleSet {
	position  : relative;
	font-size : 0;

	&:before {
		content        : '';
		display        : inline-block;
		height         : 100%;
		vertical-align : middle;
	}

	* {
		display        : inline-block;
		font-size      : initial;
		vertical-align : middle;
	}
}

.hide-text {
	white-space : nowrap;
	text-indent : -99999px;
	overflow    : hidden;
}

.add-blur {
	.case:before, .case:after, .case-wrap:before, .case-wrap:after, .trunk-case, .sidenav {
		@include transition(ease-in-out filter 0.3s);
		@include filter(blur(3px));
	}
}

.logo {
	background : image-url('logo.png') 0 0 no-repeat;
	width      : 132px;
	height     : 53px;
	position   : fixed;
	top        : 13px;
	left       : 20px;
	z-index    : 3;

	.link {
		display : block;
		width   : 100%;
		height  : 100%;
	}
}

.menu {
	@include box-sizing(border-box);
	@include transition(ease-in-out all 0.3s);
	padding    : 0 130px 0 0;
	width      : 180px;
	height     : 80px;
	position   : fixed;
	top        : 0;
	right      : 0;
	overflow   : hidden;
	z-index    : 2;
	text-align : right;

	&:before {
		@include transition(ease-in-out all 0.3s);
		content    : '';
		background : #fff;
		width      : 0;
		height     : 100%;
		position   : absolute;
		top        : 0;
		right      : 0;
		z-index    : -1;
	}

	&.open {
		width : 100%;

		&:before {
			width : 100%;
		}

		.btn-menu {
			&:before {
				@include rotate(-45deg);
				margin-top : 0;
			}
	
			&:after {
				@include rotate(45deg);
				margin-top : 0;
			}
	
			.icon {
				display : none;
			}
		}

		.main-menu {
			opacity : 1;
		}
	}

	.btn-fb-share {
		background     : none;
		position       : absolute;
		top            : 24px;
		right          : 18px;
		border         : 0;
		cursor         : pointer;
		color          : #3f5d99;
		letter-spacing : 1px;

		&:before {
			content    : '';
			margin     : 0 auto 5px auto;
			background : image-url('icons.png') 0 -46px no-repeat;
			display    : block;
			width      : 28px;
			height     : 24px;
		}
	}

	.text {
		float          : right;
		position       : relative;
		z-index        : 1;
		color          : $main-golden;
		font-weight    : bold;
		letter-spacing : 3px;
		line-height    : 80px;
	}

	.btn-menu {
		@include box-sizing(border-box);
		padding    : 0;
		background : transparent;
		display    : block;
		width      : 40px;
		height     : 40px;
		position   : absolute;
		top        : 20px;
		right      : 75px;
		border     : 0;
		cursor     : pointer;

		&:before, &:after, .icon {
			@include transition(ease-in-out all 0.3s);
			content       : '';
			margin        : -1px 0 0 -20px;
			background    : $main-golden;
			width         : 40px;
			height        : 2px;
			position      : absolute;
			top           : 50%;
			left          : 50%;
			border-radius : 1px;
		}

		&:before {
			margin-top : -10px;
		}

		&:after {
			margin-top : 8px;
		}
	}

	.main-menu {
		@include transition(ease-in-out all 0.3s);
		float: right;
		opacity: 0;
		font-size: 15px;
		line-height: 80px;

		.list, .icon {
			margin-right: 20px;
			float: left;
		}

		.btn-sublink, .link {
			background: transparent;
			display: inline-block;
			border: 0;
			cursor: pointer;
			color: #7a6866;
			font-size: 14px;
			text-decoration: none;
		}

		.icon .link {
			background: image-url('icons.png') 0 0 no-repeat;
			width: 23px;
			height: 23px;

			&.instagram {
				background-position: -23px 0;
			}
		}
	}
}

.l-content {
	position : absolute;
	top      : 0;
	bottom   : 80px;
	left     : 0;
	right    : 0;
	overflow : hidden;

	&.product {
		@include background-image(linear-gradient(to right, #fff8f4 30%, #ececec 40%));
	}

	.video-wrap {
		background : #000;
		display    : block;
		width      : 100%;
		position   : relative;

		.video-list {
			overflow : hidden;
		}

		.list {
			margin-left : -1000px;
			width       : 2000px;
			height      : 100%;
			position    : relative;
			left        : 50%;
			overflow    : hidden;

			&.cut01 .os {
				opacity     : 1;
				text-indent : -237px;
			}

			&.cut02 .os {
				opacity     : 1;
				text-indent : -250px;
			}

			&.cut03 .os {
				width       : auto;
				top         : 28.57%;
				left        : 25%;
				text-shadow : 0 0 16px rgba(0, 0, 0, 0.75);
			}

			&.cut04 .os {
				top         : 28.57%;
				text-shadow : 0 0 18px rgba(0, 0, 0, 0.5);
			}

			&.cut05 .os {
				width : auto;
				top   : 60%;
				left  : 50%;
			}

			&.cut06 .os {
				width      : auto;
				top        : 28.57%;
				left       : 55%;
				text-align : left;
			}

			&.cut07 .os {
				width       : auto;
				top         : 28.57%;
				left        : 60%;
				text-shadow : 0 0 18px rgba(99, 86, 42, 0.6);
			}

			.os {
				width          : 100%;
				position       : absolute;
				top            : 50%;
				left           : 0;
				opacity        : 0;
				z-index        : 1;
				color          : #fff;
				font-size      : 26px;
				letter-spacing : 1px;
				line-height    : 1.5em;
				text-align     : center;

				.highlight {
					font-size : 32px;
				}

				&.hasAnimate {
					-moz-animation : osFade 1s linear forwards;
					-ms-animation  : osFade 1s linear forwards;
					animation      : osFade 1s linear forwards;
				}
			}
		}

		img {
			margin  : 0 auto;
			display : block;
			height  : 100%;
		}
	}

	.act-wrap {
		@include background-image(linear-gradient(to right, #fff8f4 30%, #ececec 40%));
		display  : block;
		height   : 100%;
		position : relative;
		overflow : hidden;

		&.goScale .instagram-post {
			-moz-animation-play-state : running;
			-ms-animation-play-state  : running;
			animation-play-state      : running;
		}

		.act-caption {
			@include box-sizing(border-box);
			padding-left : 20px;
			height       : 100%;
			position     : absolute;
			top          : 0;
			left         : 50%;
		}

		.step {
			margin       : 30px 0 0 45px;
			padding-left : 108px;
			height       : 90px;
			position     : relative;
			color        : #4a3a3a;
			font-size    : 15px;
			font-family  : 'GFModern', '微軟正黑體';
			font-weight  : bold;
			line-height  : 1.5em;

			.step-icon {
				margin-top     : -45px;
				background     : #7e7170;
				width          : 90px;
				height         : 90px;
				position       : absolute;
				top            : 50%;
				left           : 0;
				border-radius  : 50%;
				color          : #fff;
				font-size      : 12px;
				font-weight    : normal;
				letter-spacing : 1px;
				text-align     : center;

				&:before {
					content    : '';
					margin     : 23px auto 5px auto;
					background : image-url('icons.png') 0 -23px no-repeat;
					display    : block;
					width      : 29px;
					height     : 23px;
				}
			}

			&.hashtag .step-icon:before {
				content     : '#';
				margin      : 16px auto 0 auto;
				background  : none;
				height      : 38px;
				color       : #fff;
				font-size   : 38px;
				font-weight : normal;
				line-height : 38px;
			}
		}

		.instagram-post {
			background                : #fff;
			height                    : 600px;
			position                  : absolute;
			border                    : 1px solid #d8d8d8;
			box-shadow                : -15px 20px 10px rgba(84, 61, 36, 0.2);
			-moz-animation            : cameraShot 1s linear forwards;
			-ms-animation             : cameraShot 1s linear forwards;
			animation                 : cameraShot 1s linear forwards;
			-moz-animation-play-state : paused;
			-ms-animation-play-state  : paused;
			animation-play-state      : paused;
		}

		.user-info {
			@include box-sizing(border-box);
			padding-top : 10px;
			height      : 60px;
			position    : relative;

			.name {
				padding-left : 64px;
				color        : #717171;
				font-size    : 14px;
				line-height  : 50px;
			}

			.photo {
				margin-top    : -11px;
				background    : image-url('user-head.png') 0 0 no-repeat;
				display       : block;
				width         : 32px;
				height        : 32px;
				position      : absolute;
				top           : 50%;
				left          : 25px;
				border-radius : 50%;     
			}
		}

		.polaroid {
			background      : image-url('video/cut07/gf_021.jpg') center center no-repeat;
			background-size : auto 100%;
			width           : 100%;
			height          : 350px;
		}

		.post-info {
			padding     : 20px 25px;
			color       : #4a3a3a;
			font-size   : 16px;
			font-weight : bold;
			line-height : 1.5em;
		}

		.act-title {
			margin-bottom : 15px;
			color         : $text-golden;
			font-size     : 26px;
			font-weight   : bold;
			line-height   : 1.5em;
		}

		.act-desc {
			margin-bottom : 15px;
			color         : #4a3a3a;
			font-size     : 16px;
			line-height   : 1.5em;
		}

		.highlight {
			font-weight : bold;
		}
	}

	.case-wrap {
		background : #000;
		width      : 100%;
		height     : 100%;
		position   : relative;
		overflow   : hidden;
		z-index    : 1;

		&:before {
			content        : '';
			display        : block;
			width          : 100%;
			height         : 480px;
			position       : absolute;
			top            : 0;
			left           : 0;
			-moz-animation : runCaseBg 5s linear forwards infinite;
			-ms-animation  : runCaseBg 5s linear forwards infinite;
			animation      : runCaseBg 5s linear forwards infinite;
		}

		&:after {
			content    : '';
			background : image-url('main-bg-table.png') 0 0 no-repeat;
			display    : block;
			width      : 436px;
			height     : 416px;
			position   : absolute;
			bottom     : 0;
			left       : 0;
		}

		&.left, &.center, &.right {
			&:before {
				-moz-animation-play-state : paused;
				-ms-animation-play-state  : paused;
				animation-play-state      : paused;
			}
		}

		&.left {
			.position-list {
				left       : 700px;
				text-align : left;

				.north {
					display : none;
				}
			}

			.left-part {
				width        : 700px;
				border-right : 1px solid #fff;
				box-shadow   : 0 0 100px rgba(0, 0, 0, 0.5);
			}
		}

		&.center {
			.position-list {
				.north {
					margin-left : -140px;
					position    : absolute;
					left        : 20%;
				}

				.middle {
					display : none;
				}

				.south {
					margin-right : -140px;
					position     : absolute;
					right        : 20%;
				}
			}

			.btn-location {
				margin : 0;
			}

			.center-part {
				margin-left  : -350px;
				width        : 700px;
				border-right : 1px solid #fff;
				border-left  : 1px solid #fff;
				box-shadow   : 0 0 100px rgba(0, 0, 0, 0.5);
			}
		}

		&.right {
			.position-list {
				right      : 700px;
				text-align : right;

				.south {
					display : none;
				}
			}

			.right-part {
				width       : 700px;
				border-left : 1px solid #fff;
				box-shadow  : 0 0 100px rgba(0, 0, 0, 0.5);
			}
		}

		.trunk-case {
			@include box-sizing(border-box);
			margin-top  : -229px;
			padding-top : 114px;
			display     : block;
			width       : 100%;
			height      : 458px;
			position    : absolute;
			top         : 50%;
			left        : 0;
			z-index     : 0;
			text-align  : center;

			&:before, &:after {
				content     : '';
				margin-left : -349px;
				background  : image-url('case.png') center 0 no-repeat;
				display     : block;
				width       : 697px;
				height      : 100%;
				position    : absolute;
				top         : 0;
				left        : 50%;
				z-index     : -1;
			}

			&:after {
				background-position : center -458px;
				height              : 453px;
				top                 : 453px;
			}
		}

		.main-title {
			background : image-url('case-title.png') 0 0 no-repeat;
			display    : inline-block;
			width      : 345px;
			height     : 89px;
		}

		.desc {
			color          : #000;
			font-size      : 18px;
			letter-spacing : 1px;
			line-height    : 1.5em;
			text-align     : center;
			text-shadow    : 0 0 2px #c36b27;
		}

		.position-list {
			@include transition(ease-in-out all 0.3s);
			margin-top  : 125px;
			width       : 100%;
			position    : absolute;
			top         : 50%;
			z-index     : 1;
			font-size   : 0;
			line-height : 0;
			text-align  : center;

			.location {
				display : inline-block;
			}
		}

		.btn-location {
			margin      : 0 33px;
			padding     : 0 0 12px 5px;
			background  : image-url('btn-location-bg.png') 0 0 no-repeat;
			display     : block;
			width       : 130px;
			height      : 125px;
			position    : relative;
			border      : 0;
			cursor      : pointer;
			color       : #fff;
			font-size   : 38px;
			font-family : 'GFModern';

			&:before {
				content     : attr(data-area);
				padding-top : 10px;
				position    : absolute;
				top         : 0;
				left        : 5px;
				font-size   : 15px;
				font-family : '微軟正黑體';
				line-height : 1.5em;
			}

			&:after {
				@include transform(rotate(-45deg));
				content       : '';
				display       : block;
				width         : 9px;
				height        : 9px;
				position      : absolute;
				top           : 15px;
				left          : 50px;
				border-right  : 2px solid #fff;
				border-bottom : 2px solid #fff;
			}

			@for $i from 1 through 10 {
				&.per-#{$i} {
					background-position : 0 (-125px * $i);
				}
			}
		}

		.inside-case {
			@include transition(ease-in-out all 0.3s);
			background : rgba(0,0,0,0.7) image-url('case-open.png') 120px 60px no-repeat;
			display    : block;
			width      : 0;
			height     : 100%;
			position   : absolute;
			top        : 0;
			left       : 0;
			overflow   : hidden;
			z-index    : 1;

			&.center-part {
				background-position : center 60px;
				left                : 50%;
			}

			&.right-part {
				background-position : -2020px 60px;
				left                : auto;
				right               : 0;

				.btn-more {
					left  : 20px;
					right : auto;
				}
			}
		}

		.btn-more {
			margin-top      : -18px;
			background      : #4a3a3a;
			width           : 132px;
			height          : 35px;
			position        : absolute;
			top             : 50%;
			right           : 27px;
			z-index         : 1;
			color           : #ff9135;
			font-size       : 15px;
			letter-spacing  : 1px;
			line-height     : 35px;
			text-align      : center;
			text-decoration : none;

			&:after {
				@include transform(rotate(-45deg));
				content       : '';
				display       : inline-block;
				width         : 11px;
				height        : 11px;
				border-right  : 1px solid #ff9135;
				border-bottom : 1px solid #ff9135;
			}
		}

		.photo-loop {
			margin-top : 188px;
			width      : 100%;
			position   : absolute;
			top        : 0;
			text-align : center;

			.list {
				@include transition(ease-in-out all 0.3s);
				margin     : 0 auto 20px auto;
				background : #fff;
				display    : block;
				width      : 164px;
				border     : 1px solid #828282;
				box-shadow : -10px 10px 8px rgba(0,0,0,0.25);
				overflow   : hidden;
			}

			.is-curr {
				width : 312px;

				.link .img-wrap {
					margin-left : -197px;
					display     : block;
					width       : 700px;
					height      : 304px;
				}

				.img-info {
					padding : 8px 0 10px 12px;
					height  : auto;
				}
			}

			.link {
				@include box-sizing(border-box);
				padding  : 3px;
				display  : block;
				width    : 100%;
				overflow : hidden;

				.img-wrap {
					@include transition(ease-in-out all 0.3s);
					margin-left : -101px;
					display     : block;
					width       : 360px;
					height      : 156px;
				}

				img {
					margin  : 0 auto;
					display : block;
					height  : 100%;
				}
			}

			.img-info {
				@include transition(ease-in-out all 0.3s);
				@include box-sizing(border-box);
				display    : block;
				height     : 0;
				overflow   : hidden;
				text-align : left;

				.user-link {
					padding-left    : 28px;
					display         : inline-block;
					position        : relative;
					color           : #0055b5;
					font-size       : 14px;
					letter-spacing  : 1px;
					line-height     : 20px;
					text-decoration : none;

					img {
						margin-top    : -10px;
						display       : block;
						width         : 20px;
						height        : 20px;
						position      : absolute;
						top           : 50%;
						left          : 0;
						border-radius : 50%;
					}
				}

				.img-desc {
					margin-top  : 5px;
					display     : block;
					color       : #717171;
					font-size   : 15px;
					line-height : 1.5em;
				}
			}
		}
	}

	.product-wrap {
		margin     : -238px 0 0 -30px;
		display    : block;
		min-height : 476px;
		position   : absolute;
		top        : 50%;
		left       : 50%;

		.product-info {
			@include transition(ease-in-out all 1s);
			min-height : 370px;
			position   : absolute;
			opacity    : 0;
			z-index    : -1;

			&.is-curr {
				opacity : 1;
				z-index : 0;
			}
		}

		.product-title {
			padding       : 5px 0 10px 86px;
			position      : relative;
			border-bottom : 1px solid $text-golden;
			color         : $text-golden;
			font-size     : 25px;
			font-family   : 'GFModern', '微軟正黑體';
			line-height   : 30px;

			.icon-year {
				position    : absolute;
				top         : 0;
				left        : 0;
				color       : $text-golden;
				font-size   : 70px;
				font-weight : bold;
				line-height : 70px;
			}
		}

		.product-content {
			margin      : 6px 0 16px 0;
			display     : block;
			color       : #4a3a3a;
			font-size   : 15px;
			font-family : 'GFModern', '微軟正黑體';
			font-weight : bold;
			line-height : 1.5em;
		}

		.product-desc {
			min-height  : 130px;
			color       : #4a3a3a;
			font-size   : 15px;
			line-height : 26px;
		}

		.award-list {
			margin-top  : 20px;
			color       : #4a3a3a;
			font-size   : 13px;
			line-height : 20px;
		}

		.img-wrap {
			width    : 240px;
			height   : 476px;
			position : absolute;
			top      : 0;
			left     : -213px;
			z-index  : -1;

			img {
				display : block;
				width   : 100%;
			}
		}

		.sub-menu {
			margin-top : 400px;
			position   : relative;
			z-index    : 1;
		}

		.product-menu {
			font-size   : 0;
			line-height : 0;

			.list {
				display : inline-block;
			}

			.btn-product {
				margin      : 0 10px 0 0;
				padding     : 0;
				background  : #f5f2f0;
				min-width   : 88px;
				height      : 20px;
				position    : relative;
				border      : 1px solid #483a39;
				cursor      : pointer;
				font-family : 'GFModern', Arial;
				font-weight : bold;
				line-height : 20px;

				&.is-curr {
					background : #483a39;
					color      : #fff;

					&:before {
						content       : '';
						margin-left   : -6px;
						position      : absolute;
						top           : -9px;
						left          : 50%;
						border-right  : 6px solid transparent;
						border-bottom : 9px solid #483a39;
						border-left   : 6px solid transparent;
					}
				}
			}
		}
	}

	.btn-participate {
		margin         : 10px 0 48px 0;
		background     : #4a3a3a;
		width          : 132px;
		height         : 35px;
		position       : relative;
		border         : 0;
		cursor         : pointer;
		color          : #ff9135;
		font-size      : 15px;
		letter-spacing : 1px;

		&:after {
			@include transform(rotate(-45deg));
			content       : '';
			display       : inline-block;
			width         : 11px;
			height        : 11px;
			border-right  : 1px solid #ff9135;
			border-bottom : 1px solid #ff9135;
		}
	}
}

.lightbox-wrap {
	@include transition(ease-in-out all 0.3s);
	background : rgba(0, 0, 0, 0.8);
	display    : block;
	width      : 100%;
	height     : 100%;
	position   : absolute;
	top        : 0;
	left       : 0;
	opacity    : 0;
	z-index    : -1;

	&.show {
		opacity : 1;
		z-index : 2;
	}

	.btn-close {
		display    : block;
		background : transparent;
		width      : 50px;
		height     : 50px;
		position   : absolute;
		top        : 27px;
		right      : 36px;
		border     : 0;
		cursor     : pointer;

		&:before, &:after {
			@include transform(rotate(-45deg));
			content    : '';
			margin     : -1px 0 0 -35px;
			background : #fff;
			width      : 70px;
			height     : 2px;
			position   : absolute;
			top        : 50%;
			left       : 50%;
		}

		&:after {
			@include transform(rotate(45deg));
		}
	}

	.video-wrap {
		margin  : 80px auto 0 auto;
		display : block;
		width   : 962px;
		height  : 412px;
	}

	.btn-share {
		margin     : 24px auto 0 auto;
		padding    : 0 40px 0 52px;
		background : #000;
		display    : block;
		height     : 50px;
		position   : relative;
		border     : 1px solid #88613d;
		cursor     : pointer;
		color      : #fff;
		font-size  : 18px;

		&:before {
			content    : '';
			margin-top : -11px;
			background : image-url('icons.png') 0 -70px no-repeat;
			display    : block;
			width      : 22px;
			height     : 23px;
			position   : absolute;
			top        : 50%;
			left       : 18px;
		}

		&:after {
			@include transform(rotate(-45deg));
			content       : '';
			margin-top    : -8px;
			display       : block;
			width         : 15px;
			height        : 15px;
			position      : absolute;
			top           : 50%;
			right         : 18px;
			border-right  : 1px solid #fff;
			border-bottom : 1px solid #fff;
		}

		.highlight {
			color : #ffb574;
		}
	}
}

.sidenav {
	position : fixed;
	top      : 50%;
	left     : 0;
	z-index  : 1;

	.dotnav {
		margin-bottom : 7px;
		padding-left  : 28px;

		.list {
			margin   : 8px 0;
			width    : 14px;
			height   : 14px;
			position : relative;
			cursor   : pointer;

			&:before {
				content       : '';
				margin        : -4px 0 0 -4px;
				background    : #ba7a4e;
				width         : 8px;
				height        : 8px;
				position      : absolute;
				top           : 50%;
				left          : 50%;
				border-radius : 50%;
			}
	
			&.is-curr:before {
				margin     : -8px 0 0 -8px;
				background : #ffc49b;
				width      : 14px;
				height     : 14px;
				border     : 1px solid #211d1d;
				box-shadow : 0 0 6px rgba(255, 196, 155, 0.75);
			}
		}
	}

	.btn-video {
		@include box-sizing(border-box);
		padding     : 0 0 10px 6px;
		background  : transparent;
		position    : relative;
		width       : 94px;
		height      : 94px;
		border      : 0;
		cursor      : pointer;
		color       : #fff;
		font-size   : 13px;
		line-height : 18px;
		text-align  : left;
		text-shadow : 0 0 5px #704121;

		&:before {
			content       : '';
			position      : absolute;
			top           : 0;
			left          : 0;
			border-top    : 47px solid transparent;
			border-bottom : 47px solid transparent;
			border-left   : 94px solid #ba7a4e;
			z-index       : -1;
		}

		.highlight {
			display   : block;
			color     : #ffed53;
			font-size : 14px;
		}
	}
}

.hint-scroll {
	@include transition(ease-in-out all 0.3s);
	margin-left : -25px;
	background  : image-url('icons.png') -46px 0 no-repeat;
	width       : 51px;
	height      : 68px;
	position    : fixed;
	left        : 50%;
	bottom      : 100px;
	border      : 0;
	z-index     : 1;

	&.hide {
		opacity : 0;
		z-index : -1;
	}
}

.warning-signs {
	background : #483a39 image-url('warning-signs.png') center center no-repeat;
	width      : 100%;
	height     : 80px;
	position   : fixed;
	bottom     : 0;
	left       : 0;
	z-index    : 2;

	&:before {
		content       : '';
		background    : #a46b50;
		width         : 100%;
		height        : 3px;
		position      : absolute;
		top           : 0;
		left          : 0;
		border-bottom : 1px solid #734d42;
		box-shadow    : 0 3px 0 rgba(0, 0, 0, 0.1);
	}
}

@-ms-keyframes osFade {
	0% {
		opacity : 0;
	}

	100% {
		opacity : 1;
	}
}

@-webkit-keyframes osFade {
	0% {
		opacity : 0;
	}

	100% {
		opacity : 1;
	}
}

@-moz-keyframes osFade {
	0% {
		opacity : 0;
	}

	100% {
		opacity : 1;
	}
}

@keyframes osFade {
	0% {
		opacity : 0;
	}

	100% {
		opacity : 1;
	}
}

@-ms-keyframes cameraShot {
	0% {
		@include transform(scale(2,2));
		width  : 100%;
		bottom : -80px;
		right  : 0;
	}

	100% {
		@include transform(rotate(-10deg));
		width  : 460px;
		bottom : -44px;
		right  : 50%;
	}
}

@-webkit-keyframes cameraShot {
	0% {
		@include transform(scale(2,2));
		width  : 100%;
		bottom : -80px;
		right  : 0;
	}

	100% {
		@include transform(rotate(-10deg));
		width  : 460px;
		bottom : -44px;
		right  : 50%;
	}
}

@-moz-keyframes cameraShot {
	0% {
		@include transform(scale(2,2));
		width  : 100%;
		bottom : -80px;
		right  : 0;
	}

	100% {
		@include transform(rotate(-10deg));
		width  : 460px;
		bottom : -44px;
		right  : 50%;
	}
}

@keyframes cameraShot {
	0% {
		@include transform(scale(2,2));
		width  : 100%;
		bottom : -80px;
		right  : 0;
	}

	100% {
		@include transform(rotate(-10deg));
		width  : 460px;
		bottom : -44px;
		right  : 50%;
	}
}

@-webkit-keyframes runCaseBg {
	0% { background   : image-url('case-bg/gf_001.jpg') center top no-repeat;}
	6% { background   : image-url('case-bg/gf_002.jpg') center top no-repeat;}
	12% { background  : image-url('case-bg/gf_003.jpg') center top no-repeat;}
	18% { background  : image-url('case-bg/gf_004.jpg') center top no-repeat;}
	24% { background  : image-url('case-bg/gf_005.jpg') center top no-repeat;}
	30% { background  : image-url('case-bg/gf_006.jpg') center top no-repeat;}
	36% { background  : image-url('case-bg/gf_007.jpg') center top no-repeat;}
	42% { background  : image-url('case-bg/gf_008.jpg') center top no-repeat;}
	48% { background  : image-url('case-bg/gf_009.jpg') center top no-repeat;}
	54% { background  : image-url('case-bg/gf_010.jpg') center top no-repeat;}
	60% { background  : image-url('case-bg/gf_011.jpg') center top no-repeat;}
	66% { background  : image-url('case-bg/gf_012.jpg') center top no-repeat;}
	72% { background  : image-url('case-bg/gf_013.jpg') center top no-repeat;}
	78% { background  : image-url('case-bg/gf_014.jpg') center top no-repeat;}
	84% { background  : image-url('case-bg/gf_015.jpg') center top no-repeat;}
	90% { background  : image-url('case-bg/gf_016.jpg') center top no-repeat;}
	95% { background  : image-url('case-bg/gf_017.jpg') center top no-repeat;}
	100% { background : image-url('case-bg/gf_001.jpg') center top no-repeat;}
}

@-ms-keyframes runCaseBg {
	0% { background   : image-url('case-bg/gf_001.jpg') center top no-repeat;}
	6% { background   : image-url('case-bg/gf_002.jpg') center top no-repeat;}
	12% { background  : image-url('case-bg/gf_003.jpg') center top no-repeat;}
	18% { background  : image-url('case-bg/gf_004.jpg') center top no-repeat;}
	24% { background  : image-url('case-bg/gf_005.jpg') center top no-repeat;}
	30% { background  : image-url('case-bg/gf_006.jpg') center top no-repeat;}
	36% { background  : image-url('case-bg/gf_007.jpg') center top no-repeat;}
	42% { background  : image-url('case-bg/gf_008.jpg') center top no-repeat;}
	48% { background  : image-url('case-bg/gf_009.jpg') center top no-repeat;}
	54% { background  : image-url('case-bg/gf_010.jpg') center top no-repeat;}
	60% { background  : image-url('case-bg/gf_011.jpg') center top no-repeat;}
	66% { background  : image-url('case-bg/gf_012.jpg') center top no-repeat;}
	72% { background  : image-url('case-bg/gf_013.jpg') center top no-repeat;}
	78% { background  : image-url('case-bg/gf_014.jpg') center top no-repeat;}
	84% { background  : image-url('case-bg/gf_015.jpg') center top no-repeat;}
	90% { background  : image-url('case-bg/gf_016.jpg') center top no-repeat;}
	95% { background  : image-url('case-bg/gf_017.jpg') center top no-repeat;}
	100% { background : image-url('case-bg/gf_001.jpg') center top no-repeat;}
}

@-moz-keyframes runCaseBg {
	0% { background   : image-url('case-bg/gf_001.jpg') center top no-repeat;}
	6% { background   : image-url('case-bg/gf_002.jpg') center top no-repeat;}
	12% { background  : image-url('case-bg/gf_003.jpg') center top no-repeat;}
	18% { background  : image-url('case-bg/gf_004.jpg') center top no-repeat;}
	24% { background  : image-url('case-bg/gf_005.jpg') center top no-repeat;}
	30% { background  : image-url('case-bg/gf_006.jpg') center top no-repeat;}
	36% { background  : image-url('case-bg/gf_007.jpg') center top no-repeat;}
	42% { background  : image-url('case-bg/gf_008.jpg') center top no-repeat;}
	48% { background  : image-url('case-bg/gf_009.jpg') center top no-repeat;}
	54% { background  : image-url('case-bg/gf_010.jpg') center top no-repeat;}
	60% { background  : image-url('case-bg/gf_011.jpg') center top no-repeat;}
	66% { background  : image-url('case-bg/gf_012.jpg') center top no-repeat;}
	72% { background  : image-url('case-bg/gf_013.jpg') center top no-repeat;}
	78% { background  : image-url('case-bg/gf_014.jpg') center top no-repeat;}
	84% { background  : image-url('case-bg/gf_015.jpg') center top no-repeat;}
	90% { background  : image-url('case-bg/gf_016.jpg') center top no-repeat;}
	95% { background  : image-url('case-bg/gf_017.jpg') center top no-repeat;}
	100% { background : image-url('case-bg/gf_001.jpg') center top no-repeat;}
}

@keyframes runCaseBg {
	0% { background   : image-url('case-bg/gf_001.jpg') center top no-repeat;}
	6% { background   : image-url('case-bg/gf_002.jpg') center top no-repeat;}
	12% { background  : image-url('case-bg/gf_003.jpg') center top no-repeat;}
	18% { background  : image-url('case-bg/gf_004.jpg') center top no-repeat;}
	24% { background  : image-url('case-bg/gf_005.jpg') center top no-repeat;}
	30% { background  : image-url('case-bg/gf_006.jpg') center top no-repeat;}
	36% { background  : image-url('case-bg/gf_007.jpg') center top no-repeat;}
	42% { background  : image-url('case-bg/gf_008.jpg') center top no-repeat;}
	48% { background  : image-url('case-bg/gf_009.jpg') center top no-repeat;}
	54% { background  : image-url('case-bg/gf_010.jpg') center top no-repeat;}
	60% { background  : image-url('case-bg/gf_011.jpg') center top no-repeat;}
	66% { background  : image-url('case-bg/gf_012.jpg') center top no-repeat;}
	72% { background  : image-url('case-bg/gf_013.jpg') center top no-repeat;}
	78% { background  : image-url('case-bg/gf_014.jpg') center top no-repeat;}
	84% { background  : image-url('case-bg/gf_015.jpg') center top no-repeat;}
	90% { background  : image-url('case-bg/gf_016.jpg') center top no-repeat;}
	95% { background  : image-url('case-bg/gf_017.jpg') center top no-repeat;}
	100% { background : image-url('case-bg/gf_001.jpg') center top no-repeat;}
}

@-moz-document url-prefix() {
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}