<a href="/video" class="m-dot-media b-middle jQ-SFbox ga_click_trace ga_click_preventDefault" data-ga-push="true" ga_cat="float_bar" ga_event="click" ga_label="menu_share_video">
    <em>
        <mark class="b-mark">看完整影片</mark>
    </em>
</a>