/* ==================== 基本設定 ==================== */
$font-family      : 'GFModern' , Arial , '微軟正黑體' ,  'Heiti TC' , '黑體' , serif;
$font-blod-family : 'GFModernBold' , Arial , '微軟正黑體' , 'Heiti TC' , '黑體' , serif;

$main-min-width : 1000px;

/* PC screen */
$screen-pc : ($main-min-width - 1);
/* Device screen */
$screen-device : 601px;

/* ==================== 顏色設定 ==================== */
/* 企業識別主色 */
$major-color : #964;

/* 企業識別次色 */
$minor-color : #433;

/* 企業識別輔助色 */
$sub-color : #A84;

/* 文字主要顏色 */
$text-major-color : #B74;

/* 文字子顏色 */
$text-minor-color : #535353;

/* 文字說明顏色 */
$text-sub-color : #727272;

/* 主要邊框顏色 */
$border-major-color : #d8d8d8;

/* 次要邊框顏色 */
$border-minor-color : #211;

$color-white    : #FFF;
$color-black    : #000;
$color-coffee   : $sub-color;
$color-facebook : #359;
$color-dot      : #FC9;
$color-primary  : #F00;


/* 自訂顏色 */
$color : (
    'white'    : $color-white,
    'black'    : $color-black,
    'coffee'   : $color-coffee,
    'facebook' : $color-facebook,
    'dot'      : $color-dot,
    'primary'  : $color-primary
);

/* ==================== 動態時間設定 ==================== */
$transition-times : .3s;

/* ==================== 物件圓角設定 ==================== */
/* Module 圓角 */
$module-border-radius : 10px;
