<div class="l-footer" data-blur="is-blur">
    <footer class="m-footer">
        <div class="m-footer-bd">
            <p>禁止酒駕</p>
            <span class="m-icon-stack m-icon-stack-dranks">
                <i class="m-icon m-icon-stack-drank-circle"></i>
                <i class="m-icon m-icon-stack-drank-icon is-absolute"></i>
                <i class="m-icon m-icon-stack-drank-ban is-absolute"></i>
            </span>
            <p>酒後不開車 安全有保障</p>
        </div>
    </footer>
</div>