<div class="l-header">
    <header class="m-header b-clearfix" data-open="is-open" data-scroll="is-scroll">
        <h1>格蘭菲迪</h1>
        <a href="/Views/" class="m-header-logo ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="back_home">
            <span class="m-icon-stack m-icon-stack-logos">
                <i class="m-icon m-icon-stack-logo"></i>
                <i class="m-icon m-icon-stack-logo-text is-absolute"></i>
                <i class="m-icon m-icon-stack-logo-info is-absolute"></i>
            </span>
        </a>
        <nav class="m-nav">
            <ul class="m-nav-main">
                <li class="b-text-coffee b-hide-xs">MENU</li>
                <li>
                    <button type="button" class="m-nav-button is-nav jQ-nav ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="" data-open-label="menu_open" data-close-label="menu_close"><i></i></button>
                </li>
                <li class="m-nav-close b-text-white">Close</li>
                <li class="b-hide-md b-hide-sm">
                    <a href="/Views/video.cshtml" class="m-nav-button is-media jQ-SFbox ga_click_trace ga_click_preventDefault" ga_cat="menu_bar" ga_event="click" ga_label="menu_video_m">
                        <span class="m-icon-stack m-icon-stack-medias">
                            <i class="m-icon m-icon-stack-media-square"></i>
                            <i class="m-icon m-icon-stack-media-play is-absolute"></i>
                        </span>
                    </a>
                </li>
                <li class="b-hide-xs">
                    <button type="button" class="m-nav-button is-share jQ-share ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="menu_share">
                        <span class="m-icon-stack m-icon-stack-fbs">
                            <i class="m-icon m-icon-stack-fb-square"></i>
                            <i class="m-icon m-icon-stack-fb is-absolute"></i>
                        </span>
                        <em class="b-hide-xs">加碼抽</em>
                    </button>
                </li>
            </ul>
            <ul class="m-nav-sub">
                <li><a href="/Views/" class="ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="menu_index">首頁</a></li>
                <li><a href="/Views/activity.cshtml" class="ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="menu_activity">抽獎辦法</a></li>
                <li><a href="/Views/product.cshtml" class="ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="menu_product">經典酒款</a></li>
                <li><a href="/Views/winner.cshtml" class="jQ-SFbox ga_click_trace ga_click_preventDefault" data-width="650" ga_cat="menu_bar" ga_event="click" ga_label="menu_winner">得獎名單</a></li>
                <li><a href="/Views/overview.cshtml" class="ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="menu_overview">看更多第一</a></li>
                <li><a href="/Views/video.cshtml" class="jQ-SFbox ga_click_trace ga_click_preventDefault" data-ga-push="true" ga_cat="menu_bar" ga_event="click" ga_label="menu_video">完整影片</a></li>
                <li class="b-hide-md b-hide-sm">
                    <a href="/Views/video.cshtml" class="m-nav-share jQ-SFbox ga_click_trace ga_click_preventDefault" data-ga-push="true" ga_cat="menu_bar" ga_event="click" ga_label="menu_share_m"><i class="m-icon m-icon-gift"></i>立即分享網站 加碼抽多項經典好禮<i class="m-icon m-icon-angle-right"></i></a>
                </li>
            </ul>
        </nav>
    </header>
</div>