<div class="m-year is-default b-hide" data-hide="b-hide" data-cloak="b-cloak">
    <div class="m-year-count">
        <ul class="m-year-item">
            <li>
                <span class="m-icon-stack m-icon-stack-logos is-lg">
                    <i class="m-icon m-icon-stack-logo"></i>
                    <i class="m-icon m-icon-stack-logo-text is-absolute"></i>
                    <i class="m-icon m-icon-stack-logo-info is-absolute"></i>
                </span>
                <p class="m-year-info">進入網站前<br />請確認您已達法定飲酒年齡</p>
                <div class="m-year-button-group">
                    <button type="button" class="m-year-button is-already jQ-already ga_click_trace" ga_cat="alert" ga_event="click" ga_label="18y_yes">我已滿18歲</button>
                    <button type="button" class="m-year-button is-not jQ-not ga_click_trace" ga_cat="alert" ga_event="click" ga_label="18y_not">我未滿18歲</button>
                </div>
                <p class="m-year-warning b-hide" data-hide="b-hide"><i class="m-icon m-icon-exclamation-triangle"></i>未滿 18 歲無法進入活動網站</p>
            </li>
        </ul>
    </div>
</div>