<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Scripts/plugin/perfect-scrollbar/css/perfect-scrollbar.min.css?CSS=20151225_01" />
    <link rel="stylesheet" type="text/css" href="/Content/css/activity.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <div class="l-content">
        <header class="activity-hd">
            <h2 class="main-title">
                <em>活動辦法</em>
                <i class="m-icon m-icon-nav-activity"></i>
            </h2>
        </header>
        <div class="activity-bd">
            <div class="box-area">
                <ul class="term-list">
                    <li class="list shift-right">
                        <h3 class="list-title">活動說明</h3>
                        <p>活動名稱：格蘭菲迪單一麥芽夢想開箱</p>
                        <p>活動時間：2016/1/20-2016/2/21</p>
                    </li>
                    <li class="list shift-right">
                        <h3 class="list-title">活動獎項</h3>
                        <p><b>開箱解鎖中獎者</b><br>格蘭菲迪 15 年單一純麥威士忌　50名<br><br><b>參與活動留下基本資料加碼抽 得獎者</b><br>格蘭菲迪橡木桶造型USB　 　　20名</p>
                    </li>
                    <li class="list gift-img"><img src="/Content/img/activity/gift-img.png?CSS=20151225_01" alt="格蘭菲迪15年單一麥芽威士忌"></li>
                    <li class="list">
                        <h3 class="list-title">活動說明</h3>
                        <p><b>開箱解鎖，參加抽獎</b><br>點選立即開箱後，確認Facebook授權(*註1)即可立即參加抽獎<br>若開箱數字為1963即為中獎者，留下正確個人資料則有領取贈品之資格。<span class="notice">註：facebook 授權個人資料僅做活動參與確認及聯絡用，不另做它途。</span><br><b>參與活動留下基本資料加碼抽</b><br>點選立即開箱即可立即參加，若開箱數字不是1963的參加者，留下正確個人資料則有參加加碼抽之資格！<span class="notice">註：個人資料僅做活動參與確認及行銷資訊傳遞用，不另做它途。</span></p>
                    </li>
                    <li class="list">
                        <h3 class="list-title">特別注意</h3>
                        <p>每人每天僅限參與活動一次。活動期間不限填寫資料次數，但僅有一次中獎機會。</p>
                    </li>
                    <li class="list">
                        <h3 class="list-title">得獎通知</h3>
                        <p>2016年03月01日公佈得獎名單於格蘭菲迪單一麥芽夢想開箱 活動網站。<br>中獎人務必將姓名、聯絡電話(住家、辦公室、行動三者擇一)、E-mail正確填入，格蘭父子會將中獎通知函以E-mail方式提供予中獎人，請中獎人填妥中獎通知函並檢附身分證正反面影本，於2016年03月08日前(以郵戳為憑)或E-mail方式寄回本函至【格蘭菲迪單一麥芽夢想開箱 活動小組收】信箱為：glenfiddich1963@gmail.com。若中獎人未依期限配合辦理領獎手續等相關事宜者，即視為自動放棄中獎資格。</p>
                    </li>
                    <li class="list">
                        <h3 class="list-title">注意事項</h3>
                        <ol>
                            <li>本活動之主辦單位為「格蘭父子洋酒股份有限公司(以下簡稱格蘭父子) 」。</li>
                            <li>本活動注意事項載明於活動網頁中・加者於加活動之同時・即同意接受本活動注意事項之規範。</li>
                            <li>中獎公告日期：2016年03月01日於本活動網站公佈中獎名單，請密切上網留意。</li>
                            <li>【參與活動留下基本資料加碼抽】每人每天僅限參與活動一次。活動期間不限填寫資料次數，同一人 (Facebook ID) 僅限一次中獎資格。</li>
                            <li>參加本活動者(以下簡稱參加者)提供資料對象為格蘭父子，參加者同意提供個人資料予格蘭父子於本活動目的範圍內蒐集處理及利用其個人資料。格蘭父子將遵守個人資料保護法之規定，非經參加者之書面同意，不得將參加者之資料以任何方式提供予第三人蒐集、處理及利用，格蘭父子所屬指定舉辦該活動之廠商亦同。</li>
                            <li>中獎人務必將姓名、聯絡電話(住家、辦公室、行動三者擇一)、E-mail正確填入，格蘭父子會將中獎通知函以E-mail方式提供予中獎人，請中獎人填妥中獎通知函並檢附身分證正反面影本，於2016年03月08日前(以郵戳為憑)或E-mail方式寄回本函至【格蘭菲迪單一麥芽夢想開箱 活動小組收】信箱為：glenfiddich1963@gmail.com。若中獎人未依期限配合辦理領獎手續等相關事宜者，即視為自動放棄中獎資格。</li>
                            <li>當您參加本活動並獲獎時，表示您同意讓主辦單位公佈得獎者資料及相關照片等資訊，中獎人寄回中獎通知函與配合辦理代扣繳相關作業後，格蘭父子預計於2016年03月22日前提供獎項予中獎人。</li>
                            <li>本活動網頁之所有內容之著作權等權利均屬格蘭父子洋酒股份有限公司所有，未經許可，不得抄襲、拷貝、複製或為任何使用，格蘭父子洋酒股份有限公司對於違反者保留法律追訴權利。</li>
                            <li>本活動屬競技競賽及機會中獎所得，依中華民國稅法規定，得獎獎項價值超過NT$20,000者，需由主辦單位預為扣繳10%之機會中獎所得稅額並開立扣繳憑單。凡獎項總價值NT$1,000以上達前述扣獎金額者不需扣繳，但主辦單位亦須依法開立個人綜合所得稅憑証，故凡得獎者，均需提供身分證影本作為憑證。拒絕提供身分證影本之中獎者，視同放棄中獎權益。中獎人另須提供姓名、戶籍地址及身分證正、反面影本，以供格蘭父子向主管機關進行年度列單申報作業。</li>
                            <li>本活動之參加人與兌獎人限居住於臺、澎、金、馬地區且持有中華民國身分證之國民參加，並且均需年滿18歲，資料若有不實，將取消參加及兌獎資格，主辦單位並保留法律追訴權。</li>
                            <li>若獲獎贈品為酒類，格蘭菲迪需確認中獎人年滿18歲符合飲酒年齡，兌獎人需攜帶身分證件親領，領取地點如下：<br>｜台北市敦化南路二段76號16樓 (02)2706-8839 (週一~週五上午10:00至晚上06:00)<br>｜私藏酒窖格蘭菲迪店 桃園市桃園區同德六街103號 (03)358-1289 <br>(週二~週日上午11:30至晚上08:30)<br>｜私藏酒窖台中百富店 台中市西屯區市政路68號1樓 (04)2258-9839<br>(週二~週日上午11:30至晚上08:30)<br>｜私藏酒窖高雄百富店 高雄市鼓山區明誠四路280號1樓 (07)555-9519 <br>(週二~週日上午11:30至晚上08:30)</li>
                            <li>主辦單位將保留變更、修改或終止本活動之權利，並保留對得獎資格之審核及本活動辦法及相關規範之最終決定權利，任何變更均自活動網站公佈時起即時生效；主辦單位並有權就本活動所有事宜進行審查並做出解釋，任何人均不得異議。</li>
                            <li>參加者保證所有填寫或提出之資料皆為真實且正確，且未冒用或盜用任何第三人之資料或智慧財產權。如有不實或違法之情事，主辦單位將有權取消其活動參加資格；如為中獎者，則取消其中獎資格。如因此致主辦單位無法通知其中獎訊息時，主辦單位將不負任何責任，且如有致損害於主辦單位或其他任何第三人，參加者應自負法律責任。</li>
                            <li>本活動若因參加者填寫資料不全或有誤，或其他任何因電腦、網路、電話、技術或不可歸責於主辦單位之事由，而使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，主辦單位不負任何法律責任，參加者亦不得因此異議。</li>
                            <li>本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，如經主辦單位查證發現不法作弊情形，將取消中獎資格。</li>
                            <li>任何破壞活動進行、破壞網站管理者的運作、違反網站管理者的使用條款者，主辦單位具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人主辦單位將追究其法律責任。</li>
                            <li>本活動注意事項如有未盡事宜，將於本活動網站上公佈修訂補充之內容。</li>
                            <li>參加本活動即表示同意接受上述條款，若有違反者，主辦單位格蘭父子洋酒股份有限公司有權取消參加人之參加、兌獎及獲獎資格。</li>
                            <li>若對本活動有任何疑問請洽格蘭菲迪執行單位客服信箱：glenfiddich1963@gmail.com (於周一至周五上午 10:00 - 下午 6:00 信件回覆。)</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/plugin/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js?JS=20151225_01"></script>
<script type="text/javascript" src="/Scripts/js/activity.js?JS=20151225_01"></script>
<!-- self page include js end -->
</html>