<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Scripts/plugin/perfect-scrollbar/css/perfect-scrollbar.min.css?CSS=20151225_01" />
    <link rel="stylesheet" type="text/css" href="/Content/css/channels.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <div class="l-content">
        <header class="channels-hd">
            <h2 class="main-title">
                <em>銷售通路</em>
                <i class="m-icon m-icon-nav-channels"></i>
            </h2>
            <div class="location-menu">
                <ul class="channel-selector">
                    <li class="list"><button class="location-button ga_click_trace is-curr" data-index="0" ga_cat="" ga_event="click" ga_label="">北北基</button></li>
                    <li class="list"><button class="location-button ga_click_trace" data-index="1" ga_cat="" ga_event="click" ga_label="">宜蘭花蓮</button></li>
                    <li class="list"><button class="location-button ga_click_trace" data-index="2" ga_cat="" ga_event="click" ga_label="">桃園新竹</button></li>
                    <li class="list"><button class="location-button ga_click_trace" data-index="3" ga_cat="" ga_event="click" ga_label="">中區</button></li>
                    <li class="list"><button class="location-button ga_click_trace" data-index="4" ga_cat="" ga_event="click" ga_label="">南區</button></li>
                    <li class="list"><button class="location-button ga_click_trace" data-index="5" ga_cat="" ga_event="click" ga_label="">澎湖金門</button></li>
                </ul>
                <span class="location-menu-arrow is-curr-01"></span>
            </div>
        </header>
        <div class="channels-bd">
            <ul class="location-tab">
                <li class="list">
                    <div class="box-list-area">
                        <em class="city-name">台北市</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">夆淞</em>
                                <address class="address">台北市信義區吳興街281巷26號</address>
                                <em class="tel">02-87804228</em>
                            </li>
                            <li class="list">
                                <em class="name">來客多</em>
                                <address class="address">台北市信義區永吉路470號</address>
                                <em class="tel">02-27661330</em>
                            </li>
                            <li class="list">
                                <em class="name">忠佳</em>
                                <address class="address">台北市信義區松德路287號</address>
                                <em class="tel">02-27596055</em>
                            </li>
                            <li class="list">
                                <em class="name">洪興</em>
                                <address class="address">台北市信義區松山路161巷3號</address>
                                <em class="tel">02-27642647</em>
                            </li>
                            <li class="list">
                                <em class="name">宏京</em>
                                <address class="address">台北市信義區莊敬路247號</address>
                                <em class="tel">02-87867780</em>
                            </li>
                            <li class="list">
                                <em class="name">佳賀菸酒-永吉</em>
                                <address class="address">台北市信義區永吉路120巷90號</address>
                                <em class="tel">02-77294999</em>
                            </li>
                            <li class="list">
                                <em class="name">康喜客</em>
                                <address class="address">台北市信義區光復北路136號</address>
                                <em class="tel">02-87707555</em>
                            </li>
                            <li class="list">
                                <em class="name">沃利特-利其</em>
                                <address class="address">台北市信義區永吉路278巷2-3號</address>
                                <em class="tel">02-27677007</em>
                            </li>
                            <li class="list">
                                <em class="name">特嘉</em>
                                <address class="address">台北市松山區八德路二段290號</address>
                                <em class="tel">02-27111791</em>
                            </li>
                            <li class="list">
                                <em class="name">皮蒙特-興安</em>
                                <address class="address">台北市松山區興安街149號</address>
                                <em class="tel">02-25410090</em>
                            </li>
                            <li class="list">
                                <em class="name">九樽</em>
                                <address class="address">台北市中正區忠孝東路二段5號</address>
                                <em class="tel">02-77286670</em>
                            </li>
                            <li class="list">
                                <em class="name">尚鼎</em>
                                <address class="address">台北市中山區龍江路356巷29號</address>
                                <em class="tel">02-25041748</em>
                            </li>
                            <li class="list">
                                <em class="name">銀豐</em>
                                <address class="address">台北市中山區林森北路133巷68號</address>
                                <em class="tel">02-25116804</em>
                            </li>
                            <li class="list">
                                <em class="name">金多酒</em>
                                <address class="address">台北市中山區林森北路438號</address>
                                <em class="tel">02-25216321</em>
                            </li>
                            <li class="list">
                                <em class="name">金盃</em>
                                <address class="address">台北市中山區林森北路341號</address>
                                <em class="tel">02-25811651</em>
                            </li>
                            <li class="list">
                                <em class="name">葡萄藤</em>
                                <address class="address">台北市中山區民權東路三段39巷15號</address>
                                <em class="tel">02-25029292</em>
                            </li>
                            <li class="list">
                                <em class="name">酒馳</em>
                                <address class="address">台北市中山區民權東路二段71巷47號</address>
                                <em class="tel">02-25930723</em>
                            </li>
                            <li class="list">
                                <em class="name">志匯</em>
                                <address class="address">台北市中山區中山北路二段59巷30號</address>
                                <em class="tel">02-25635603</em>
                            </li>
                            <li class="list">
                                <em class="name">柏達</em>
                                <address class="address">台北市中山區民權東路二段152巷22弄2號</address>
                                <em class="tel">02-25098480</em>
                            </li>
                            <li class="list">
                                <em class="name">酒藏</em>
                                <address class="address">台北市中山區長安東路一段53巷1-2號</address>
                                <em class="tel">02-25630488</em>
                            </li>
                            <li class="list">
                                <em class="name">富大-羅斯</em>
                                <address class="address">台北市中正區羅斯福路二段128號</address>
                                <em class="tel">02-23654638</em>
                            </li>
                            <li class="list">
                                <em class="name">慶醇</em>
                                <address class="address">台北市中山區民生東路二段47號</address>
                                <em class="tel">02-25218999</em>
                            </li>
                            <li class="list">
                                <em class="name">洋酒城-長安</em>
                                <address class="address">台北市中山區長安東路二段197號</address>
                                <em class="tel">02-27789338</em>
                            </li>
                            <li class="list">
                                <em class="name">洋酒城-南京</em>
                                <address class="address">台北市中山區南京東路二段49號</address>
                                <em class="tel">02-25239338</em>
                            </li>
                            <li class="list">
                                <em class="name">小樽</em>
                                <address class="address">台北市萬華區和平西路三段153號</address>
                                <em class="tel">02-23082015</em>
                            </li>
                            <li class="list">
                                <em class="name">品酩</em>
                                <address class="address">台北市萬華區萬大路449巷34號</address>
                                <em class="tel">02-23392939</em>
                            </li>
                            <li class="list">
                                <em class="name">酒國大亨</em>
                                <address class="address">台北市萬華區南寧路45-2號</address>
                                <em class="tel">02-23060102</em>
                            </li>
                            <li class="list">
                                <em class="name">小六子</em>
                                <address class="address">台北市萬華區中華路二段311巷6號</address>
                                <em class="tel">02-23079462</em>
                            </li>
                            <li class="list">
                                <em class="name">洹南</em>
                                <address class="address">台北市萬華區寶興街33號</address>
                                <em class="tel">02-23036692</em>
                            </li>
                            <li class="list">
                                <em class="name">齊泰</em>
                                <address class="address">台北市萬華區昆明街148-1號</address>
                                <em class="tel">02-23315147</em>
                            </li>
                            <li class="list">
                                <em class="name">浤福</em>
                                <address class="address">台北市萬華區民和街80巷14號</address>
                                <em class="tel">02-23039523</em>
                            </li>
                            <li class="list">
                                <em class="name">萬益</em>
                                <address class="address">台北市萬華區柳州街25號</address>
                                <em class="tel">02-23313269</em>
                            </li>
                            <li class="list">
                                <em class="name">美多課-東豐</em>
                                <address class="address">台北市大安區東豐街77號</address>
                                <em class="tel">02-27058721</em>
                            </li>
                            <li class="list">
                                <em class="name">樂活</em>
                                <address class="address">台北市大安區安和路一段102巷9號</address>
                                <em class="tel">02-27551808</em>
                            </li>
                            <li class="list">
                                <em class="name">金釀</em>
                                <address class="address">台北市大安區光復南路308巷21號</address>
                                <em class="tel">02-27319799</em>
                            </li>
                            <li class="list">
                                <em class="name">名酒集-復興店</em>
                                <address class="address">台北市大安區復興南路二段178號</address>
                                <em class="tel">02-27544329</em>
                            </li>
                            <li class="list">
                                <em class="name">珈品</em>
                                <address class="address">台北市大安區永康街42號之5</address>
                                <em class="tel">02-23578772</em>
                            </li>
                            <li class="list">
                                <em class="name">洋酒城-仁愛</em>
                                <address class="address">台北市大安區仁愛路四段112巷21號</address>
                                <em class="tel">02-27095168</em>
                            </li>
                            <li class="list">
                                <em class="name">英吉</em>
                                <address class="address">台北市大安區新生南路一段145巷10號</address>
                                <em class="tel">02-27043510</em>
                            </li>
                            <li class="list">
                                <em class="name">凱傑</em>
                                <address class="address">台北市大安區安和路二段27號</address>
                                <em class="tel">02-23258887</em>
                            </li>
                            <li class="list">
                                <em class="name">金瑞成</em>
                                <address class="address">台北市南港區忠孝東路七段587號</address>
                                <em class="tel">02-27862239</em>
                            </li>
                            <li class="list">
                                <em class="name">春達洋行</em>
                                <address class="address">台北市北投區磺港路288號</address>
                                <em class="tel">02-28965252</em>
                            </li>
                            <li class="list">
                                <em class="name">得易發</em>
                                <address class="address">台北市士林區華齡街33號1樓</address>
                                <em class="tel">02-28811882</em>
                            </li>
                            <li class="list">
                                <em class="name">銀盤</em>
                                <address class="address">台北市士林區大北路85號</address>
                                <em class="tel">02-28816828</em>
                            </li>
                            <li class="list">
                                <em class="name">排球屋</em>
                                <address class="address">台北市士林區士東街12號-1</address>
                                <em class="tel">02-28328972</em>
                            </li>
                            <li class="list">
                                <em class="name">劉恆裕行</em>
                                <address class="address">台北市大同區民生西路342號</address>
                                <em class="tel">02-25566928</em>
                            </li>
                            <li class="list">
                                <em class="name">洋酒城-內湖</em>
                                <address class="address">台北市內湖區內湖路一段365號</address>
                                <em class="tel">02-26275168</em>
                            </li>
                            <li class="list">
                                <em class="name">灃姵</em>
                                <address class="address">台北市內湖區安康路420號</address>
                                <em class="tel">02-26315761</em>
                            </li>
                            <li class="list">
                                <em class="name">新興</em>
                                <address class="address">台北市文山區景後街156號</address>
                                <em class="tel">02-29349205</em>
                            </li>
                            <li class="list">
                                <em class="name">富大-羅斯</em>
                                <address class="address">台北市中正區羅斯福路二段128號</address>
                                <em class="tel">02-23654638</em>
                            </li>
                            <li class="list">
                                <em class="name">名酒集-羅斯</em>
                                <address class="address">台北市中正區羅斯福路一段131號</address>
                                <em class="tel">02-23584825</em>
                            </li>
                        </ul>
                        <em class="city-name">新北市</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">協利</em>
                                <address class="address">新北市板橋區四維路291巷4弄13號</address>
                                <em class="tel">02-22582466</em>
                            </li>
                            <li class="list">
                                <em class="name">紅人</em>
                                <address class="address">新北市板橋區篤行路3段49號</address>
                                <em class="tel">02-26810990</em>
                            </li>
                            <li class="list">
                                <em class="name">展順商行</em>
                                <address class="address">新北市板橋區民治街73-1號</address>
                                <em class="tel">02-29661167</em>
                            </li>
                            <li class="list">
                                <em class="name">酒海</em>
                                <address class="address">新北市板橋區貴興路1號</address>
                                <em class="tel">02-29504515</em>
                            </li>
                            <li class="list">
                                <em class="name">御堡洋菸酒專賣店</em>
                                <address class="address">新北市板橋區板新路83號中午12:00開門</address>
                                <em class="tel">02-29648221</em>
                            </li>
                            <li class="list">
                                <em class="name">正琪</em>
                                <address class="address">新北市板橋區重慶路291號</address>
                                <em class="tel">02-89533600</em>
                            </li>
                            <li class="list">
                                <em class="name">皮蒙特- 板橋</em>
                                <address class="address">新北市板橋區文化路二段179號</address>
                                <em class="tel">02-25410090</em>
                            </li>
                            <li class="list">
                                <em class="name">新店洋菸酒</em>
                                <address class="address">新北市新店區中興路三段286號</address>
                                <em class="tel">02-29111796</em>
                            </li>
                            <li class="list">
                                <em class="name">Jacky菸酒坊</em>
                                <address class="address">新北市新店區復興路36號</address>
                                <em class="tel">02-29100123</em>
                            </li>
                            <li class="list">
                                <em class="name">昀森商行</em>
                                <address class="address">新北市新店區光明街186號</address>
                                <em class="tel">02-29141879</em>
                            </li>
                            <li class="list">
                                <em class="name">立萬行</em>
                                <address class="address">新北市五股區成泰路3段161號</address>
                                <em class="tel">02-22920807</em>
                            </li>
                            <li class="list">
                                <em class="name">緯聖</em>
                                <address class="address">新北市永和區信義路112號</address>
                                <em class="tel">02-29201255</em>
                            </li>
                            <li class="list">
                                <em class="name">洋酒城-雙和</em>
                                <address class="address">新北市永和區中山路一段322號</address>
                                <em class="tel">02-3233-9399</em>
                            </li>
                            <li class="list">
                                <em class="name">富淯</em>
                                <address class="address">新北市永和區中正路383號</address>
                                <em class="tel">02-29262188</em>
                            </li>
                            <li class="list">
                                <em class="name">嘉展</em>
                                <address class="address">新北市中和區景平路576號</address>
                                <em class="tel">02-22438361</em>
                            </li>
                            <li class="list">
                                <em class="name">展明行</em>
                                <address class="address">新北市中和區中和路188號</address>
                                <em class="tel">02-22481136</em>
                            </li>
                            <li class="list">
                                <em class="name">百亨行-民安西</em>
                                <address class="address">新北市新莊區民安西路194號</address>
                                <em class="tel">02-22064182</em>
                            </li>
                            <li class="list">
                                <em class="name">酒國商行</em>
                                <address class="address">新北市新莊區天祥街58號</address>
                                <em class="tel">02-29049226</em>
                            </li>
                            <li class="list">
                                <em class="name">極品洋酒</em>
                                <address class="address">新北市新莊區思源路419巷23號</address>
                                <em class="tel">02-29963690</em>
                            </li>
                            <li class="list">
                                <em class="name">新昌富-新莊</em>
                                <address class="address">新北市新莊區新樹路226號</address>
                                <em class="tel">02-22014720</em>
                            </li>
                            <li class="list">
                                <em class="name">喜沅商行</em>
                                <address class="address">新北市新莊區永樂街241號</address>
                                <em class="tel">02-89941632</em>
                            </li>
                            <li class="list">
                                <em class="name">青城洋酒</em>
                                <address class="address">新北市蘆洲區集賢路406號</address>
                                <em class="tel">02-22892457</em>
                            </li>
                            <li class="list">
                                <em class="name">酒霸王-蘆洲</em>
                                <address class="address">新北市蘆洲區中山一路258號</address>
                                <em class="tel">02-82860592</em>
                            </li>
                            <li class="list">
                                <em class="name">偉成洋酒</em>
                                <address class="address">新北市蘆洲區中正路217號</address>
                                <em class="tel">02-82858232</em>
                            </li>
                            <li class="list">
                                <em class="name">琮茂商行</em>
                                <address class="address">新北市蘆洲區中原路12巷15號</address>
                                <em class="tel">02-82827337</em>
                            </li>
                            <li class="list">
                                <em class="name">開翔洋煙酒</em>
                                <address class="address">新北市淡水區學府路59號</address>
                                <em class="tel">02-26202080</em>
                            </li>
                            <li class="list">
                                <em class="name">巨祥洋行</em>
                                <address class="address">新北市淡水區中正路90號</address>
                                <em class="tel">02-86314329</em>
                            </li>
                            <li class="list">
                                <em class="name">啤酒大學</em>
                                <address class="address">新北市淡水區北新路127號</address>
                                <em class="tel">02-26293357</em>
                            </li>
                            <li class="list">
                                <em class="name">萬展</em>
                                <address class="address">新北市淡水區水源街一段160號</address>
                                <em class="tel">02-26212283</em>
                            </li>
                            <li class="list">
                                <em class="name">加州-三重</em>
                                <address class="address">新北市三重區正義南路51號</address>
                                <em class="tel">0955-575080</em>
                            </li>
                            <li class="list">
                                <em class="name">酒龍商行</em>
                                <address class="address">新北市三重區龍門路160號</address>
                                <em class="tel">02-29703538</em>
                            </li>
                            <li class="list">
                                <em class="name">匯豐洋行</em>
                                <address class="address">新北市三重區自強路一段236號1F</address>
                                <em class="tel">02-29855688</em>
                            </li>
                            <li class="list">
                                <em class="name">豪久</em>
                                <address class="address">新北市三重區中正北路16號</address>
                                <em class="tel">02-29802450</em>
                            </li>
                            <li class="list">
                                <em class="name">啤酒大學三重店</em>
                                <address class="address">新北市三重區中正南路195號</address>
                                <em class="tel">0986-988688</em>
                            </li>
                            <li class="list">
                                <em class="name">宏聲展聲</em>
                                <address class="address">新北市三重區自強路二段9號</address>
                                <em class="tel">02-89822801</em>
                            </li>
                            <li class="list">
                                <em class="name">麥德理</em>
                                <address class="address">新北市土城區中央路一段170號</address>
                                <em class="tel">02-82616328</em>
                            </li>
                            <li class="list">
                                <em class="name">正誠行</em>
                                <address class="address">新北市三峽區國光街386號</address>
                                <em class="tel">02-26731515</em>
                            </li>
                        </ul>
                        <em class="city-name">基隆市</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">鉅花</em>
                                <address class="address">基隆市仁愛區忠四路14號</address>
                                <em class="tel">02-24223801</em>
                            </li>
                        </ul>
                        <p class="note">全省精選家樂福、大潤發、愛買、全聯社、美聯社、惠康、大買家、Costco、Jason’s Market、City  Super、皆有販售。(可撥打電話詢問最近的店家詢問)</p>
                    </div>
                </li>
                <li class="list b-hide-md b-hide-sm b-hide-xs">
                    <div class="box-list-area">
                        <em class="city-name">宜蘭</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">台灣酒莊</em>
                                <address class="address">宜蘭縣羅東鎮興東路299號</address>
                                <em class="tel">03-9571341</em>
                            </li>
                            <li class="list">
                                <em class="name">申野</em>
                                <address class="address">宜蘭縣宜蘭市慈安路10巷1弄78號</address>
                                <em class="tel">0933-986500</em>
                            </li>
                            <li class="list">
                                <em class="name">酒窩</em>
                                <address class="address">宜蘭縣礁溪鄉中山路二段29號</address>
                                <em class="tel">03-9887311</em>
                            </li>
                            <li class="list">
                                <em class="name">酒樂</em>
                                <address class="address">宜蘭縣宜蘭市舊城東路8-2號</address>
                                <em class="tel">0952-491892</em>
                            </li>
                            <li class="list">
                                <em class="name">明興商行</em>
                                <address class="address">宜蘭縣宜蘭市神農路1段28號</address>
                                <em class="tel">03-9325259</em>
                            </li>
                            <li class="list">
                                <em class="name">百晟</em>
                                <address class="address">宜蘭縣羅東鎮興東南路49號</address>
                                <em class="tel">0955-165599</em>
                            </li>
                        </ul>
                        <em class="city-name">花蓮</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">上醇</em>
                                <address class="address">花蓮縣吉安鄉中華路2段159號</address>
                                <em class="tel">0932-181865</em>
                            </li>
                            <li class="list">
                                <em class="name">金雄寰</em>
                                <address class="address">花蓮縣花蓮市博愛街135號</address>
                                <em class="tel">03-8645369</em>
                            </li>
                            <li class="list">
                                <em class="name">酒江街-總店</em>
                                <address class="address">花蓮縣花蓮市化道路99號</address>
                                <em class="tel">03-8222072</em>
                            </li>
                        </ul>
                        <p class="note">全省精選家樂福、大潤發、愛買、全聯社、美聯社、惠康、大買家、Costco、Jason’s Market、City  Super、皆有販售。(可撥打電話詢問最近的店家詢問)</p>
                    </div>
                </li>
                <li class="list b-hide-md b-hide-sm b-hide-xs">
                    <div class="box-list-area">
                        <em class="city-name">桃園</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">巨江洋酒</em>
                                <address class="address">桃園市大溪區介壽路924號</address>
                                <em class="tel">03-3802056</em>
                            </li>
                            <li class="list">
                                <em class="name">弘軒洋酒</em>
                                <address class="address">桃園市中壢區福州街107號</address>
                                <em class="tel">03-4560191</em>
                            </li>
                            <li class="list">
                                <em class="name">全球菸酒行-中壢店</em>
                                <address class="address">桃園市中壢區長春路171號1樓</address>
                                <em class="tel">03-4536017</em>
                            </li>
                            <li class="list">
                                <em class="name">松山洋行</em>
                                <address class="address">桃園市中壢區廈門街38號</address>
                                <em class="tel">03-4591512</em>
                            </li>
                            <li class="list">
                                <em class="name">光泉洋酒</em>
                                <address class="address">桃園市桃園區大興路7號</address>
                                <em class="tel">03-3554482</em>
                            </li>
                            <li class="list">
                                <em class="name">吉隆行</em>
                                <address class="address">桃園市桃園區民生路511號</address>
                                <em class="tel">03-3361899</em>
                            </li>
                            <li class="list">
                                <em class="name">桃山洋酒-桃園店</em>
                                <address class="address">桃園市桃園區民族路190號</address>
                                <em class="tel">03-3322455</em>
                            </li>
                            <li class="list">
                                <em class="name">金品名酒專賣店</em>
                                <address class="address">桃園市觀音區大觀路二段149號1樓</address>
                                <em class="tel">03-4830560</em>
                            </li>
                            <li class="list">
                                <em class="name">極市商行</em>
                                <address class="address">桃園市龜山區萬壽路二段632號</address>
                                <em class="tel">03-3500086</em>
                            </li>
                            <li class="list">
                                <em class="name">萬達洋行</em>
                                <address class="address">桃園市龜山區萬壽路二段850號</address>
                                <em class="tel">03-3597806</em>
                            </li>
                            <li class="list">
                                <em class="name">鋐釀酒坊</em>
                                <address class="address">桃園市龜山區復興一路308號1樓</address>
                                <em class="tel">03-3277289</em>
                            </li>
                            <li class="list">
                                <em class="name">全日發菸酒</em>
                                <address class="address">桃園市八德區福僑街47號</address>
                                <em class="tel">03-3715270</em>
                            </li>
                            <li class="list">
                                <em class="name">全日發-國際店</em>
                                <address class="address">桃園市八德區國際路48號1樓</address>
                                <em class="tel">03-3677099</em>
                            </li>
                            <li class="list">
                                <em class="name">宸瀧洋酒</em>
                                <address class="address">桃園市八德區義勇街35號</address>
                                <em class="tel">03-3779919</em>
                            </li>
                            <li class="list">
                                <em class="name">酩亨洋酒</em>
                                <address class="address">桃園市蘆竹區中山路85-2號</address>
                                <em class="tel">03-3211321</em>
                            </li>
                        </ul>
                        <em class="city-name">新竹</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">沃利特-新竹</em>
                                <address class="address">新竹縣竹北市縣政九路135巷36號1.2樓</address>
                                <em class="tel">03-6572162</em>
                            </li>
                            <li class="list">
                                <em class="name">正泓洋酒</em>
                                <address class="address">新竹縣竹北市博愛街204-1號</address>
                                <em class="tel">03-6565166</em>
                            </li>
                            <li class="list">
                                <em class="name">旭亨洋酒-竹北</em>
                                <address class="address">新竹縣竹北市縣政二路512號</address>
                                <em class="tel">03-5557388</em>
                            </li>
                            <li class="list">
                                <em class="name">旭亨洋酒-自強</em>
                                <address class="address">新竹縣竹北市自強北路158號</address>
                                <em class="tel">03-6682822</em>
                            </li>
                            <li class="list">
                                <em class="name">旭亨洋酒-高鐵</em>
                                <address class="address">新竹縣竹北市嘉豐南路二段182號1樓</address>
                                <em class="tel">03-6579977</em>
                            </li>
                            <li class="list">
                                <em class="name">國暉菸酒</em>
                                <address class="address">新竹市北區延平路一段390號</address>
                                <em class="tel">03-5256599</em>
                            </li>
                            <li class="list">
                                <em class="name">大豐行</em>
                                <address class="address">新竹市北區北門街193號</address>
                                <em class="tel">03-5253092</em>
                            </li>
                            <li class="list">
                                <em class="name">茂豐行</em>
                                <address class="address">新竹市北區林森路275號</address>
                                <em class="tel">03-5248788</em>
                            </li>
                            <li class="list">
                                <em class="name">新茂洋</em>
                                <address class="address">新竹市北區經國路二段249號</address>
                                <em class="tel">03-5334579</em>
                            </li>
                            <li class="list">
                                <em class="name">清濱商行</em>
                                <address class="address">新竹市香山區牛埔里牛埔南路532號一樓</address>
                                <em class="tel">03-5381225</em>
                            </li>
                            <li class="list">
                                <em class="name">京玖洋酒</em>
                                <address class="address">新竹市香山區牛埔東路307號1樓</address>
                                <em class="tel">03-5302917</em>
                            </li>
                            <li class="list">
                                <em class="name">華江洋酒</em>
                                <address class="address">新竹市香山區延平路二段163號</address>
                                <em class="tel">03-5300378</em>
                            </li>
                            <li class="list">
                                <em class="name">旭亨洋酒-巨城</em>
                                <address class="address">新竹市東區民權路229號</address>
                                <em class="tel">03-5328666</em>
                            </li>
                            <li class="list">
                                <em class="name">旭品洋酒</em>
                                <address class="address">新竹市東區東門街104號1樓</address>
                                <em class="tel">03-5222622</em>
                            </li>
                        </ul>
                        <p class="note">全省精選家樂福、大潤發、愛買、全聯社、美聯社、惠康、大買家、Costco、Jason’s Market、City  Super、皆有販售。(可撥打電話詢問最近的店家詢問)</p>
                    </div>
                </li>
                <li class="list b-hide-md b-hide-sm b-hide-xs">
                    <div class="box-list-area">
                        <em class="city-name">台中</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">酒號倉庫</em>
                                <address class="address">台中市大里區爽文路1121號</address>
                                <em class="tel">04-24063246</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-大里店</em>
                                <address class="address">台中市大里區中興路一段11-4號</address>
                                <em class="tel">04-24960639</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-內新店</em>
                                <address class="address">台中市大里區中興路二段576號</address>
                                <em class="tel">04-24860869</em>
                            </li>
                            <li class="list">
                                <em class="name">開普洋酒(豐雅)</em>
                                <address class="address">台中市北區太原路三段39-1號</address>
                                <em class="tel">04-22325789</em>
                            </li>
                            <li class="list">
                                <em class="name">聯力洋酒</em>
                                <address class="address">台中市北區精武路250號</address>
                                <em class="tel">04-22121088</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-北平店</em>
                                <address class="address">台中市北區北平路二段186號</address>
                                <em class="tel">04-22910959</em>
                            </li>
                            <li class="list">
                                <em class="name">康尼克洋酒</em>
                                <address class="address">台中市北區太原路一段478-1號</address>
                                <em class="tel">04-22061372</em>
                            </li>
                            <li class="list">
                                <em class="name">酒甕</em>
                                <address class="address">台中市北區漢口路4段230號</address>
                                <em class="tel">04-22357646</em>
                            </li>
                            <li class="list">
                                <em class="name">鴻譽煙酒</em>
                                <address class="address">台中市東區自由路三段119號</address>
                                <em class="tel">04-22118988</em>
                            </li>
                            <li class="list">
                                <em class="name">大衛洋酒</em>
                                <address class="address">台中市東區建成路733號</address>
                                <em class="tel">04-22831199</em>
                            </li>
                            <li class="list">
                                <em class="name">一品夫人洋酒-台中樂業</em>
                                <address class="address">台中市東區樂業路211號</address>
                                <em class="tel">04-21111765</em>
                            </li>
                            <li class="list">
                                <em class="name">宸來洋酒專賣店</em>
                                <address class="address">台中市西區東興路三段17號</address>
                                <em class="tel">04-24729877</em>
                            </li>
                            <li class="list">
                                <em class="name">瑞典洋酒</em>
                                <address class="address">台中市西區大業路3號</address>
                                <em class="tel">04-23100995</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-五權店</em>
                                <address class="address">台中市西區五權路181號1樓</address>
                                <em class="tel">04-22020958</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-公益店</em>
                                <address class="address">台中市西區公益路337號1樓</address>
                                <em class="tel">04-23205634</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-美村店</em>
                                <address class="address">台中市西區美村路一段268號1F</address>
                                <em class="tel">04-23059112</em>
                            </li>
                            <li class="list">
                                <em class="name">富雅酒莊</em>
                                <address class="address">台中市西區中興街122巷19號</address>
                                <em class="tel">04-23013699</em>
                            </li>
                            <li class="list">
                                <em class="name">南區楊-泰湧商行</em>
                                <address class="address">台中市南區南平一街132號</address>
                                <em class="tel">04-22656789</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-復興總店</em>
                                <address class="address">台中市南區復興路二段120-6號</address>
                                <em class="tel">04-22636099</em>
                            </li>
                            <li class="list">
                                <em class="name">榮晟</em>
                                <address class="address">台中市中區中華路一段80號</address>
                                <em class="tel">04-22208780</em>
                            </li>
                            <li class="list">
                                <em class="name">龍穴酒坊</em>
                                <address class="address">台中市西屯區大墩路980號</address>
                                <em class="tel">04-23103531</em>
                            </li>
                            <li class="list">
                                <em class="name">安迪-均典洋酒</em>
                                <address class="address">台中市西屯區寧夏路217號</address>
                                <em class="tel">04-23173430</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-漢口店</em>
                                <address class="address">台中市西屯區西屯路二段32-1號</address>
                                <em class="tel">04-23143359</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-中科店</em>
                                <address class="address">台中市西屯區西屯路三段101號</address>
                                <em class="tel">04-24621559</em>
                            </li>
                            <li class="list">
                                <em class="name">酒湖洋酒-安和</em>
                                <address class="address">台中市西屯區安和路151號</address>
                                <em class="tel">04-24625711</em>
                            </li>
                            <li class="list">
                                <em class="name">紅頂洋酒-台中環中</em>
                                <address class="address">台中市南屯區環中路四段58-8號</address>
                                <em class="tel">04-23850480</em>
                            </li>
                            <li class="list">
                                <em class="name">收藏家洋酒(真藏家)</em>
                                <address class="address">台中市南屯區永春東路198號</address>
                                <em class="tel">04-24739696</em>
                            </li>
                            <li class="list">
                                <em class="name">葡晶洋酒-市政店</em>
                                <address class="address">台中市南屯區河南路四段79號</address>
                                <em class="tel">04-22516611</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-大墩店</em>
                                <address class="address">台中市南屯區大墩路184號</address>
                                <em class="tel">04-24715809</em>
                            </li>
                            <li class="list">
                                <em class="name">群茂商店</em>
                                <address class="address">台中市北屯區東山路一段326號</address>
                                <em class="tel">04-24368319</em>
                            </li>
                            <li class="list">
                                <em class="name">大墩洋酒</em>
                                <address class="address">台中市北屯區東山路一段148號</address>
                                <em class="tel">04-22224834</em>
                            </li>
                            <li class="list">
                                <em class="name">品藏洋酒</em>
                                <address class="address">台中市北屯區東山路一段226號</address>
                                <em class="tel">04-24376878</em>
                            </li>
                            <li class="list">
                                <em class="name">寶佳洋酒</em>
                                <address class="address">台中市北屯區崇德路二段492號</address>
                                <em class="tel">04-22491710</em>
                            </li>
                            <li class="list">
                                <em class="name">葡晶洋酒-中清店</em>
                                <address class="address">台中市北屯區中清路54號1樓</address>
                                <em class="tel">04-22978055</em>
                            </li>
                            <li class="list">
                                <em class="name">以全商行</em>
                                <address class="address">台中市潭子區中山路2段474-2號</address>
                                <em class="tel">04-25331621</em>
                            </li>
                            <li class="list">
                                <em class="name">歐巴馬洋煙酒專賣店</em>
                                <address class="address">台中市清水區中華路609-1號</address>
                                <em class="tel">04-26281077</em>
                            </li>
                            <li class="list">
                                <em class="name">拉菲洋酒</em>
                                <address class="address">台中市大雅區雅潭路298-60號</address>
                                <em class="tel">04-25673819</em>
                            </li>
                            <li class="list">
                                <em class="name">松賀洋酒-太平</em>
                                <address class="address">台中市太平區東平路800號</address>
                                <em class="tel">04-22791119</em>
                            </li>
                            <li class="list">
                                <em class="name">昱昌洋酒</em>
                                <address class="address">台中市太平區樹孝路105號</address>
                                <em class="tel">04-23935229</em>
                            </li>
                            <li class="list">
                                <em class="name">利百加煙酒專賣店-中山店</em>
                                <address class="address">台中市太平區中山路四段124號</address>
                                <em class="tel">04-23950749</em>
                            </li>
                            <li class="list">
                                <em class="name">全好行(展錩)</em>
                                <address class="address">台中市大甲區經國路一號</address>
                                <em class="tel">04-26868071</em>
                            </li>
                            <li class="list">
                                <em class="name">酒湖洋酒-大甲</em>
                                <address class="address">台中市大甲區中山路一段486號</address>
                                <em class="tel">04-26805836</em>
                            </li>
                            <li class="list">
                                <em class="name">明倫商行</em>
                                <address class="address">台中市豐原區中山路399號</address>
                                <em class="tel">04-25156168</em>
                            </li>
                            <li class="list">
                                <em class="name">京旺商行(霧峰店)</em>
                                <address class="address">台中市霧峰區中正路831號</address>
                                <em class="tel">04-23397126</em>
                            </li>
                            <li class="list">
                                <em class="name">酒江村煙酒行</em>
                                <address class="address">台中市神岡區大富路9號1樓</address>
                                <em class="tel">04-25278861</em>
                            </li>
                        </ul>
                        <em class="city-name">南投</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">宏龍煙酒專賣</em>
                                <address class="address">南投縣南投市彰南路3段132號</address>
                                <em class="tel">04-92260699</em>
                            </li>
                            <li class="list">
                                <em class="name">文和洋酒(信龍)</em>
                                <address class="address">南投縣南投市三合里復興路119號</address>
                                <em class="tel">04-92224601</em>
                            </li>
                            <li class="list">
                                <em class="name">金利洋酒</em>
                                <address class="address">南投縣埔里鎮西安路一段95號</address>
                                <em class="tel">04-9987247</em>
                            </li>
                            <li class="list">
                                <em class="name">台元洋酒</em>
                                <address class="address">南投縣竹山鎮大明路233號</address>
                                <em class="tel">04-92653393</em>
                            </li>
                            <li class="list">
                                <em class="name">桂冠酒坊</em>
                                <address class="address">南投縣竹山鎮大明路538號</address>
                                <em class="tel">04-92641411</em>
                            </li>
                            <li class="list">
                                <em class="name">元太</em>
                                <address class="address">南投縣草屯鎮和平街4號</address>
                                <em class="tel">049-2322008</em>
                            </li>
                            <li class="list">
                                <em class="name">大禾屋商行</em>
                                <address class="address">南投縣草屯鎮上林里太平路一段139號</address>
                                <em class="tel">04-92312965</em>
                            </li>
                            <li class="list">
                                <em class="name">美滿商行</em>
                                <address class="address">南投縣草屯鎮敦和路82-3號</address>
                                <em class="tel">04-92330965</em>
                            </li>
                        </ul>
                        <em class="city-name">嘉義</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">全球菸酒-民雄店</em>
                                <address class="address">嘉義縣民雄鄉西安路35-17號</address>
                                <em class="tel">05-2269521</em>
                            </li>
                            <li class="list">
                                <em class="name">日昇行</em>
                                <address class="address">嘉義縣大林鎮瑞德路102號</address>
                                <em class="tel">05-2642178</em>
                            </li>
                            <li class="list">
                                <em class="name">品味族菸酒專賣店</em>
                                <address class="address">嘉義縣新港鄉中山路137號</address>
                                <em class="tel">05-3741199</em>
                            </li>
                            <li class="list">
                                <em class="name">原力食品商行</em>
                                <address class="address">嘉義市東區吳鳳南路376號</address>
                                <em class="tel">05-2396719</em>
                            </li>
                            <li class="list">
                                <em class="name">晉福商號</em>
                                <address class="address">嘉義市西區民生北路233號</address>
                                <em class="tel">05-2225943</em>
                            </li>
                            <li class="list">
                                <em class="name">益順菸酒</em>
                                <address class="address">嘉義市西區新民路422號</address>
                                <em class="tel">05-2355589</em>
                            </li>
                            <li class="list">
                                <em class="name">萬鴻菸酒(合泰)</em>
                                <address class="address">嘉義市西區興業西路71號</address>
                                <em class="tel">05-2861698</em>
                            </li>
                            <li class="list">
                                <em class="name">建成菸酒</em>
                                <address class="address">嘉義市西區建成街62號</address>
                                <em class="tel">05-2858663</em>
                            </li>
                            <li class="list">
                                <em class="name">原力食品商行</em>
                                <address class="address">嘉義市東區吳鳳南路376號</address>
                                <em class="tel">05-2396719</em>
                            </li>
                            <li class="list">
                                <em class="name">全球菸酒-太保店</em>
                                <address class="address">嘉義縣太保市中山路一段788號</address>
                                <em class="tel">05-2371006</em>
                            </li>
                        </ul>
                        <em class="city-name">苗栗</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">大登菸酒專賣</em>
                                <address class="address">苗栗縣通霄鎮福德路20號</address>
                                <em class="tel">03-7758095</em>
                            </li>
                            <li class="list">
                                <em class="name">東益洋菸酒(永愉行)</em>
                                <address class="address">苗栗縣苑裡鎮客庄里30鄰客庄94號</address>
                                <em class="tel">03-7862063</em>
                            </li>
                            <li class="list">
                                <em class="name">薄酒萊洋酒苑裡店<br>(祥豐商行、宏美)</em>
                                <address class="address">苗栗縣苑裡鎮博愛路二號</address>
                                <em class="tel">03-7861129</em>
                            </li>
                            <li class="list">
                                <em class="name">尚進</em>
                                <address class="address">苗栗縣苗栗市為公路179號</address>
                                <em class="tel">037-261223</em>
                            </li>
                        </ul>
                        <em class="city-name">彰化</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">吉福(太極酒井)</em>
                                <address class="address">彰化縣和美鎮彰和路2段524號</address>
                                <em class="tel">04-7367676</em>
                            </li>
                            <li class="list">
                                <em class="name">在地菸酒</em>
                                <address class="address">彰化縣埤頭鄉斗苑西路283號</address>
                                <em class="tel">04-8929740</em>
                            </li>
                            <li class="list">
                                <em class="name">青旺煙酒</em>
                                <address class="address">彰化縣埤頭鄉合興村文鄉路72號</address>
                                <em class="tel">04-8910252</em>
                            </li>
                            <li class="list">
                                <em class="name">年代菸酒專賣店</em>
                                <address class="address">彰化縣田中鎮東路里南北街140號</address>
                                <em class="tel">04-8745016</em>
                            </li>
                            <li class="list">
                                <em class="name">茂全菸酒行</em>
                                <address class="address">彰化縣溪州鄉溪州路村中山路三段328號</address>
                                <em class="tel">04-8890393</em>
                            </li>
                            <li class="list">
                                <em class="name">永承商行</em>
                                <address class="address">彰化縣北斗鎮斗苑路二段71號</address>
                                <em class="tel">04-8874055</em>
                            </li>
                            <li class="list">
                                <em class="name">旭昇煙酒有限公司</em>
                                <address class="address">彰化縣彰化市中山路一段413號</address>
                                <em class="tel">04-7513579</em>
                            </li>
                            <li class="list">
                                <em class="name">梅山洋行</em>
                                <address class="address">彰化縣員林鎮雙平路17號1樓</address>
                                <em class="tel">04-8321702</em>
                            </li>
                            <li class="list">
                                <em class="name">酒樂洋行</em>
                                <address class="address">彰化縣員林鎮三民東街63號</address>
                                <em class="tel">04-8397566</em>
                            </li>
                            <li class="list">
                                <em class="name">薄酒萊洋酒員林店-宏亞</em>
                                <address class="address">彰化縣員林鎮浮圳路二段25號</address>
                                <em class="tel">04-8395599</em>
                            </li>
                        </ul>
                        <em class="city-name">雲林</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">全佑煙酒專賣店</em>
                                <address class="address">雲林縣北港鎮公園路111號</address>
                                <em class="tel">05-7824388</em>
                            </li>
                            <li class="list">
                                <em class="name">佳亨洋行</em>
                                <address class="address">雲林縣斗六市明德北路二段81號</address>
                                <em class="tel">05-5325898</em>
                            </li>
                            <li class="list">
                                <em class="name">勝輝商行</em>
                                <address class="address">雲林縣崙背鄉大明街38號</address>
                                <em class="tel">05-6969362</em>
                            </li>
                            <li class="list">
                                <em class="name">全球菸酒-北港店</em>
                                <address class="address">雲林縣北港鎮華勝路61號</address>
                                <em class="tel">05-7835298</em>
                            </li>
                            <li class="list">
                                <em class="name">全球菸酒-虎尾光復</em>
                                <address class="address">雲林縣虎尾鎮光復路331號</address>
                                <em class="tel">05-6338005</em>
                            </li>
                            <li class="list">
                                <em class="name">榮興商店</em>
                                <address class="address">雲林縣斗南鎮義德路100號</address>
                                <em class="tel">05-5972468</em>
                            </li>
                        </ul>
                        <p class="note">全省精選家樂福、大潤發、愛買、全聯社、美聯社、惠康、大買家、Costco、Jason’s Market、City  Super、皆有販售。(可撥打電話詢問最近的店家詢問)</p>
                    </div>
                </li>
                <li class="list b-hide-md b-hide-sm b-hide-xs">
                    <div class="box-list-area">
                        <em class="city-name">台南</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">大大酒莊</em>
                                <address class="address">台南市安平區中華西路2段573號</address>
                                <em class="tel">06-2803078</em>
                            </li>
                            <li class="list">
                                <em class="name">大榮菸酒</em>
                                <address class="address">台南市安平區民權路四段40號</address>
                                <em class="tel">06-2502119</em>
                            </li>
                            <li class="list">
                                <em class="name">賀鼎菸酒</em>
                                <address class="address">台南市安平區永華路二段690號</address>
                                <em class="tel">06-2930022</em>
                            </li>
                            <li class="list">
                                <em class="name">順飲菸酒-永華總店</em>
                                <address class="address">台南市安平區永華路二段678號</address>
                                <em class="tel">06-2999123</em>
                            </li>
                            <li class="list">
                                <em class="name">皇冠洋行</em>
                                <address class="address">台南市歸仁區大順街5號</address>
                                <em class="tel">06-2303073</em>
                            </li>
                            <li class="list">
                                <em class="name">僑領菸酒</em>
                                <address class="address">台南市佳里區中山路225號</address>
                                <em class="tel">06-7235078</em>
                            </li>
                            <li class="list">
                                <em class="name">醇爵洋酒</em>
                                <address class="address">台南市中西區海安路一段26號</address>
                                <em class="tel">06-2200507</em>
                            </li>
                            <li class="list">
                                <em class="name">州翔菸酒公司</em>
                                <address class="address">台南市中西區西和路220號</address>
                                <em class="tel">06-2586958</em>
                            </li>
                            <li class="list">
                                <em class="name">鴻泰昌煙酒專賣店賣店</em>
                                <address class="address">台南市中西區民權路一段214號</address>
                                <em class="tel">06-2221226</em>
                            </li>
                            <li class="list">
                                <em class="name">漢時葡萄酒雪茄會館-KA</em>
                                <address class="address">台南市北區金華路五段22號</address>
                                <em class="tel">06-2260098</em>
                            </li>
                            <li class="list">
                                <em class="name">御聖菸酒商行</em>
                                <address class="address">台南市北區和緯路4段215號</address>
                                <em class="tel">06-3505696</em>
                            </li>
                            <li class="list">
                                <em class="name">冠洋酒禮坊</em>
                                <address class="address">台南市北區北安路二段210號</address>
                                <em class="tel">06-2560022</em>
                            </li>
                            <li class="list">
                                <em class="name">鼎大煙酒(榮紳商行)</em>
                                <address class="address">台南市北區中華北路一段78巷25號</address>
                                <em class="tel">06-3588898</em>
                            </li>
                            <li class="list">
                                <em class="name">合歡菸酒-小東店</em>
                                <address class="address">台南市東區小東路330號</address>
                                <em class="tel">06-2756621</em>
                            </li>
                            <li class="list">
                                <em class="name">廣來煙酒專賣店</em>
                                <address class="address">台南市南區大同路2段139號</address>
                                <em class="tel">06-2146272</em>
                            </li>
                            <li class="list">
                                <em class="name">宏瑋煙酒行</em>
                                <address class="address">台南市永康區大灣路578號</address>
                                <em class="tel">06-2059050</em>
                            </li>
                            <li class="list">
                                <em class="name">高僑煙酒專賣店賣店</em>
                                <address class="address">台南市安南區海佃路一段99號</address>
                                <em class="tel">06-3506423</em>
                            </li>
                            <li class="list">
                                <em class="name">隆來洋菸酒</em>
                                <address class="address">台南市新營區三民路42-1號</address>
                                <em class="tel">06-6358460</em>
                            </li>
                        </ul>
                        <em class="city-name">高雄</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">長慶洋行</em>
                                <address class="address">高雄市三民區漢口街333號</address>
                                <em class="tel">07-3153838</em>
                            </li>
                            <li class="list">
                                <em class="name">東良洋煙酒</em>
                                <address class="address">高雄市三民區北平二街187號</address>
                                <em class="tel">07-3155795</em>
                            </li>
                            <li class="list">
                                <em class="name">嘉瑝洋酒行</em>
                                <address class="address">高雄市三民區澄清路381號</address>
                                <em class="tel">07-3986404</em>
                            </li>
                            <li class="list">
                                <em class="name">廣財</em>
                                <address class="address">高雄市三民區民族一路591號</address>
                                <em class="tel">07-3599955</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-九如</em>
                                <address class="address">高雄市三民區九如一路229號</address>
                                <em class="tel">07-3873300</em>
                            </li>
                            <li class="list">
                                <em class="name">全麥洋行-永仁</em>
                                <address class="address">高雄市仁武區八卦村永仁路313號</address>
                                <em class="tel">07-3731801</em>
                            </li>
                            <li class="list">
                                <em class="name">多多</em>
                                <address class="address">高雄市仁武區仁忠路60號</address>
                                <em class="tel">07-3755371</em>
                            </li>
                            <li class="list">
                                <em class="name">品原</em>
                                <address class="address">高雄市仁武區仁雄路86-3號</address>
                                <em class="tel">07-3759550</em>
                            </li>
                            <li class="list">
                                <em class="name">酒市場(夏都)</em>
                                <address class="address">高雄市鹽埕區七賢三路87號</address>
                                <em class="tel">07-5337040</em>
                            </li>
                            <li class="list">
                                <em class="name">尊城洋酒-興華</em>
                                <address class="address">高雄市鹽埕區興華街9號</address>
                                <em class="tel">07-5511271</em>
                            </li>
                            <li class="list">
                                <em class="name">豪鑽行</em>
                                <address class="address">高雄市苓雅區武廟路159之3號</address>
                                <em class="tel">07-7229255</em>
                            </li>
                            <li class="list">
                                <em class="name">條通</em>
                                <address class="address">高雄市苓雅區光華一路36號</address>
                                <em class="tel">07-7228800</em>
                            </li>
                            <li class="list">
                                <em class="name">尊城洋酒-青年</em>
                                <address class="address">高雄市苓雅區青年一路8-5號</address>
                                <em class="tel">07-2232693</em>
                            </li>
                            <li class="list">
                                <em class="name">大眾洋酒-岡山</em>
                                <address class="address">高雄市岡山區柳橋東路9-1號</address>
                                <em class="tel">07-6296157</em>
                            </li>
                            <li class="list">
                                <em class="name">洺譯洋行</em>
                                <address class="address">高雄市岡山區民族路183號</address>
                                <em class="tel">07-6259215</em>
                            </li>
                            <li class="list">
                                <em class="name">金門菸酒</em>
                                <address class="address">高雄市岡山區岡山路262號</address>
                                <em class="tel">07-6218601</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-岡山</em>
                                <address class="address">高雄市岡山區岡山路393號</address>
                                <em class="tel">07-6230055</em>
                            </li>
                            <li class="list">
                                <em class="name">允泰洋酒-金府</em>
                                <address class="address">高雄市小港區金府路145號</address>
                                <em class="tel">07-8053909</em>
                            </li>
                            <li class="list">
                                <em class="name">揚昇</em>
                                <address class="address">高雄市小港區鳳甲路149號</address>
                                <em class="tel">0919-766737</em>
                            </li>
                            <li class="list">
                                <em class="name">康樺行-小港</em>
                                <address class="address">高雄市小港區中安路650號</address>
                                <em class="tel">07-7912757</em>
                            </li>
                            <li class="list">
                                <em class="name">大用</em>
                                <address class="address">高雄市前金區新田路233號</address>
                                <em class="tel">07-2415578</em>
                            </li>
                            <li class="list">
                                <em class="name">品鑫</em>
                                <address class="address">高雄市楠梓區軍校路862號</address>
                                <em class="tel">07-3625588</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-楠梓</em>
                                <address class="address">高雄市楠梓區鳳楠路150號</address>
                                <em class="tel">07-3581333</em>
                            </li>
                            <li class="list">
                                <em class="name">亨銘</em>
                                <address class="address">高雄市前鎮區光華二路300號</address>
                                <em class="tel">07-7130209</em>
                            </li>
                            <li class="list">
                                <em class="name">福記洋酒-五甲店</em>
                                <address class="address">高雄市前鎮區五甲二路740號</address>
                                <em class="tel">07-8138811</em>
                            </li>
                            <li class="list">
                                <em class="name">福記洋酒-瑞隆店</em>
                                <address class="address">高雄市前鎮區瑞隆路597號</address>
                                <em class="tel">07-7613656</em>
                            </li>
                            <li class="list">
                                <em class="name">呂記洋酒</em>
                                <address class="address">高雄市前鎮區鎮東一街143號</address>
                                <em class="tel">07-8318545</em>
                            </li>
                            <li class="list">
                                <em class="name">翊興行-文化</em>
                                <address class="address">高雄市鳳山區文化西路170號</address>
                                <em class="tel">07-7779062</em>
                            </li>
                            <li class="list">
                                <em class="name">開普洋菸酒-鳳山</em>
                                <address class="address">高雄市鳳山區青年路一段360號1樓</address>
                                <em class="tel">07-7478152</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-中崙</em>
                                <address class="address">高雄市鳳山區中崙二路537號</address>
                                <em class="tel">07-7550000</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-建國</em>
                                <address class="address">高雄市鳳山區建國路三段269號</address>
                                <em class="tel">07-7407700</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-鳳山</em>
                                <address class="address">高雄市鳳山區光遠路426號</address>
                                <em class="tel">07-7106661</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-大寮</em>
                                <address class="address">高雄市大寮區鳳林三路66號</address>
                                <em class="tel">07-7868877</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-中庄</em>
                                <address class="address">高雄市大寮區鳳屏一路183號</address>
                                <em class="tel">07-7037000</em>
                            </li>
                            <li class="list">
                                <em class="name">寶檳洋酒-路竹</em>
                                <address class="address">高雄市路竹區中山路716號之1</address>
                                <em class="tel">07-6977000</em>
                            </li>
                            <li class="list">
                                <em class="name">振昌洋行-萬寶龍</em>
                                <address class="address">高雄市鼓山區明誠三路638號</address>
                                <em class="tel">07-5557999</em>
                            </li>
                            <li class="list">
                                <em class="name">鼓山莊-美濃</em>
                                <address class="address">高雄市美濃區中正路2段185號</address>
                                <em class="tel">0933-592924</em>
                            </li>
                            <li class="list">
                                <em class="name">大第洋行</em>
                                <address class="address">高雄市左營區自由二路125號</address>
                                <em class="tel">07-5561366</em>
                            </li>
                            <li class="list">
                                <em class="name">柯林頓煙酒-自立</em>
                                <address class="address">高雄市新興區自立二路80號</address>
                                <em class="tel">07-2853267</em>
                            </li>
                            <li class="list">
                                <em class="name">奕欣-旗津</em>
                                <address class="address">高雄市旗津區大關路41號1樓</address>
                                <em class="tel">07-5711271</em>
                            </li>
                            <li class="list">
                                <em class="name">達酒菸酒行</em>
                                <address class="address">高雄市左營區重信路549號</address>
                                <em class="tel">07-3479929</em>
                            </li>
                        </ul>
                        <em class="city-name">屏東</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">百利商行</em>
                                <address class="address">屏東縣恆春鎮中正路138號</address>
                                <em class="tel">08-8892615</em>
                            </li>
                        </ul>
                        <p class="note">全省精選家樂福、大潤發、愛買、全聯社、美聯社、惠康、大買家、Costco、Jason’s Market、City  Super、皆有販售。(可撥打電話詢問最近的店家詢問)</p>
                    </div>
                </li>
                <li class="list b-hide-md b-hide-sm b-hide-xs">
                    <div class="box-list-area">
                        <em class="city-name">澎湖</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">大順商行</em>
                                <address class="address">澎湖縣馬公市朝陽里陽明路64號</address>
                                <em class="tel">06-9261777</em>
                            </li>
                        </ul>
                        <em class="city-name">金門</em>
                        <ul class="store-list">
                            <li class="list">
                                <em class="name">丹一麥國際洋行-金湖店</em>
                                <address class="address">金門縣金湖鎮新市里復興路6-1號</address>
                                <em class="tel">082-335880</em>
                            </li>
                            <li class="list">
                                <em class="name">丹一麥國際洋行-金城店</em>
                                <address class="address">金門縣金城鎮中興路146巷6-1號</address>
                                <em class="tel">0912-769209</em>
                            </li>
                        </ul>
                        <p class="note">全省精選家樂福、大潤發、愛買、全聯社、美聯社、惠康、大買家、Costco、Jason’s Market、City  Super、皆有販售。(可撥打電話詢問最近的店家詢問)</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/plugin/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js?JS=20151225_01"></script>
<script type="text/javascript" src="/Scripts/js/channels.js?JS=20151225_01"></script>
<!-- self page include js end -->
</html>