<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/index.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-load" data-hide="b-hide" data-cloak="b-cloak">
        <div class="m-load">
            <div class="m-load-bd">
                <div>
                    <span class="m-icon-stack m-icon-stack-logos-ver">
                        <i class="m-icon m-icon-stack-logo-ver"></i>
                        <i class="m-icon m-icon-stack-logo-text-ver is-absolute"></i>
                        <i class="m-icon m-icon-stack-logo-info-ver is-absolute"></i>
                    </span>
                </div>
                <span class="m-load-line">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
                <em class="jQ-percentage">0%</em>
            </div>
        </div>
    </div>
    <div class="l-content" data-blur="is-blur">
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
        <div class="index-content">
            <section class="index-section jQ-section" data-lock="is-lock">
                <header class="index-section-hd">
                    <p><i class="m-icon m-icon-text-glenfiddich"></i></p>
                    <h2>
                        <em>單一麥芽 夢想開箱</em>
                        <i class="m-icon m-icon-text-idx-title"></i>
                    </h2>
                </header>
                <div class="index-section-bd">
                    <div class="index-open-box">
                        <p>
                            <em>1963年格蘭家族以夢想裝箱  起身挑戰世界<br />2016年由你來開箱<br />帶走襲捲世界的夢想威士忌！</em>
                            <i class="m-icon m-icon-text-idx-info-1 b-hide-xs"></i>
                            <i class="m-icon m-icon-text-idx-info-2"></i>
                            <i class="m-icon m-icon-text-idx-info-3"></i>
                        </p>
                        <button type="button" class="index-open jQ-open">
                            <i class="m-icon m-icon-text-idx-open"></i>
                            <i class="m-icon m-icon-angle-right"></i>
                        </button>
                    </div>
                    <div class="index-lock-box jQ-lock" data-animate="is-animate">
                        <ul>
                            <li>
                                <div>
                                    <span>
                                        <i class="m-icon m-icon-number-9" data-number="9"></i>
                                        <i class="m-icon m-icon-number-0" data-number="0"></i>
                                        <i class="m-icon m-icon-number-1" data-number="1"></i>
                                        <i class="m-icon m-icon-number-2" data-number="2"></i>
                                        <i class="m-icon m-icon-number-3" data-number="3"></i>
                                        <i class="m-icon m-icon-number-4" data-number="4"></i>
                                        <i class="m-icon m-icon-number-5" data-number="5"></i>
                                        <i class="m-icon m-icon-number-6" data-number="6"></i>
                                        <i class="m-icon m-icon-number-7" data-number="7"></i>
                                        <i class="m-icon m-icon-number-8" data-number="8"></i>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>
                                        <i class="m-icon m-icon-number-9" data-number="9"></i>
                                        <i class="m-icon m-icon-number-0" data-number="0"></i>
                                        <i class="m-icon m-icon-number-1" data-number="1"></i>
                                        <i class="m-icon m-icon-number-2" data-number="2"></i>
                                        <i class="m-icon m-icon-number-3" data-number="3"></i>
                                        <i class="m-icon m-icon-number-4" data-number="4"></i>
                                        <i class="m-icon m-icon-number-5" data-number="5"></i>
                                        <i class="m-icon m-icon-number-6" data-number="6"></i>
                                        <i class="m-icon m-icon-number-7" data-number="7"></i>
                                        <i class="m-icon m-icon-number-8" data-number="8"></i>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>
                                        <i class="m-icon m-icon-number-9" data-number="9"></i>
                                        <i class="m-icon m-icon-number-0" data-number="0"></i>
                                        <i class="m-icon m-icon-number-1" data-number="1"></i>
                                        <i class="m-icon m-icon-number-2" data-number="2"></i>
                                        <i class="m-icon m-icon-number-3" data-number="3"></i>
                                        <i class="m-icon m-icon-number-4" data-number="4"></i>
                                        <i class="m-icon m-icon-number-5" data-number="5"></i>
                                        <i class="m-icon m-icon-number-6" data-number="6"></i>
                                        <i class="m-icon m-icon-number-7" data-number="7"></i>
                                        <i class="m-icon m-icon-number-8" data-number="8"></i>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>
                                        <i class="m-icon m-icon-number-9" data-number="9"></i>
                                        <i class="m-icon m-icon-number-0" data-number="0"></i>
                                        <i class="m-icon m-icon-number-1" data-number="1"></i>
                                        <i class="m-icon m-icon-number-2" data-number="2"></i>
                                        <i class="m-icon m-icon-number-3" data-number="3"></i>
                                        <i class="m-icon m-icon-number-4" data-number="4"></i>
                                        <i class="m-icon m-icon-number-5" data-number="5"></i>
                                        <i class="m-icon m-icon-number-6" data-number="6"></i>
                                        <i class="m-icon m-icon-number-7" data-number="7"></i>
                                        <i class="m-icon m-icon-number-8" data-number="8"></i>
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="index-lock-massage">
                            <p>
                                <em>開箱密碼轉至1963即為中獎喔!!</em>
                                <i class="m-icon m-icon-text-idx-opening"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="index-result is-hide b-middle-sm b-middle-xs jQ-result" data-hide="is-hide" data-win="is-win" data-miss="is-miss" data-error="請使用正常流程參加夢想開箱活動">
                <ul>
                    <li class="index-result-win jQ-result-check" data-replay="is-replay" data-form="is-form" data-end="is-end">
                        <div class="index-result-content">
                            <header class="index-result-content-hd">
                                <h6>
                                    <em>猴塞雷~~ 一開年就有好運氣!</em>
                                    <i class="m-icon m-icon-text-idx-win-title"></i>
                                </h6>
                                <p>
                                    <em>恭喜獲得格蘭菲迪15年乙瓶</em>
                                    <i class="m-icon m-icon-text-idx-win-subtitle"></i>
                                </p>
                            </header>
                            <div class="index-result-content-bd">
                                <ul class="index-result-submit">
                                    <li class="index-result-forms">
                                        <div class="index-result-title">
                                            <p>填寫完資料就能領獎！快點分享相揪朋友一起開箱，<br class="b-br-md b-br-sm" />看看誰能好運中獎！</p>
                                        </div>
                                        <div class="index-result-form">
                                            <ul>
                                                <li class="b-col-md-6 b-col-sm-6 b-col-xs-6">
                                                    <label class="index-result-label">
                                                        <em>姓名：</em>
                                                        <input type="text" name="Name" class="m-form m-form-control" placeholder="請輸入中文姓名" data-error="請輸入中文姓名" />
                                                    </label>
                                                </li>
                                                <li class="b-col-md-6 b-col-sm-6 b-col-xs-6">
                                                    <label class="index-result-label">
                                                        <em>電話：</em>
                                                        <input type="tel" name="Phone" class="m-form m-form-control" maxlength="10" placeholder="請輸入手機或市話" data-error="請輸入正確的電話格式" />
                                                    </label>
                                                </li>
                                                <li class="b-col-md-12 b-col-sm-12 b-col-xs-6">
                                                    <label class="index-result-label">
                                                        <em>Email：</em>
                                                        <input type="email" name="Email" class="m-form m-form-control" data-error="請輸入正確的Email格式" />
                                                    </label>
                                                </li>
                                                <li class="b-col-md-12 b-col-sm-12 b-col-xs-6">
                                                    <div class="index-result-table">
                                                        <em>請選擇至哪裡領取獎品？</em>
                                                        <span><a href="/Views/Home/activity.cshtml" class="index-result-hylink jQ-SFbox ga_click_trace" data-width="750" ga_cat="win" ga_event="click" ga_label="activity">詳閱活動辦法</a></span>
                                                    </div>
                                                </li>
                                                <li class="b-col-md-12 b-col-sm-12 b-col-xs-6">
                                                    <div class="index-result-label b-text-center-md b-text-center-sm" data-error="請選擇至哪裡領取獎品">
                                                        <div class="m-form-box is-inline">
                                                            <label>
                                                                <input type="radio" name="Receive" value="台北市" class="m-form">
                                                                <em class="m-form-addon">台北市</em>
                                                            </label>
                                                        </div>
                                                        <div class="m-form-box is-inline">
                                                            <label>
                                                                <input type="radio" name="Receive" value="桃園市" class="m-form">
                                                                <em class="m-form-addon">桃園市</em>
                                                            </label>
                                                        </div>
                                                        <br class="b-br-xs" />
                                                        <div class="m-form-box is-inline">
                                                            <label>
                                                                <input type="radio" name="Receive" value="台中西屯區" class="m-form">
                                                                <em class="m-form-addon">台中西屯區</em>
                                                            </label>
                                                        </div>
                                                        <div class="m-form-box is-inline">
                                                            <label>
                                                                <input type="radio" name="Receive" value="高雄鼓山區" class="m-form">
                                                                <em class="m-form-addon">高雄鼓山區</em>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="index-result-button jQ-submit" data-type="win" ga_cat="win" ga_event="click" ga_label="submit"><em>送出資料分享好運</em><i class="m-icon m-icon-angle-right"></i></button>
                                    </li>
                                    <li class="index-result-end">
                                        <div class="index-result-title is-play">
                                            <em>資料填寫成功!</em>
                                        </div>
                                        <div class="index-result-title is-played">
                                            <em>今天您已玩過活動，<br class="b-br-xs" />請您明天再來開箱試試手氣！</em>
                                            <p>每人一天限玩一次，<br class="b-br-xs" />詳細訊息請點選<a href="/Views/Home/activity.cshtml" class="index-result-hylink jQ-SFbox ga_click_trace" data-width="750" ga_cat="win" ga_event="click" ga_label="activity">活動辦法</a></p>
                                        </div>
                                        <ul class="index-result-link">
                                            <li><a href="/Views/Home/product.cshtml" class="index-result-button"><em>觀看經典酒款</em><i class="m-icon m-icon-angle-right"></i></a></li>
                                            <li><a href="/Views/Home/Video.cshtml" class="index-result-button jQ-SFbox jQ-ga ga_click_preventDefault" data-ga-push="true" data-replay="re_" ga_cat="win" ga_event="click" ga_label="video"><em>觀看1963完整影片</em><i class="m-icon m-icon-angle-right"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="index-result-miss jQ-result-check" data-replay="is-replay" data-form="is-form" data-end="is-end">
                        <div class="index-result-content">
                            <header class="index-result-content-hd">
                                <h6>
                                    <em>吼~~可惜沒中獎</em>
                                    <i class="m-icon m-icon-text-idx-miss-title"></i>
                                </h6>
                                <p>
                                    <em>明天挑個良辰吉時再試一次！</em>
                                    <i class="m-icon m-icon-text-idx-miss-subtitle"></i>
                                </p>
                            </header>
                            <div class="index-result-content-bd">
                                <ul class="index-result-submit">
                                    <li class="index-result-forms">
                                        <div class="index-result-title">
                                            <em>分享加碼抽！</em>
                                            <p class="is-new">填寫資料成功還有機會再抽格蘭菲迪橡木桶造型 USB！<br />快點分享相揪朋友一起開箱，看看誰能好運中獎！</p>
                                        </div>
                                        <div class="index-result-form">
                                            <ul>
                                                <li class="b-col-md-6 b-col-sm-6 b-col-xs-6">
                                                    <label class="index-result-label">
                                                        <em>姓名：</em>
                                                        <input type="text" name="Name" class="m-form m-form-control" placeholder="請輸入中文姓名" data-error="請輸入中文姓名" />
                                                    </label>
                                                </li>
                                                <li class="b-col-md-6 b-col-sm-6 b-col-xs-6">
                                                    <label class="index-result-label">
                                                        <em>電話：</em>
                                                        <input type="tel" name="Phone" class="m-form m-form-control" maxlength="10" placeholder="請輸入手機或市話" data-error="請輸入正確的電話格式" />
                                                    </label>
                                                </li>
                                                <li class="b-col-md-12 b-col-sm-12 b-col-xs-6">
                                                    <label class="index-result-label">
                                                        <em>Email：</em>
                                                        <input type="email" name="Email" class="m-form m-form-control" data-error="請輸入正確的Email格式" />
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="index-result-button jQ-submit" data-type="miss" ga_cat="lose" ga_event="click" ga_label="submit"><em>送出資料分享好運</em><i class="m-icon m-icon-angle-right"></i></button>    
                                    </li>
                                    <li class="index-result-end">
                                        <div class="index-result-title is-play">
                                            <em>資料填寫成功!</em>
                                        </div>
                                        <div class="index-result-title is-played">
                                            <em>今天您已玩過活動，<br class="b-br-xs" />請您明天再來開箱試試手氣！</em>
                                            <p>每人一天限玩一次，<br class="b-br-xs" />詳細訊息請點選<a href="/Views/Home/activity.cshtml" class="index-result-hylink jQ-SFbox ga_click_trace" data-width="750" ga_cat="lose" ga_event="click" ga_label="activity">活動辦法</a></p>
                                        </div>
                                        <ul class="index-result-link">
                                            <li><a href="/Views/Home/product.cshtml" class="index-result-button"><em>觀看經典酒款</em><i class="m-icon m-icon-angle-right"></i></a></li>
                                            <li><a href="/Views/Home/Video.cshtml" class="index-result-button jQ-SFbox jQ-ga ga_click_preventDefault" data-ga-push="true" data-replay="re_" ga_cat="lose" ga_event="click" ga_label="video"><em>觀看1963完整影片</em><i class="m-icon m-icon-angle-right"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="index-section-bg">
                <figure class="index-section-figure">
                    <img data-src="/Content/img/index/case/gf_001.jpg?IMG=20151124_01" class="is-show jQ-load">
                    <img data-src="/Content/img/index/case/gf_002.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_003.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_004.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_005.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_006.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_007.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_008.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_009.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_010.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_011.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_012.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_013.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_014.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_015.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_016.jpg?IMG=20151124_01" class="jQ-load">
                    <img data-src="/Content/img/index/case/gf_017.jpg?IMG=20151124_01" class="jQ-load">
                </figure>
            </div>
        </div>
        <div class="m-floating">
            <a href="/Views/Home/winner1.cshtml" class="m-floating-media b-middle ga_click_trace" ga_cat="floating" ga_event="click" ga_label="winner_p1">
                <em>
                    分享你的第一<br />
                    <mark class="b-mark">活動得獎名單</mark>
                </em>
            </a>
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/index.js?JS=20151225_01"></script>
<!-- self page include js end -->
</html>