<!DOCTYPE html>
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/limited.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content">
        <ul class="product-list">
            <li class="list year12">
                <figure class="img-wrap"><img src="/Content/img/limited/12.png?CSS=20151225_01" alt="格蘭菲迪12年單一麥芽威士忌"></figure>
                <div class="product-info">
                    <h3 class="product-name">
                        <em>格蘭菲迪12年單一麥芽威士忌</em>
                        <i class="m-icon m-icon-text-product-12"></i>
                    </h3>
                    <span class="info">加贈12年迷你瓶與精緻威士忌杯</span>
                    <span class="info">建議售價　NT$800</span>
                </div>
            </li>
            <li class="list year15">
                <figure class="img-wrap"><img src="/Content/img/limited/15.png?CSS=20151225_01" alt="格蘭菲迪15年單一麥芽威士忌"></figure>
                <div class="product-info">
                    <h3 class="product-name">
                        <em>格蘭菲迪15年單一麥芽威士忌</em>
                        <i class="m-icon m-icon-text-product-15"></i>
                    </h3>
                    <span class="info">加贈15年迷你瓶與精緻威士忌杯</span>
                    <span class="info">建議售價　NT$1400</span>
                </div>
            </li>
            <li class="list year18">
                <figure class="img-wrap"><img src="/Content/img/limited/18.png?CSS=20151225_01" alt="格蘭菲迪18年單一麥芽威士忌"></figure>
                <div class="product-info">
                    <h3 class="product-name">
                        <em>格蘭菲迪18年單一麥芽威士忌</em>
                        <i class="m-icon m-icon-text-product-18"></i>
                    </h3>
                    <span class="info">加贈18年迷你瓶與精緻威士忌杯</span>
                    <span class="info">建議售價　NT$2100</span>
                </div>
            </li>
        </ul>
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<!-- self page include js end -->
</html>