<!DOCTYPE html>
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/product.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content">
        <ul class="product-bd">
            <li class="list">
                <figure class="item-figure">
                    <img src="/Content/img/product/wine12.jpg?CSS=20151225_01" alt="格蘭菲迪12年單一麥芽威士忌">
                </figure>
                <div class="product-item-data">
                    <h2>
                        <i>12</i>
                        <em class="glenfiddich"><b>格蘭菲迪</b><i class="m-icon m-icon-text-product-12"></i></em>
                        <em class="wisky"><b>年單一麥芽威士忌</b><i class="m-icon m-icon-text-product-12"></i></em>
                    </h2>
                    <p class="product-item-content">容量 700 ml　ABV 40%</p>
                    <p class="product-item-desc">全球單一麥芽威士忌的開創者。<br>在美國橡木桶與西班牙橡木桶內緩緩熟成，<br>醞釀出洋梨與橡木融合的細緻口感，<br>代表了格蘭菲迪 Glenfiddich<br>滑順醇厚的經典風味。</p>
                    <a href="/Views/Home/limited.cshtml" class="limited-link ga_click_trace" ga_cat="product" ga_event="click" ga_label="12_limit"><img src="/Content/img/common/gift.png?CSS=20151225_01" alt="新年限量禮盒"></a>
                    <span class="ie8-bg"></span>
                </div>
            </li>
            <li class="list b-hide-md b-hide-sm">
                <figure class="item-figure">
                    <img src="/Content/img/product/wine15.png?CSS=20151225_01" alt="格蘭菲迪15年單一麥芽威士忌">
                </figure>
                <div class="product-item-data">
                    <h2>
                        <i>15</i>
                        <em class="glenfiddich"><b>格蘭菲迪</b><i class="m-icon m-icon-text-product-15"></i></em>
                        <em class="wisky"><b>年單一麥芽威士忌</b><i class="m-icon m-icon-text-product-15"></i></em>
                    </h2>
                    <p class="product-item-content">容量 700 ml　ABV 40%</p>
                    <p class="product-item-desc">運用創新的蘇羅拉調和系統，<br>於西班牙雪莉橡木桶、美國波本橡木桶，<br>以及全新美國橡木桶中交織熟成，<br>完美詮釋蜂蜜與葡萄乾交織的甜美豐富口感。</p>
                    <a href="/Views/Home/limited.cshtml" class="limited-link ga_click_trace" ga_cat="product" ga_event="click" ga_label="15_limit"><img src="/Content/img/common/gift.png?CSS=20151225_01" alt="新年限量禮盒"></a>
                    <span class="ie8-bg"></span>
                </div>
            </li>
            <li class="list b-hide-md b-hide-sm">
                <figure class="item-figure">
                    <img src="/Content/img/product/wine18.png?CSS=20151225_01" alt="格蘭菲迪18年單一麥芽威士忌">
                </figure>
                <div class="product-item-data">
                    <h2>
                        <i>18</i>
                        <em class="glenfiddich"><b>格蘭菲迪</b><i class="m-icon m-icon-text-product-18"></i></em>
                        <em class="wisky"><b>年單一麥芽威士忌</b><i class="m-icon m-icon-text-product-18"></i></em>
                    </h2>
                    <p class="product-item-content">容量 700 ml　ABV 40%</p>
                    <p class="product-item-desc">小批次的生產過程皆由首席調酒師親自<br>從為數不到150桶的珍稀酒桶中選出，<br>再進行最後的融合與熟成，演繹烤蘋果與肉桂<br>融合而成的濃郁風味，值得饕客品味珍藏。</p>
                    <a href="/Views/Home/limited.cshtml" class="limited-link ga_click_trace" ga_cat="product" ga_event="click" ga_label="18_limit"><img src="/Content/img/common/gift.png?CSS=20151225_01" alt="新年限量禮盒"></a>
                    <span class="ie8-bg"></span>
                </div>
            </li>
            <li class="list b-hide-md b-hide-sm">
                <figure class="item-figure">
                    <img src="/Content/img/product/wine21.png?CSS=20151225_01" alt="格蘭菲迪21年單一麥芽威士忌">
                </figure>
                <div class="product-item-data">
                    <h2>
                        <i>21</i>
                        <em class="glenfiddich"><b>格蘭菲迪</b><i class="m-icon m-icon-text-product-18"></i></em>
                        <em class="wisky"><b>年單一麥芽威士忌</b><i class="m-icon m-icon-text-product-18"></i></em>
                    </h2>
                    <p class="product-item-content">容量 700 ml　ABV 40%</p>
                    <p class="product-item-desc">蘇格蘭風土醞釀，加勒比海熱情綻放，<br>將經過21年耐心熟成的蘇格蘭威士忌，<br>裝入加勒比海蘭姆酒桶裡進行最後熟成，<br>為整體增添濃郁、甜美及熱情的島嶼風情。<br>極致尊榮 酩醴首選</p>
                    <span class="ie8-bg"></span>
                </div>
            </li>
        </ul>
        <div class="product-menu">
            <ul class="b-clearfix">
                <li><button type="button" class="product-button is-curr ga_click_trace" data-index="0" ga_cat="product" ga_event="click" ga_label="12_YO">12 YEAR OLD</button></li>
                <li><button type="button" class="product-button ga_click_trace" data-index="1" ga_cat="product" ga_event="click" ga_label="15_YO">15 YEAR OLD</button></li>
                <li><button type="button" class="product-button ga_click_trace" data-index="2" ga_cat="product" ga_event="click" ga_label="18_YO">18 YEAR OLD</button></li>
                <li><button type="button" class="product-button ga_click_trace" data-index="3" ga_cat="product" ga_event="click" ga_label="21_YO">21 YEAR OLD</button></li>
            </ul>
            <span class="product-menu-arrow is-curr-01"></span>
        </div>
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/product.js?JS=20151225_01"></script>
<!-- self page include js end -->
</html>