<!DOCTYPE html>
<html lang="en">
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Scripts/plugin/perfect-scrollbar/css/perfect-scrollbar.min.css?CSS=20151225_01" />
    <link rel="stylesheet" type="text/css" href="/Content/css/video.css?CSS=20151225_02" />
    <!-- self page include css end -->
</head>
<body>
    <div class="l-content">
        <div class="video-bd">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-3RRlZyCoAg?&autoplay=1&autohide=1&controls=0&loop=1&playlist=-3RRlZyCoAg&rel=0&fs=1&wmode=transparent&showinfo=0&modestbranding=1&iv_load_policy=1&start=0&theme=dark&color=red&playsinline=false&enablejsapi=1&origin=http%3A%2F%2Fhttp://www.glenfiddich1963.com.tw/" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" allowtransparency="true"></iframe>    
        </div>
        <!-- <div class="video-ft">
            <button class="video-button jQ-media"><i class="m-icon m-icon-gift"></i>立即<mark class="b-mark">分享</mark>網站 <mark class="b-mark">加碼抽</mark>多項經典好禮<i class="m-icon m-icon-angle-right"></i></button>
        </div> -->
    </div>
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/plugin/jquery.mousewheel/jquery.mousewheel.min.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/plugin/jquery.touchswipe/jquery.touchswipe.min.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/js/factory.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/js/common.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/js/ga.js?JS=20151125_01" id="GAScript"></script>
<!-- master page include scripts end -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/video.js?JS=20151125_01"></script>
<!-- self page include js end -->
</html>