<!DOCTYPE html>
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>格蘭菲迪|單一麥芽|夢想開箱</title>
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Scripts/plugin/perfect-scrollbar/css/perfect-scrollbar.min.css?CSS=20151225_01" />
    <link rel="stylesheet" type="text/css" href="/Content/css/Winner.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content">
        <header class="award-hd">
            <h2 class="main-title">
                <em>得獎名單</em>
                <i class="m-icon m-icon-nav-winner"></i>
            </h2>
        </header>
        <div class="award-bd">
            <div class="list-area">
                <h3 class="award-item">
                    <em>格蘭菲迪15年單一麥芽威士忌乙瓶</em>
                    <i class="m-icon m-icon-text-award-first"></i>
                </h3>
                <ul class="award-list b-clearfix">
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李熙李*李熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李熙*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李熙李*李熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李熙*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                </ul>
                <h3 class="award-item">
                    <em>格蘭菲迪橡木桶造型USB</em>
                    <i class="m-icon m-icon-text-award-second"></i>
                </h3>            
                <ul class="award-list b-clearfix">
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                    <li class="list"><span class="name">李*熙</span><span class="phone">0909***514</span></li>
                </ul>
            </div>
        </div>
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/plugin/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js?JS=20151225_01"></script>
<script type="text/javascript" src="/Scripts/js/winner.js?JS=20151225_01"></script>
<!-- self page include js end -->
</html>