<div class="l-footer" data-blur="is-blur">
    <footer class="m-footer">
        <div class="m-footer-bd">
            <i class="m-icon m-icon-footer-text-drunk b-hide-xs"></i>
            <i class="m-icon m-icon-footer-text-drunk-m b-hide-md b-hide-sm"></i>
            <span class="m-icon-stack m-icon-stack-dranks">
                <i class="m-icon m-icon-stack-drank-circle"></i>
                <i class="m-icon m-icon-stack-drank-icon is-absolute"></i>
                <i class="m-icon m-icon-stack-drank-ban is-absolute"></i>
            </span>
            <i class="m-icon m-icon-footer-text-drive b-hide-xs"></i>
            <i class="m-icon m-icon-footer-text-drive-m b-hide-md b-hide-sm"></i>
        </div>
    </footer>
</div>