<div class="l-header">
    <header class="m-header b-clearfix" data-open="is-open">
        <h1>格蘭菲迪</h1>
        <a href="/Views/Home/" class="m-header-logo ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="home">
            <span class="m-icon-stack m-icon-stack-logos">
                <i class="m-icon m-icon-stack-logo"></i>
                <i class="m-icon m-icon-stack-logo-text is-absolute"></i>
                <i class="m-icon m-icon-stack-logo-info is-absolute"></i>
            </span>
        </a>
        <nav class="m-nav">
            <ul class="m-nav-main">
                <li class="b-hide-md b-hide-sm">
                    <button type="button" class="m-nav-button is-nav jQ-nav ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="" data-open-label="menu_open" data-close-label="menu_close"><i></i></button>
                </li>
                <li class="m-nav-close b-text-white">Close</li>
                <li class="m-nav-share">
                    <button type="button" class="m-nav-button is-share jQ-share ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="share">
                        <span class="m-icon-stack m-icon-stack-fbs">
                            <i class="m-icon m-icon-stack-fb-square"></i>
                            <i class="m-icon m-icon-stack-fb is-absolute"></i>
                        </span>
                    </button>
                </li>
            </ul>
            <ul class="m-nav-menu jQ-nav-menu" data-curr="is-curr" data-active="is-active">
                <li class="is-curr">
                    <a href="/Views/Home/" class="jQ-nav-sub ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="index">
                        <em>首頁</em>
                        <i class="m-icon m-icon-nav-index"></i>
                    </a>
                </li>
                <li>
                    <a href="/Views/Home/activity.cshtml" class="jQ-nav-sub jQ-SFbox ga_click_trace ga_click_preventDefault" data-width="750" ga_cat="menu_bar" ga_event="click" ga_label="activity">
                        <em>活動辦法</em>
                        <i class="m-icon m-icon-nav-activity"></i>
                    </a>
                </li>
                <li>
                    <a href="/Views/Home/product.cshtml" class="jQ-nav-sub ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="product">
                        <em>經典酒款</em>
                        <i class="m-icon m-icon-nav-product"></i>
                    </a>
                    <div class="m-nav-sub">
                        <ul>
                            <li><a href="/Views/Home/limited.cshtml" class="ga_click_trace"  ga_cat="menu_bar" ga_event="click" ga_label="limit">新年限量禮盒</a></li>
                            <li><a href="/Views/Home/product.cshtml" class="ga_click_trace"  ga_cat="menu_bar" ga_event="click" ga_label="wine">經典年份酒款</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/Views/Home/channels.cshtml" class="jQ-nav-sub jQ-SFbox ga_click_trace ga_click_preventDefault" data-width="750" ga_cat="menu_bar" ga_event="click" ga_label="channels">
                        <em>銷售通路</em>
                        <i class="m-icon m-icon-nav-channels"></i>
                    </a>
                </li>
                <li>
                    <a href="/Views/Home/winner2.cshtml" class="jQ-nav-sub ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="winner">
                        <em>得獎名單</em>
                        <i class="m-icon m-icon-nav-winner"></i>
                    </a>
                    <div class="m-nav-sub">
                        <ul>
                            <li><a href="/Views/Home/winner1.cshtml" class="ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="winner_p1">分享你的第一得獎名單</a></li>
                            <li><a href="/Views/Home/winner2.cshtml" class="ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="winner_p2">夢想開箱得獎名單</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/Views/Home/video.cshtml" class="jQ-nav-sub jQ-SFbox ga_click_trace ga_click_preventDefault" data-width="940" data-ga-push="true" ga_cat="menu_bar" ga_event="click" ga_label="video">
                        <em>1963完整影片</em>
                        <i class="m-icon m-icon-nav-video"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>