<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!</title>
    <link rel="canonical" href="http://www.glenfiddich1963.com.tw/" />
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/activity.css?CSS=20151125_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Hidden.cshtml" -->
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content" data-blur="is-blur">
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
        <article class="activity">
            <header class="activity-hd">
                <h2>分享你的第一  讓世界為你的先鋒精神致敬！</h2>
                <span class="m-icon-stack">
                    <i class="m-icon m-icon-stack-title-1"></i>
                    <i class="m-icon m-icon-stack-title-2"></i>
                </span>
                <p>上傳分享你的第一，並標記活動主題，即可參加，向經典致敬，分享網站再加碼。</p>
            </header>
            <div class="activity-bd">
                <div class="activity-data b-row">
                    <figure class="activity-figure-image b-col-md-7 b-col-sm-6">
                        <img src="/Content/img/activity/gift.png?IMG=20151125_01">
                    </figure>
                    <div class="activity-content b-col-md-5 b-col-sm-6">
                        <ul>
                            <li>
                                <h4><em>活動說明</em></h4>
                                <p>活動時間：2015/12/1-2016/1/8</p>
                                <span><i class="m-icon m-icon-camera"></i>Step.1</span>
                                <p>上傳照片：拍下代表你的第一，<br class="b-br-md b-br-sm" />拿下第一個案子、買下第一個家、衝線第一場馬拉松…<br class="b-br-md b-br-sm" />上傳至自己的Instagram、Facebook</p>
                                <span><i class="m-icon m-icon-hashtag"></i>Step.2</span>
                                <p>上傳後，<br />請記得標記 #格蘭菲迪第一支單一麥芽，並將隱私權相關設定需打開 (註1)</p>
                            </li>
                            <li>
                                <h4><em>活動獎項</em></h4>
                                <ul>
                                    <li>
                                        <p>台北 &lt;--&gt; 紐約來回直飛機票</p>
                                        <em>1名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪26年單一麥芽威士忌</p>
                                        <em>1名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪21年單一麥芽威士忌</p>
                                        <em>3名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪15年單一麥芽威士忌</p>
                                        <em>5名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪復古銀色杯墊</p>
                                        <em>20名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪運動外套 (L Size)</p>
                                        <em>20名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪摺疊收納後背包</p>
                                        <em>10名</em>
                                    </li>
                                    <li>
                                        <p>格蘭菲迪多功能工具組</p>
                                        <em>10名</em>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="activity-frame">
                    <ul class="b-row">
                        <li class="b-col-md-5 b-col-sm-5">
                            <h5>向經典致敬，分享網站再加碼！</h5>
                            <p>分享本活動網站，<br />就有機會再獲得格蘭菲迪多樣贈品，<br />分享越多次機會越大！</p>
                        </li>
                        <li class="b-col-md-7 b-col-sm-7">
                            <em>加碼獎項</em>
                            <ul class="b-row">
                                <li class="b-col-md-6 b-col-sm-6">
                                    <ul>
                                        <li>
                                            <p>格蘭菲迪15年單一麥芽威士忌</p>
                                            <em>5名</em>
                                        </li>
                                        <li>
                                            <p>格蘭菲迪復古銀色杯墊</p>
                                            <em>10名</em>
                                        </li>
                                        <li>
                                            <p>格蘭菲迪運動外套</p>
                                            <em>10名</em>
                                        </li>
                                    </ul>
                                </li>
                                <li class="b-col-md-6 b-col-sm-6">
                                    <ul>
                                        <li>
                                            <p>格蘭菲迪摺疊收納後背包</p>
                                            <em>10名</em>
                                        </li>
                                        <li>
                                            <p>格蘭菲迪多功能工具組</p>
                                            <em>10名</em>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="activity-ft">
                <ul>
                    <li>
                        <em>特別提醒：</em>
                        <p>請將隱私及追踨者設定為公開分享 <b>(註1)</b>，並標記「#格蘭菲迪第一支單一麥芽」，相片需成功出現於<a href="/overview" class="b-link is-underline ga_click_trace" ga_cat="activity_remind" ga_event="click" ga_label="overview">看更多第一</a>，方具備抽獎資格！<br />因 Facebook 隱私權政策及演算機制，可能造成參賽者主題標記失效並喪失參賽資格，故建議使用 Instagram 上傳照片。</p>
                        <p>Instagram 將不公開帳號欄位調整為灰色設定為公開分享並標記「#格蘭菲迪第一支單一麥芽」，相片需成功出現於<a href="/overview" class="b-link is-underline ga_click_trace" ga_cat="activity_remind" ga_event="click" ga_label="overview_IG">看更多第一</a>，方具備抽獎資格！</p>
                        <p><mark class="b-mark b-text-primary"><b>(註1)</b></mark> Facebook 隱私設定說明：<br />1.請至Facebook頁面右上角箭頭選單，點擊後，於下拉選單選擇<b>【設定】</b>；<br />2.進入設定頁面，選取左方列表<b>【隱私】</b>功能後，在<b>「誰可以搜尋我」</b>，將<b>「你希望其他搜尋引擊連結到你的動態時報嗎」勾選同意</b>，讓其他搜尋引擎連結到你的動態時報。<br />3.再點選左方列表<b>【追踨者】</b>功能，將<b>「誰可以追踨我」勾選為「所有人」。完成上述步驟後</b>，Facebook 發文即具備抽獎資格 (註2)。</p>
                        <p><mark class="b-mark b-text-primary"><b>(註2)</b></mark> 惟因 Facebook 隱私權政策及演算機制，可能造成參賽者主題標記失效並喪失參賽資格，故建議使用 Instagram 上傳</p>
                    </li>
                    <li>
                        <em>得獎通知：</em>
                        <p>2016年01月15日公佈得獎名單於【格蘭菲迪分享你的第一 讓世界為你的先鋒精神致敬!】活動網站。<br />請務必於2016年01月25日之前回覆聯繫提供姓名、中獎 Instagram、Facebook 帳號、通訊地址、聯絡電話(住家、辦公室、行動三者擇一)、E-mail 提供至格蘭父子活動小組客服信箱：<a href="mailto:glenfiddich1963@gmail.com" class="b-link is-underline">glenfiddich1963@gmail.com</a>，格蘭父子會將中獎通知函以 E-mail 方式提供予中獎人。逾期視同放棄。</p>
                    </li>
                    <li>
                        <em>注意事項：</em>
                        <ol class="m-item">
                            <li>本活動之主辦單位為「格蘭父子洋酒股份有限公司(以下簡稱格蘭父子) 」。</li>
                            <li>本活動注意事項載明於活動網頁中・加者於加活動之同時・即同意接受本活動注意事項之規範。</li>
                            <li>中獎公告日期：2016年01月15日於本活動網站公佈中獎名單，請密切上網留意。</li>
                            <li>每人每日不限分享次數，但僅有一次抽獎機會，可重複累積抽獎機會，同一人 (Instagram ID、Facebook ID相同者) 僅限一次中獎資格。</li>
                            <li>參加本活動者(以下簡稱參加者)提供資料對象為格蘭父子，參加者同意提供個人資料予格蘭父子於本活動目的範圍內蒐集處理及利用其個人資料。格蘭父子將遵守個人資料保護法之規定，非經參加者之書面同意，不得將參加者之資料以任何方式提供予第三人蒐集、處理及利用，格蘭父子所屬指定舉辦該活動之廠商亦同。</li>
                            <li>中獎人請將姓名、中獎Instagram、Facebook帳號、通訊地址、聯絡電話(住家、辦公室、行動三者擇一)、E-mail提供至格蘭父子活動小組客服信箱：<a href="mailto:glenfiddich1963@gmail.com" class="b-link is-underline">glenfiddich1963@gmail.com</a>，格蘭父子會將中獎通知函以E-mail方式提供予中獎人，請中獎人填妥中獎通知函並檢附身分證正反面影本，於2016年01月25日前(以郵戳為憑)或E-mail方式寄回本函至【格蘭菲迪分享你的第一 讓世界為你的先鋒精神致敬! 活動小組收】信箱為：<a href="mailto:glenfiddich1963@gmail.com" class="b-link is-underline">glenfiddich1963@gmail.com</a>。若中獎人未依期限配合辦理領獎手續等相關事宜者，即視為自動放棄中獎資格，並由後補者依序遞補，後補者請於 2016年01月29日前寄回中獎通知函，以利辦理領獎手續。</li>
                            <li>當您參加本活動並獲獎時，表示您同意讓主辦單位公佈得獎者資料及相關照片等資訊，中獎人寄回中獎通知函與配合辦理代扣繳相關作業後，格蘭父子預計於2016年02月05日前提供獎項予中獎人。</li>
                            <li>本活動網頁之所有內容之著作權等權利均屬格蘭父子洋酒股份有限公司所有，未經許可，不得抄襲、拷貝、複製或為任何使用，格蘭父子洋酒股份有限公司對於違反者保留法律追訴權利。</li>
                            <li>本活動屬競技競賽及機會中獎所得，依中華民國稅法規定，得獎獎項價值超過NT$20,000者，需由主辦單位預為扣繳10%之機會中獎所得稅額並開立扣繳憑單。凡獎項總價值NT$1,000以上未達前述扣獎金額者不需扣繳，但主辦單位亦須依法開立個人綜合所得稅憑証，故凡得獎者，均需提供身分證影本作為憑證。拒絕提供身分證影本之中獎者，視同放棄中獎權益。中獎人另須提供姓名、戶籍地址及身分證正、反面影本，以供格蘭父子向主管機關進行年度列單申報作業。</li>
                            <li>本活動之參加人與兌獎人限居住於臺、澎、金、馬地區且持有中華民國身分證之國民參加，並且均需年滿18歲，資料若有不實，將取消參加及兌獎資格，主辦單位並保留法律追訴權。</li>
                            <li>若獲獎贈品為酒類，格蘭菲迪需確認中獎人年滿18歲符合飲酒年齡，兌獎人需攜帶身分證件親領，領取地點如下：<br />台北市敦化南路二段76號16樓 <a href="tel:(02)2706-8839">(02)2706-8839</a> (週一~週五上午10:00至晚上06:00)<br />私藏酒窖格蘭菲迪店 桃園市桃園區同德六街103號 <a href="tel:(03)358-1289">(03)358-1289</a> (週二~週日上午11:30至晚上08:30)<br />私藏酒窖台中百富店 台中市西屯區市政路68號1樓 <a href="tel:(04)2258-9839">(04)2258-9839</a> (週二~週日上午11:30至晚上08:30)<br />私藏酒窖高雄百富店 高雄市鼓山區明誠四路280號1樓 <a href="tel:(07)555-9519">(07)555-9519</a> (週二~週日上午11:30至晚上08:30)</li>
                            <li>主辦單位將保留變更、修改或終止本活動之權利，並保留對得獎資格之審核及本活動辦法及相關規範之最終決定權利，任何變更均自活動網站公佈時起即時生效；主辦單位並有權就本活動所有事宜進行審查並做出解釋，任何人均不得異議。</li>
                            <li>參加者保證所有填寫或提出之資料皆為真實且正確，且未冒用或盜用任何第三人之資料或智慧財產權。如有不實或違法之情事，主辦單位將有權取消其活動參加資格；如為中獎者，則取消其中獎資格。如因此致主辦單位無法通知其中獎訊息時，主辦單位將不負任何責任，且如有致損害於主辦單位或其他任何第三人，參加者應自負法律責任。</li>
                            <li>本活動若因參加者填寫資料不全或有誤，或其他任何因電腦、網路、電話、技術或不可歸責於主辦單位之事由，而使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，主辦單位不負任何法律責任，參加者亦不得因此異議。</li>
                            <li>本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，如經主辦單位查證發現不法作弊情形，將取消中獎資格。</li>
                            <li>任何破壞活動進行、破壞網站管理者的運作、違反網站管理者的使用條款者，主辦單位具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人，主辦單位將追究其法律責任。</li>
                            <li>本活動注意事項如有未盡事宜，將於本活動網站上公佈修訂補充之內容。</li>
                            <li>機票使用注意事項如下：機票之效期自開票起一年內有效，本機票不得更改行程及變更現金，如有隨機票徵收之機場稅金、規費則於開票時另行支付;如有其他機票相關問題，請治華航客服中心專線 <a href="tel:(02)412-9000">(02)412-9000</a>。</li>
                            <li>參加本活動即表示同意接受上述條款，若有違反者，主辦單位格蘭父子洋酒股份有限公司有權取消參加人之參加、兌獎及獲獎資格。</li>
                            <li>若對本活動有任何疑問請洽格蘭菲迪執行單位客服信箱：<a href="mailto:glenfiddich1963@gmail.com" class="b-link is-underline">glenfiddich1963@gmail.com</a> (於周一至周五上午 10:00 - 下午 6:00 信件回覆。)</li>
                        </ol>
                    </li>
                </ul>
            </footer>
        </article>
        
        <div class="m-dot" data-curr="is-curr" data-step="is-step" data-blur="is-blur">
            <!--#include virtual="/Views/Shared/DotMedia.cshtml" -->
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/activity.js?JS=20151125_01"></script>
<!-- self page include js end -->
</html>