<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<html>
<head>
<title>格蘭菲迪</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="stylesheet" type="text/css" href="../Content/css/style.css" />
</head>
<body>
	<h1 class="logo hide-text">格蘭菲迪</h1>
	<nav class="menu">
		<button class="btn-menu"><i class="icon"></i></button>
		<span class="text">MENU</span>
		<ul class="main-menu">
			<li class="list"><button class="btn-sublink">活動辦法</button></li>
			<li class="list"><button class="btn-sublink">精釀酒款</button></li>
			<li class="list"><button class="btn-sublink">得獎名單</button></li>
			<li class="list"><button class="btn-sublink">2016私藏經典</button></li>
			<li class="list"><button class="btn-sublink">1963傳奇經典</button></li>
			<li class="icon middleSet"><a class="link facebook hide-text" href="javascript:;" target="_blank">facebook</a></li>
			<li class="icon middleSet"><a class="link instagram hide-text" href="javascript:;" target="_blank">instagram</a></li>
		</ul>
	</nav>
	<div class="l-wrap">
		<!-- <header class="l-header">
		</header> -->
		<div class="l-content case">
			<div class="video-wrap"></div>
			<div class="case-wrap">
				<h2 class="main-title hide-text">格蘭菲迪 世界第一單一純麥威士忌</h2>
				<em class="hashtag">#讓世界為我致敬</em>
				<p class="desc">你，從哪裡挑戰世界？<br>拍下你的第一，讓世界為你的先鋒精神致敬！</p>
				<button class="btn-participate">參與方法</button>
				<ul class="position-list">
					<li class="location">
						<button class="btn-location">從北部</button>
					</li>
					<li class="location">
						<button class="btn-location">從中部</button>
					</li>
					<li class="location">
						<button class="btn-location">從南部</button>
					</li>
				</ul>
			</div>
			<div class="product-wrap">
				<div class="product-info">
					<h2 class="product-title"><i class="icon-year"></i>格蘭菲迪<br><i class="year"></i>年單一麥芽威士忌</h2>
					<span class="product-content">容量 700 ml　ABV 40%</span>
					<p class="product-desc"></p>
					<ul class="award-list"></ul>
					<span class="img-wrap"><img src="" alt="" title=""></span>
				</div>
				<nav class="sub-menu">
					<ul class="product-menu">
						<li class="list"><button class="btn-product is-curr">12 YEAR OLD</button></li>
						<li class="list"><button class="btn-product">15 YEAR OLD</button></li>
						<li class="list"><button class="btn-product">18 YEAR OLD</button></li>
						<li class="list"><button class="btn-product">21 YEAR OLD</button></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- <div class="lightbox-wrap">
		</div> -->
	</div>
	<nav class="sidenav">
		<ul class="dotnav">
			<li class="list is-curr"></li>
			<li class="list"></li>
			<li class="list"></li>
			<li class="list"></li>
			<li class="list"></li>
			<li class="list"></li>
			<li class="list"></li>
			<li class="list"></li>
			<li class="list"></li>
		</ul>
		<button class="btn-video">完整<br>傳奇故事</button>
	</nav>
	<div class="warning-signs hide-text">禁止酒駕 酒後不開車 安全有保障</div>
	<script type="text/javascript" src="../Scripts/plugin/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../Scripts/js/main.js"></script>
</body>
</html>