<!DOCTYPE html>
<html>
<head>
<title>格蘭菲迪</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="stylesheet" type="text/css" href="../Content/css/style.css" />
<link rel="stylesheet" type="text/css" href="../Content/css/font.css" />
</head>
<body class="">
	<h1 class="logo hide-text"><a class="link" href="index.html">格蘭菲迪</a></h1>
	<nav class="menu">
		<button class="btn-fb-share">分享抽</button>
		<button class="btn-menu"><i class="icon"></i></button>
		<span class="text">MENU</span>
		<ul class="main-menu">
			<li class="list"><a class="btn-sublink" href="javascript:;">活動辦法</a></li>
			<li class="list"><a class="btn-sublink" href="product.html">精釀酒款</a></li>
			<li class="list"><a class="btn-sublink" href="javascript:;">得獎名單</a></li>
			<li class="list"><a class="btn-sublink" href="javascript:;">2016私藏經典</a></li>
			<li class="list"><a class="btn-sublink" href="javascript:;">1963傳奇經典</a></li>
			<li class="icon middleSet"><a class="link facebook hide-text" href="javascript:;" target="_blank">facebook</a></li>
			<li class="icon middleSet"><a class="link instagram hide-text" href="javascript:;" target="_blank">instagram</a></li>
		</ul>
	</nav>
	<div class="l-wrap">
		<div class="l-content">
			<div class="video-wrap">
				<ul class="video-list">
					<li class="list cut01" data-amount="11">
						<img src="../content/img/video/cut01/gf_001.jpg">
						<em class="os">Sandy Gordon<br>格蘭菲迪家族第四代</em>
					</li>
					<li class="list cut02" data-amount="8">
						<img src="../content/img/video/cut02/gf_001.jpg">
						<em class="os">1963年<br>我帶著家族的驕傲</em>
					</li>
					<li class="list cut03" data-amount="33">
						<img src="../content/img/video/cut03/gf_001.jpg">
						<em class="os">＃從蘇格蘭 <b class="highlight">挑戰世界</b></em>
					</li>
					<li class="list cut04" data-amount="35">
						<img src="../content/img/video/cut04/gf_001.jpg">
						<em class="os">是他…讓我顛覆 美國威士忌市場</em>
					</li>
					<li class="list cut05" data-amount="34">
						<img src="../content/img/video/cut05/gf_001.jpg">
						<em class="os">是他…讓我成為 威士忌世界矚目焦點</em>
					</li>
					<li class="list cut06" data-amount="19">
						<img src="../content/img/video/cut06/gf_001.jpg">
						<em class="os">是它…<br><br>格蘭菲迪<br>第一個挑戰世界的單一麥芽</em>
					</li>
					<li class="list cut07" data-amount="24">
						<img src="../content/img/video/cut07/gf_001.jpg">
						<em class="os">讓世界為我致敬</em>
					</li>
				</ul>
			</div>
			<div class="act-wrap">
				<section class="act-caption middleSet">
					<div class="desc-wrap">
						<h2 class="act-title">分享你的第一　讓世界為你的先鋒精神致敬！</h2>
						<p class="act-desc">你，從哪裡挑戰世界？分享代表你的第一<br>拿下第一個案子、買下第一個家、衝線第一場馬拉松…<br>就有機會獲得格蘭菲迪邁向世界第一站<em class="highlight">【美國紐約】來回機票！</em></p>
						<div class="step photo middleSet">
							<p class="desc">上傳照片：拍下代表你的第一，<br>上傳至自己的Instagram、Facebook</p>
							<i class="step-icon">Step. 1</i>
						</div>
						<div class="step hashtag middleSet">
							<p class="desc">標記 # 上傳後，請記得 hashtag 標記<br># 格蘭菲迪第一支單一麥芽<br># 我從(北部、中部、南部) 挑戰世界<br>eg, #我從高雄挑戰世界</p>
							<i class="step-icon">Step. 2</i>
						</div>
					</div>
				</section>
				<div class="instagram-post">
					<div class="user-info">
						<span class="name">Sandy Gordan</span>
						<span class="photo"></span>
					</div>
					<div class="polaroid"></div>
					<div class="post-info">我的第一就是讓世界知道格蘭菲迪！<br>#格蘭菲迪單一純麥先鋒<br>#我從高雄挑戰世界</div>
				</div>
			</div>
			<div class="case-wrap">
				<div class="trunk-case">
					<h2 class="main-title hide-text">格蘭菲迪 世界第一單一純麥威士忌</h2>
					<p class="desc">你，從哪裡挑戰世界？<br>拍下你的第一，讓世界為你的先鋒精神致敬！</p>
					<button class="btn-participate">參與方法</button>
				</div>
				<ul class="position-list">
					<li class="location north">
						<button class="btn-location" data-area="從北部" data-part="left" data-per="48"></button>
					</li>
					<li class="location middle">
						<button class="btn-location" data-area="從中部" data-part="center" data-per="27"></button>
					</li>
					<li class="location south">
						<button class="btn-location" data-area="從南部" data-part="right" data-per="25"></button>
					</li>
				</ul>
				<div class="open-case">
					<div class="inside-case left-part">
						<a class="btn-more" href="javascript:;">看更多第一</a>
						<ul class="photo-loop">
							<li class="list is-curr">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/01.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
							<li class="list">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/02.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
							<li class="list">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/03.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="inside-case center-part">
						<a class="btn-more" href="javascript:;">看更多第一</a>
						<ul class="photo-loop">
							<li class="list is-curr">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/01.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
							<li class="list">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/02.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
							<li class="list">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/03.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="inside-case right-part">
						<a class="btn-more" href="javascript:;">看更多第一</a>
						<ul class="photo-loop">
							<li class="list is-curr">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/01.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
							<li class="list">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/02.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
							<li class="list">
								<a class="link" href="javascript:;" target="_blank">
									<span class="img-wrap">
										<img src="../content/img/photo/03.png" alt="">
									</span>
								</a>
								<div class="img-info">
									<div class="user-info">
										<span class="user-name">sandy gordon</span>
										<img src="../content/img/user-head.png" alt="sandy gordon">
									</div>
									<span class="img-desc">拿起手機，立即拍照</span>
									<span class="img-hashtag">#讓世界為我致敬！</span>
									<span class="img-hashtag">#我從南部挑戰世界！</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<span class="hint-scroll hide-text">SCROLL</span>
		</div>
		<div class="lightbox-wrap">
			<button class="btn-close hide-text">close</button>
			<iframe class="video-frame" src="http://www.youtube.com/embed/dlEciuqMkjc" frameborder="0" vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="true"></iframe>
			<button class="btn-share">立即<strong class="highlight">分享</strong>網站　<strong class="highlight">加碼抽</strong>多項經典好禮</button>
		</div>
	</div>
	<nav class="sidenav">
		<ul class="dotnav"></ul>
		<button class="btn-video"><em class="highlight">加碼抽</em>完整傳奇</button>
	</nav>
	<div class="warning-signs hide-text">禁止酒駕 酒後不開車 安全有保障</div>
	<script type="text/javascript" src="../Scripts/plugin/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../Scripts/plugin/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="../Scripts/js/main.js"></script>
</body>
</html>