<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!</title>
    <link rel="canonical" href="http://www.glenfiddich1963.com.tw/" />
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/overview.css?CSS=20151125_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Hidden.cshtml" -->
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content" data-blur="is-blur">
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
        <div class="tagboard-embed" tgb-slug="格蘭菲迪第一支單一麥芽/255333" tgb-layout="waterfall" tgb-feed-type="default" tgb-gutter="20" tgb-rounded-corners="true" tgb-toolbar="none" tgb-animation-type="default"></div>
        <div class="m-background">
            <figure class="m-background-figure is-pc b-hide-sm b-hide-xs">
                <img src="/Content/img/overview/bg.jpg?IMG=20151124_01" class="jQ-full">
            </figure>
            <figure class="m-background-figure is-mobile b-hide-md">
                <img src="/Content/img/overview/bg-m.jpg?IMG=20151124_01" class="jQ-full">
            </figure>
        </div>
        <div class="m-dot" data-curr="is-curr" data-step="is-step" data-blur="is-blur">
            <!--#include virtual="/Views/Shared/DotMedia.cshtml" -->
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/overview.js?JS=20151125_01"></script>
<!-- self page include js end -->
</html>