<!DOCTYPE html>
<html>
<head>
<title>格蘭菲迪</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="stylesheet" type="text/css" href="../Content/css/style.css" />
<link rel="stylesheet" type="text/css" href="../Content/css/font.css" />
</head>
<body class="">
	<h1 class="logo hide-text"><a class="link" href="index.html">格蘭菲迪</a></h1>
	<nav class="menu">
		<button class="btn-fb-share">分享抽</button>
		<button class="btn-menu"><i class="icon"></i></button>
		<span class="text">MENU</span>
		<ul class="main-menu">
			<li class="list"><a class="btn-sublink" href="javascript:;">活動辦法</a></li>
			<li class="list"><a class="btn-sublink" href="product.html">精釀酒款</a></li>
			<li class="list"><a class="btn-sublink" href="javascript:;">得獎名單</a></li>
			<li class="list"><a class="btn-sublink" href="javascript:;">2016私藏經典</a></li>
			<li class="list"><a class="btn-sublink" href="javascript:;">1963傳奇經典</a></li>
			<li class="icon middleSet"><a class="link facebook hide-text" href="javascript:;" target="_blank">facebook</a></li>
			<li class="icon middleSet"><a class="link instagram hide-text" href="javascript:;" target="_blank">instagram</a></li>
		</ul>
	</nav>
	<div class="l-wrap">
		<div class="l-content product">
			<div class="product-wrap">
				<ul class="product-list">
					<li class="product-info is-curr">
						<h2 class="product-title"><i class="icon-year">12</i>格蘭菲迪<br><i class="year">12</i>年單一麥芽威士忌</h2>
						<span class="product-content">容量 700 ml　ABV 40%</span>
						<p class="product-desc">全球單一麥芽威士忌的開創者。<br>在美國橡木桶與西班牙橡木桶內緩緩熟成，<br>醞釀出洋梨與橡木融合的細緻口感，<br>代表了格蘭菲迪 Glenfiddich<br>滑順醇厚的經典風味。</p>
						<ul class="award-list">
							<li class="list">2014 蘇格蘭威士忌大師獎（SWMA）大師獎</li>
							<li class="list">2014 國際葡萄酒烈酒競賽（IWSC）金獎</li>
							<li class="list">2014 國際烈酒競賽（ISC）金獎</li>
							<li class="list">2015 國際葡萄酒烈酒競賽（IWSC）金獎</li>
							<li class="list">2015 國際烈酒競賽（ISC）金獎</li>
						</ul>
						<span class="img-wrap"><img src="../Content/img/wine/wine12.png" alt="格蘭菲迪12年單一麥芽威士忌" title="格蘭菲迪12年單一麥芽威士忌"></span>
					</li>
					<li class="product-info">
						<h2 class="product-title"><i class="icon-year">15</i>格蘭菲迪<br><i class="year">15</i>年單一麥芽威士忌</h2>
						<span class="product-content">容量 700 ml　ABV 40%</span>
						<p class="product-desc">運用創新的蘇羅拉調和系統，<br>於西班牙雪莉橡木桶、美國波本橡木桶，<br>以及全新美國橡木桶中交織熟成，<br>完美詮釋蜂蜜與葡萄乾交織的甜美豐富口感。</p>
						<ul class="award-list">
							<li class="list">2014 蘇格蘭威士忌大師獎（SWMA）金獎</li>
							<li class="list">2014 國際葡萄酒烈酒競賽（IWSC）卓越銀獎</li>
							<li class="list">2014 國際烈酒競賽（ISC）銀獎</li>
							<li class="list">2015 國際葡萄酒烈酒競賽（IWSC）卓越銀獎</li>
							<li class="list">2015 國際烈酒競賽（ISC）金獎</li>
						</ul>
						<span class="img-wrap"><img src="../Content/img/wine/wine15.png" alt="格蘭菲迪15年單一麥芽威士忌" title="格蘭菲迪15年單一麥芽威士忌"></span>
					</li>
					<li class="product-info">
						<h2 class="product-title"><i class="icon-year">18</i>格蘭菲迪<br><i class="year">18</i>年單一麥芽威士忌</h2>
						<span class="product-content">容量 700 ml　ABV 40%</span>
						<p class="product-desc">小批次的生產過程皆由首席調酒師親自<br>從為數不到150桶的珍稀酒桶中選出，<br>再進行最後的融合與熟成，演繹烤蘋果與肉桂<br>融合而成的濃郁風味，值得饕客品味珍藏。</p>
						<ul class="award-list">
							<li class="list">2014 國際葡萄酒烈酒競賽（IWSC）卓越金獎</li>
							<li class="list">2014 國際烈酒競賽（ISC）金獎</li>
							<li class="list">2015 國際葡萄酒烈酒競賽（IWSC）金獎</li>
							<li class="list">2015 國際烈酒競賽（ISC）金獎</li>
						</ul>
						<span class="img-wrap"><img src="../Content/img/wine/wine18.png" alt="格蘭菲迪18年單一麥芽威士忌" title="格蘭菲迪18年單一麥芽威士忌"></span>
					</li>
					<li class="product-info">
						<h2 class="product-title"><i class="icon-year">21</i>格蘭菲迪<br><i class="year">21</i>年單一麥芽威士忌</h2>
						<span class="product-content">容量 700 ml　ABV 40%</span><p class="product-desc">將21年的格蘭菲迪注入原貯存蘭姆酒的橡木桶，<br>經過四個月時間的過捅熟成，香味強烈、熱情<br>而甜美。和雪茄是絕配。</p>
						<ul class="award-list">
							<li class="list">2014 國際烈酒競賽（ISC）金獎</li>
							<li class="list">2015 國際烈酒競賽（ISC）金獎</li>
							<li class="list">2015 國際葡萄酒烈酒競賽（IWSC）卓越金獎</li>
						</ul>
						<span class="img-wrap"><img src="../Content/img/wine/wine21.png" alt="格蘭菲迪21年單一麥芽威士忌" title="格蘭菲迪21年單一麥芽威士忌"></span>
					</li>
				</ul>
				<nav class="sub-menu">
					<ul class="product-menu">
						<li class="list"><button class="btn-product is-curr">12 YEAR OLD</button></li>
						<li class="list"><button class="btn-product">15 YEAR OLD</button></li>
						<li class="list"><button class="btn-product">18 YEAR OLD</button></li>
						<li class="list"><button class="btn-product">21 YEAR OLD</button></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="lightbox-wrap">
			<button class="btn-close hide-text">close</button>
			<iframe class="video-frame" src="http://www.youtube.com/embed/dlEciuqMkjc" frameborder="0" vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="true"></iframe>
			<button class="btn-share">立即<strong class="highlight">分享</strong>網站　<strong class="highlight">加碼抽</strong>多項經典好禮</button>
		</div>
	</div>
	<nav class="sidenav">
		<button class="btn-video"><em class="highlight">加碼抽</em>完整傳奇</button>
	</nav>
	<div class="warning-signs hide-text">禁止酒駕 酒後不開車 安全有保障</div>
	<script type="text/javascript" src="../Scripts/plugin/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../Scripts/js/main.js"></script>
</body>
</html>