<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!</title>
    <link rel="canonical" href="http://www.glenfiddich1963.com.tw/" />
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/product.css?CSS=20151125_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Hidden.cshtml" -->
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content" data-blur="is-blur">
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
        <div class="product">
            <div class="product-bd" data-hide="b-hide-md b-hide-sm">
                <ul>
                    <li>
                        <div class="product-item">
                            <figure class="product-item-figure">
                                <img src="/Content/img/product/wine12.png?IMG=20151124_01" alt="格蘭菲迪12年單一麥芽威士忌">
                            </figure>
                            <div class="product-item-data">
                                <h2><i>12</i><em>格蘭菲迪<br />12年單一麥芽威士忌</em></h2>
                                <p class="product-item-info b-hide-md b-hide-sm">全球單一麥芽威士忌的開創者</p>
                                <p class="product-item-content">容量 700 ml　ABV 40%</p>
                                <p class="product-item-desc b-hide-xs">全球單一麥芽威士忌的開創者。在美國橡木桶與西班牙橡木桶內緩緩熟成，醞釀出洋梨與橡木融合的細緻口感，代表了格蘭菲迪 Glenfiddich 滑順醇厚的經典風味。</p>
                                <ul class="product-item-award b-hide-xs">
                                    <li>2014 蘇格蘭威士忌大師獎 (SWMA) 大師獎</li>
                                    <li>2014 國際葡萄酒烈酒競賽 (IWSC) 金獎</li>
                                    <li>2014 國際烈酒競賽 (ISC) 金獎</li>
                                    <li>2015 國際葡萄酒烈酒競賽 (IWSC) 金獎</li>
                                    <li>2015 國際烈酒競賽 (ISC) 金獎</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="b-hide-md b-hide-sm">
                        <div class="product-item">
                            <figure class="product-item-figure">
                                <img src="/Content/img/product/wine15.png?IMG=20151124_01" alt="格蘭菲迪15年單一麥芽威士忌">
                            </figure>
                            <div class="product-item-data">
                                <h2><i>15</i><em>格蘭菲迪<br />15年單一麥芽威士忌</em></h2>
                                <p class="product-item-info b-hide-md b-hide-sm">最物超所值的一款單一麥芽威士忌</p>
                                <p class="product-item-content">容量 700 ml　ABV 40%</p>
                                <p class="product-item-desc b-hide-xs">運用創新的蘇羅拉調和系統，於西班牙雪莉橡木桶、美國波本橡木桶，以及全新美國橡木桶中交織熟成，完美詮釋蜂蜜與葡萄乾交織的甜美豐富口感。</p>
                                <ul class="product-item-award b-hide-xs">
                                    <li>2014 蘇格蘭威士忌大師獎 (SWMA) 金獎</li>
                                    <li>2014 國際葡萄酒烈酒競賽 (IWSC) 卓越銀獎</li>
                                    <li>2014 國際烈酒競賽 (ISC) 銀獎</li>
                                    <li>2015 國際葡萄酒烈酒競賽 (IWSC) 卓越銀獎</li>
                                    <li>2015 國際烈酒競賽 (ISC) 金獎</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="b-hide-md b-hide-sm">
                        <div class="product-item">
                            <figure class="product-item-figure">
                                <img src="/Content/img/product/wine18.png?IMG=20151124_01" alt="格蘭菲迪18年單一麥芽威士忌">
                            </figure>
                            <div class="product-item-data">
                                <h2><i>18</i><em>格蘭菲迪<br />18年單一麥芽威士忌</em></h2>
                                <p class="product-item-info b-hide-md b-hide-sm">小批次生產，值得饕客品味珍藏</p>
                                <p class="product-item-content">容量 700 ml　ABV 40%</p>
                                <p class="product-item-desc b-hide-xs">小批次的生產過程皆由首席調酒師親自從為數不到150桶的珍稀酒桶中選出，再進行最後的融合與熟成，演繹烤蘋果與肉桂融合而成的濃郁風味，值得饕客品味珍藏。</p>
                                <ul class="product-item-award b-hide-xs">
                                    <li>2014 國際葡萄酒烈酒競賽 (IWSC) 卓越金獎</li>
                                    <li>2014 國際烈酒競賽 (ISC) 金獎</li>
                                    <li>2015 國際葡萄酒烈酒競賽 (IWSC) 金獎</li>
                                    <li>2015 國際烈酒競賽 (ISC) 金獎</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="b-hide-md b-hide-sm">
                        <div class="product-item">
                            <figure class="product-item-figure">
                                <img src="/Content/img/product/wine21.png?IMG=20151124_01" alt="格蘭菲迪21年單一麥芽威士忌">
                            </figure>
                            <div class="product-item-data">
                                <h2><i>21</i><em>格蘭菲迪<br />21年單一麥芽威士忌</em></h2>
                                <p class="product-item-info b-hide-md b-hide-sm">蘭姆酒桶過桶熟成，香味強烈但甜美</p>
                                <p class="product-item-content">容量 700 ml　ABV 40%</p>
                                <p class="product-item-desc b-hide-xs">將21年的格蘭菲迪注入原貯存蘭姆酒的橡木桶，經過四個月時間的過捅熟成，香味強烈、熱情而甜美。和雪茄是絕配。</p>
                                <ul class="product-item-award b-hide-xs">
                                    <li>2014 國際烈酒競賽 (ISC) 金獎</li>
                                    <li>2015 國際烈酒競賽 (ISC) 金獎</li>
                                    <li>2015 國際葡萄酒烈酒競賽 (IWSC) 卓越金獎</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="product-menu" data-curr="is-curr" data-arrow="is-curr-0">
                <ul class="b-clearfix">
                    <li><button type="button" class="product-button is-curr jQ-product ga_click_trace" data-index="0" ga_cat="product_YO" ga_event="click" ga_label="12YO">12 YEAR OLD</button></li>
                    <li><button type="button" class="product-button jQ-product ga_click_trace" data-index="1" ga_cat="product_YO" ga_event="click" ga_label="15YO">15 YEAR OLD</button></li>
                    <li><button type="button" class="product-button jQ-product ga_click_trace" data-index="2" ga_cat="product_YO" ga_event="click" ga_label="18YO">18 YEAR OLD</button></li>
                    <li><button type="button" class="product-button jQ-product ga_click_trace" data-index="3" ga_cat="product_YO" ga_event="click" ga_label="21YO">21 YEAR OLD</button></li>
                </ul>
                <span class="product-menu-arrow is-curr-01"></span>
            </div>
        </div>

        <div class="m-background">
            <figure class="m-background-figure is-pc b-hide-sm b-hide-xs">
                <img src="/Content/img/product/bg.jpg?IMG=20151124_01" class="jQ-full">
            </figure>
        </div>
        <div class="m-dot" data-curr="is-curr" data-step="is-step" data-blur="is-blur">
            <!--#include virtual="/Views/Shared/DotMedia.cshtml" -->
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/product.js?JS=20151125_01"></script>
<!-- self page include js end -->
</html>