<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!</title>
    <link rel="canonical" href="http://www.glenfiddich1963.com.tw/winner" />
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/winner.css?CSS=20151125_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Hidden.cshtml" -->
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content">
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
        <div class="winner-content">
            <header class="award-hd">
                <h2 class="main-title">
                    <em>得獎名單</em>
                </h2>
            </header>
            <div class="award-bd phase1">
                <div class="list-area">
                    <h3 class="award-type">分享你的第一 得獎名單</h3>
                    <h3 class="award-item">
                        <em class="award">台北 -- 紐約來回直飛機票</em>
                        <em class="count">1名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">kuoe***a</span><span class="name">120041***9</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪26年單一麥芽威士忌</em>
                        <em class="count">1名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">yan***6</span><span class="name">157398***3</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪21年單一麥芽威士忌</em>
                        <em class="count">3名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">李*宮</span><span class="name">10000582487***1</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">吳*樺</span><span class="name">155973117424***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">tedche***d</span><span class="name">232301***4</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪15年單一麥芽威士忌</em>
                        <em class="count">5名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">愛*愷</span><span class="name">166958142660***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">蔣*泰</span><span class="name">15848992451***6</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">uwei***3</span><span class="name">486***9</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">呂*忠</span><span class="name">102903297378***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">ariel***n</span><span class="name">203081***5</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪復古銀色杯墊</em>
                        <em class="count">20名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">郭*峻</span><span class="name">114163039252***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">epkevin***8</span><span class="name">2388***3</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">yusic***5</span><span class="name">106913***6</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">吳*智</span><span class="name">84674813541***8</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">candy03***9</span><span class="name">210233***7</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">林*銘</span><span class="name">94297030906***6</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Mandy ***g</span><span class="name">46313581053***5</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Jason C***g</span><span class="name">115000248501***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">inl***c</span><span class="name">200528***7</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">黃*嘉</span><span class="name">108295441839***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">melody***9</span><span class="name">59203***5</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">suesuel***2</span><span class="name">217205***6</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">全*蓉</span><span class="name">49683215380***5</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">*晴</span><span class="name">146595197371***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">寶*張</span><span class="name">162848029406***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">林*妏</span><span class="name">10000026590***9</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Dafu***u</span><span class="name">18682963499***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Jino ***n</span><span class="name">45714212781***7</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Lai Mei ***g</span><span class="name">93661981306***6</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">evonnej***g</span><span class="name">246335***0</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪運動外套 (L Size)</em>
                        <em class="count">20名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Alex***n</span><span class="name">172889304399***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Felix ***g</span><span class="name">1015312769364***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">羅*如</span><span class="name">175317341157***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">*慧</span><span class="name">107460724588***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">avy.***n</span><span class="name">231227***9</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">廖*汝</span><span class="name">1020625338923***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Yu Sh***i</span><span class="name">166692863685***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">sy*a</span><span class="name">10***8</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">*容</span><span class="name">116355385700***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">林*安</span><span class="name">47593545924***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">江*妹</span><span class="name">163622006663***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">tina0***9</span><span class="name">202745***3</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Eva ***o</span><span class="name">1015345141380***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">gb***5</span><span class="name">1616***2</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">littlepo***8</span><span class="name">191494***3</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">徐*鈞</span><span class="name">114189196915***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">yaotalk***3</span><span class="name">213356***5</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">joann96***2</span><span class="name">203101***5</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">lu***o</span><span class="name">233205***8</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">928***o</span><span class="name">194057***1</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪摺疊收納後背包</em>
                        <em class="count">10名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Michelle ***o</span><span class="name">153780250987***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Owen ***n</span><span class="name">50011201682***1</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">Hui-fen Ch***g</span><span class="name">10000022718***6</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">陳*來</span><span class="name">43735294312***5</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">張*媜</span><span class="name">100412531294***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">May ***n</span><span class="name">112616431406***0</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">craz***n</span><span class="name">3181***3</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">裴*瑋</span><span class="name">1020828578160***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">范*云</span><span class="name">102435768425***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">黃雅莉</span><span class="name">10203041372953600</span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪多功能工具組</em>
                        <em class="count">10名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">seon***2</span><span class="name">197553***2</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">jess***1</span><span class="name">163***1</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">梁*喬</span><span class="name">56258759056***2</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">詹*如</span><span class="name">1020487300304***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">青**李</span><span class="name">116334182034***0</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">利*欣</span><span class="name">97748102896***5</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">vic***c</span><span class="name">175494***1</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">fbt***8</span><span class="name">175511***2</span></li>
                        <li class="list"><span class="from">Instagram　ID</span><span class="name">peter02***6</span><span class="name">170847***3</span></li>
                        <li class="list"><span class="from">Facebook　名稱</span><span class="name">陳*德</span><span class="name">83445010333***7</span></li>
                    </ul>
                    <h3 class="award-type">分享網站再加碼 得獎名單</h3>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪15年單一麥芽威士忌</em>
                        <em class="count">5名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="name">洪*卯妹</span><span class="name">101996234139***6</span><span></span></li>
                        <li class="list"><span class="name">楊*錡</span><span class="name">108231588512***4</span><span></span></li>
                        <li class="list"><span class="name">許*淵</span><span class="name">105083704827***9</span><span></span></li>
                        <li class="list"><span class="name">吳* 恩</span><span class="name">109082064094***2</span><span></span></li>
                        <li class="list"><span class="name">Nana***n</span><span class="name">93936558618***6</span><span></span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪復古銀色杯墊</em>
                        <em class="count">10名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="name">秋* 王</span><span class="name">129750854026***3</span><span></span></li>
                        <li class="list"><span class="name">Sally ***n</span><span class="name">1015376756802***9</span><span></span></li>
                        <li class="list"><span class="name">Richard***u</span><span class="name">1020546758866***2</span><span></span></li>
                        <li class="list"><span class="name">*瓜</span><span class="name">155045776861***7</span><span></span></li>
                        <li class="list"><span class="name">潘*英</span><span class="name">90311457976***0</span><span></span></li>
                        <li class="list"><span class="name">Michelle ***o</span><span class="name">153287313703***5</span><span></span></li>
                        <li class="list"><span class="name">林*妏</span><span class="name">110793856255***0</span><span></span></li>
                        <li class="list"><span class="name">蘇*安</span><span class="name">154888968209***9</span><span></span></li>
                        <li class="list"><span class="name">Li***i</span><span class="name">56764097005***1</span><span></span></li>
                        <li class="list"><span class="name">*上</span><span class="name">108719263798***3</span><span></span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪運動外套 (L Size)</em>
                        <em class="count">10名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="name">*慶</span><span class="name">44048839949***9</span><span></span></li>
                        <li class="list"><span class="name">王*勛</span><span class="name">21461092220***4</span><span></span></li>
                        <li class="list"><span class="name">張*平</span><span class="name">154574366546***5</span><span></span></li>
                        <li class="list"><span class="name">林*咲</span><span class="name">167639363597***4</span><span></span></li>
                        <li class="list"><span class="name">Mikan H***g</span><span class="name">19856970380***1</span><span></span></li>
                        <li class="list"><span class="name">Chieh-His***e</span><span class="name">1020660053132***2</span><span></span></li>
                        <li class="list"><span class="name">楊*蕾</span><span class="name">45241588827***9</span><span></span></li>
                        <li class="list"><span class="name">李*波</span><span class="name">19242783777***0</span><span></span></li>
                        <li class="list"><span class="name">林*誠</span><span class="name">94112856260***9</span><span></span></li>
                        <li class="list"><span class="name">蔡*得</span><span class="name">100511874952***4</span><span></span></li>
                    </ul>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪摺疊收納後背包</em>
                        <em class="count">10名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="name">郝*原</span><span class="name">99685861707***1</span><span></span></li>
                        <li class="list"><span class="name">玉*黃</span><span class="name">96649269676***8</span><span></span></li>
                        <li class="list"><span class="name">超*單</span><span class="name">76086089739***8</span><span></span></li>
                        <li class="list"><span class="name">EM EM H***g</span><span class="name">150638007965***6</span><span></span></li>
                        <li class="list"><span class="name">吳*蘭</span><span class="name">93386516003***8</span><span></span></li>
                        <li class="list"><span class="name">Grace C***g</span><span class="name">78290569181***0</span><span></span></li>
                        <li class="list"><span class="name">洪*華</span><span class="name">121640406838***1</span><span></span></li>
                        <li class="list"><span class="name">Lee Rui ***e</span><span class="name">17505518284***7</span><span></span></li>
                        <li class="list"><span class="name">Lapis A***i</span><span class="name">119201016748***1</span><span></span></li>
                        <li class="list"><span class="name">Ya Mei ***o</span><span class="name">102465166755***0</span><span></span></li>
                    </ul>
                    <h3 class="award-item">
                        <em class="award">格蘭菲迪多功能工具組</em>
                        <em class="count">10名</em>
                    </h3>
                    <ul class="award-list b-clearfix">
                        <li class="list"><span class="name">胡*之</span><span class="name">1015368967968***5</span><span></span></li>
                        <li class="list"><span class="name">Li B***y</span><span class="name">106010162068***1</span><span></span></li>
                        <li class="list"><span class="name">*稜</span><span class="name">102287146106***4</span><span></span></li>
                        <li class="list"><span class="name">*姆</span><span class="name">85346451810***5</span><span></span></li>
                        <li class="list"><span class="name">PI Ling H***g</span><span class="name">1020451047391***5</span><span></span></li>
                        <li class="list"><span class="name">郭*妍</span><span class="name">110836762253***4</span><span></span></li>
                        <li class="list"><span class="name">薛*寧</span><span class="name">167174410309***4</span><span></span></li>
                        <li class="list"><span class="name">藍*曈</span><span class="name">108344455167***1</span><span></span></li>
                        <li class="list"><span class="name">賴*飛</span><span class="name">118309838170***2</span><span></span></li>
                        <li class="list"><span class="name">葉*子</span><span class="name">172441383778***1</span><span></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/winner.js?JS=20151125_01"></script>
<!-- self page include js end -->
</html>