$FontNum : 2015101401;

@font-face {
    font-family : 'FontGlenFiddich';
    src         : font-url('FontGlenFiddich.eot?#{$FontNum}');
    src         : font-url('FontGlenFiddich.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('FontGlenFiddich.woff?#{$FontNum}') format('woff'),
                  font-url('FontGlenFiddich.ttf?#{$FontNum}') format('truetype'),
                  font-url('FontGlenFiddich.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

.m-icon {
    font           : normal normal normal 13px/1 'FontGlenFiddich';
    font-size      : inherit;
    text-rendering : auto;
    text-transform : none;
    speak          : none;
    @include inline-block;
    @include transform(translate(0, 0));

    /* Better Font Rendering =========== */
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.m-icon-angle-down:before {
    content: "\e900";
}
.m-icon-angle-left:before {
    content: "\e901";
}
.m-icon-angle-right:before {
    content: "\e902";
}
.m-icon-angle-up:before {
    content: "\e903";
}
.m-icon-camera:before {
    content: "\e904";
}
.m-icon-chevron-down:before {
    content: "\e905";
}
.m-icon-chevron-left:before {
    content: "\e906";
}
.m-icon-chevron-right:before {
    content: "\e907";
}
.m-icon-chevron-up:before {
    content: "\e908";
}
.m-icon-exclamation-triangle:before {
    content: "\e909";
}
.m-icon-gift:before {
    content: "\e90a";
}
.m-icon-hashtag:before {
    content: "\e90b";
}
.m-icon-logo:before {
    content: "\e90c";
}
.m-icon-mouse:before {
    content: "\e90d";
}
.m-icon-stack-drank-ban:before {
    content: "\e90e";
}
.m-icon-stack-drank-circle:before {
    content: "\e90f";
}
.m-icon-stack-drank-icon:before {
    content: "\e910";
}
.m-icon-stack-fb:before {
    content: "\e911";
}
.m-icon-stack-fb-square:before {
    content: "\e912";
}
.m-icon-stack-logo:before {
    content: "\e913";
}
.m-icon-stack-logo-info:before {
    content: "\e914";
}
.m-icon-stack-logo-info-ver:before {
    content: "\e915";
}
.m-icon-stack-logo-text:before {
    content: "\e916";
}
.m-icon-stack-logo-text-ver:before {
    content: "\e917";
}
.m-icon-stack-logo-ver:before {
    content: "\e918";
}
.m-icon-stack-media-play:before {
    content: "\e919";
}
.m-icon-stack-media-square:before {
    content: "\e91a";
}
.m-icon-stack-slogon-1:before {
    content: "\e91b";
}
.m-icon-stack-slogon-2:before {
    content: "\e91c";
}
.m-icon-stack-title-1:before {
    content: "\e91d";
}
.m-icon-stack-title-2:before {
    content: "\e91e";
}
.m-icon-stack-wording-1:before {
    content: "\e91f";
}
.m-icon-stack-wording-1-border:before {
    content: "\e920";
}
.m-icon-stack-wording-2:before {
    content: "\e921";
}
.m-icon-stack-wording-2-border:before {
    content: "\e922";
}
.m-icon-stack-wording-3:before {
    content: "\e923";
}
.m-icon-stack-wording-3-border:before {
    content: "\e924";
}