$FontNum : 2016012_01;

@font-face {
    font-family : 'GFFoundersSans';
    src         : font-url('GFFoundersSansWeb-Regular.eot?#{$FontNum}');
    src         : font-url('GFFoundersSansWeb-Regular.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('GFFoundersSansWeb-Regular.woff?#{$FontNum}') format('woff'),
                  font-url('GFFoundersSansWeb-Regular.ttf?#{$FontNum}') format('truetype'),
                  font-url('GFFoundersSansWeb-Regular.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'GFFoundersSansLight';
    src         : font-url('GFFoundersSansWeb-Light.eot?#{$FontNum}');
    src         : font-url('GFFoundersSansWeb-Light.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('GFFoundersSansWeb-Light.woff?#{$FontNum}') format('woff'),
                  font-url('GFFoundersSansWeb-Light.ttf?#{$FontNum}') format('truetype'),
                  font-url('GFFoundersSansWeb-Light.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'GFFoundersScript';
    src         : font-url('GFFoundersScriptWeb-Regular.eot?#{$FontNum}');
    src         : font-url('GFFoundersScriptWeb-Regular.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('GFFoundersScriptWeb-Regular.woff?#{$FontNum}') format('woff'),
                  font-url('GFFoundersScriptWeb-Regular.ttf?#{$FontNum}') format('truetype'),
                  font-url('GFFoundersScriptWeb-Regular.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'GFFoundersScriptLight';
    src         : font-url('GFFoundersScriptWeb-Light.eot?#{$FontNum}');
    src         : font-url('GFFoundersScriptWeb-Light.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('GFFoundersScriptWeb-Light.woff?#{$FontNum}') format('woff'),
                  font-url('GFFoundersScriptWeb-Light.ttf?#{$FontNum}') format('truetype'),
                  font-url('GFFoundersScriptWeb-Light.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'GFModern';
    src         : font-url('GFModernWeb-Light.eot?#{$FontNum}');
    src         : font-url('GFModernWeb-Light.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('GFModernWeb-Light.woff?#{$FontNum}') format('woff'),
                  font-url('GFModernWeb-Light.ttf?#{$FontNum}') format('truetype'),
                  font-url('GFModernWeb-Light.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'GFModernBold';
    src         : font-url('GFModernWeb-Bold.eot?#{$FontNum}');
    src         : font-url('GFModernWeb-Bold.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('GFModernWeb-Bold.woff?#{$FontNum}') format('woff'),
                  font-url('GFModernWeb-Bold.ttf?#{$FontNum}') format('truetype'),
                  font-url('GFModernWeb-Bold.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'source-han-sans-traditional';
    src         : font-url('source-han-sans-traditional.eot?#{$FontNum}');
    src         : font-url('source-han-sans-traditional.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('source-han-sans-traditional.woff?#{$FontNum}') format('woff'),
                  font-url('source-han-sans-traditional.ttf?#{$FontNum}') format('truetype'),
                  font-url('source-han-sans-traditional.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

/*@font-face {
    font-family : 'source-han-sans-traditional-ExtraLight';
    src         : font-url('source-han-sans-traditional-ExtraLight.eot?#{$FontNum}');
    src         : font-url('source-han-sans-traditional-ExtraLight.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('source-han-sans-traditional-ExtraLight.woff?#{$FontNum}') format('woff'),
                  font-url('source-han-sans-traditional-ExtraLight.ttf?#{$FontNum}') format('truetype'),
                  font-url('source-han-sans-traditional-ExtraLight.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'source-han-sans-traditional-Bold';
    src         : font-url('source-han-sans-traditional-Bold.eot?#{$FontNum}');
    src         : font-url('source-han-sans-traditional-Bold.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('source-han-sans-traditional-Bold.woff?#{$FontNum}') format('woff'),
                  font-url('source-han-sans-traditional-Bold.ttf?#{$FontNum}') format('truetype'),
                  font-url('source-han-sans-traditional-Bold.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'source-han-sans-traditional-Heavy';
    src         : font-url('source-han-sans-traditional-Heavy.eot?#{$FontNum}');
    src         : font-url('source-han-sans-traditional-Heavy.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('source-han-sans-traditional-Heavy.woff?#{$FontNum}') format('woff'),
                  font-url('source-han-sans-traditional-Heavy.ttf?#{$FontNum}') format('truetype'),
                  font-url('source-han-sans-traditional-Heavy.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}*/