$FontNum : 2015101401;

@font-face {
    font-family : 'FontGlenFiddich';
    src         : font-url('FontGlenFiddich.eot?#{$FontNum}');
    src         : font-url('FontGlenFiddich.eot?#iefix#{$FontNum}') format('embedded-opentype'),
                  font-url('FontGlenFiddich.woff?#{$FontNum}') format('woff'),
                  font-url('FontGlenFiddich.ttf?#{$FontNum}') format('truetype'),
                  font-url('FontGlenFiddich.svg?#{$FontNum}#skmFount') format('svg');
    font-weight : normal;
    font-style  : normal;
}

.m-icon {
    font           : normal normal normal 13px/1 'FontGlenFiddich';
    font-size      : inherit;
    text-rendering : auto;
    text-transform : none;
    speak          : none;
    @include inline-block;
    @include transform(translate(0, 0));

    /* Better Font Rendering =========== */
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.m-icon-angle-down:before {
    content: "\e900";
}
.m-icon-angle-left:before {
    content: "\e901";
}
.m-icon-angle-right:before {
    content: "\e902";
}
.m-icon-angle-up:before {
    content: "\e903";
}
.m-icon-footer-text-drive:before {
    content: "\e904";
}
.m-icon-footer-text-drive-m:before {
    content: "\e905";
}
.m-icon-footer-text-drunk:before {
    content: "\e906";
}
.m-icon-footer-text-drunk-m:before {
    content: "\e907";
}
.m-icon-nav-activity:before {
    content: "\e908";
}
.m-icon-nav-channels:before {
    content: "\e909";
}
.m-icon-nav-index:before {
    content: "\e90a";
}
.m-icon-nav-product:before {
    content: "\e90b";
}
.m-icon-nav-video:before {
    content: "\e90c";
}
.m-icon-nav-winner:before {
    content: "\e90d";
}
.m-icon-number-0:before {
    content: "\e90e";
}
.m-icon-number-1:before {
    content: "\e90f";
}
.m-icon-number-2:before {
    content: "\e910";
}
.m-icon-number-3:before {
    content: "\e911";
}
.m-icon-number-4:before {
    content: "\e912";
}
.m-icon-number-5:before {
    content: "\e913";
}
.m-icon-number-6:before {
    content: "\e914";
}
.m-icon-number-7:before {
    content: "\e915";
}
.m-icon-number-8:before {
    content: "\e916";
}
.m-icon-number-9:before {
    content: "\e917";
}
.m-icon-stack-drank-ban:before {
    content: "\e918";
}
.m-icon-stack-drank-circle:before {
    content: "\e919";
}
.m-icon-stack-drank-icon:before {
    content: "\e91a";
}
.m-icon-stack-fb:before {
    content: "\e91b";
}
.m-icon-stack-fb-square:before {
    content: "\e91c";
}
.m-icon-stack-logo:before {
    content: "\e91d";
}
.m-icon-stack-logo-info:before {
    content: "\e91e";
}
.m-icon-stack-logo-info-ver:before {
    content: "\e91f";
}
.m-icon-stack-logo-text:before {
    content: "\e920";
}
.m-icon-stack-logo-text-ver:before {
    content: "\e921";
}
.m-icon-stack-logo-ver:before {
    content: "\e922";
}
.m-icon-text-award-first:before {
    content: "\e923";
}
.m-icon-text-award-second:before {
    content: "\e924";
}
.m-icon-text-glenfiddich:before {
    content: "\e925";
}
.m-icon-text-idx-info-1:before {
    content: "\e926";
}
.m-icon-text-idx-info-2:before {
    content: "\e927";
}
.m-icon-text-idx-info-3:before {
    content: "\e928";
}
.m-icon-text-idx-miss-subtitle:before {
    content: "\e929";
}
.m-icon-text-idx-miss-title:before {
    content: "\e92a";
}
.m-icon-text-idx-open:before {
    content: "\e92b";
}
.m-icon-text-idx-opening:before {
    content: "\e92c";
}
.m-icon-text-idx-title:before {
    content: "\e92d";
}
.m-icon-text-idx-win-subtitle:before {
    content: "\e92e";
}
.m-icon-text-idx-win-title:before {
    content: "\e92f";
}
.m-icon-text-product-12:before {
    content: "\e930";
}
.m-icon-text-product-15:before {
    content: "\e931";
}
.m-icon-text-product-18:before {
    content: "\e932";
}
.m-icon-text-phase1-winner-count-1:before {
    content: "\e933";
}
.m-icon-text-phase1-winner-count-3:before {
    content: "\e934";
}
.m-icon-text-phase1-winner-count-5:before {
    content: "\e935";
}
.m-icon-text-phase1-winner-count-10:before {
    content: "\e936";
}
.m-icon-text-phase1-winner-count-20:before {
    content: "\e937";
}
.m-icon-text-phase1-winner-item-1:before {
    content: "\e938";
}
.m-icon-text-phase1-winner-item-2:before {
    content: "\e939";
}
.m-icon-text-phase1-winner-item-3:before {
    content: "\e93a";
}
.m-icon-text-phase1-winner-item-4:before {
    content: "\e93b";
}
.m-icon-text-phase1-winner-item-5:before {
    content: "\e93c";
}
.m-icon-text-phase1-winner-item-6:before {
    content: "\e93d";
}
.m-icon-text-phase1-winner-item-7:before {
    content: "\e93e";
}
.m-icon-text-phase1-winner-item-8:before {
    content: "\e93f";
}
.m-icon-text-phase1-winner-title:before {
    content: "\e940";
}