<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="/Views/Shared/Meta.cshtml" -->
    <title>1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!</title>
    <link rel="canonical" href="http://www.glenfiddich1963.com.tw/" />
    <!--#include virtual="/Views/Shared/CommonStyle.cshtml" -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/index.css?CSS=20151225_01" />
    <!-- self page include css end -->
</head>
<body>
    <!--#include virtual="/Views/Shared/Hidden.cshtml" -->
    <div class="l-load" data-hide="b-hide" data-cloak="b-cloak">
        <div class="m-load">
            <div class="m-load-bd">
                <div>
                    <span class="m-icon-stack m-icon-stack-logos-ver">
                        <i class="m-icon m-icon-stack-logo-ver"></i>
                        <i class="m-icon m-icon-stack-logo-text-ver is-absolute"></i>
                        <i class="m-icon m-icon-stack-logo-info-ver is-absolute"></i>
                    </span>
                </div>
                <span class="m-load-line">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
                <em class="jQ-percentage">0%</em>
            </div>
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Header.cshtml" -->
    <div class="l-content is-full" data-blur="is-blur">
        <!--#include virtual="/Views/Shared/Year.cshtml" -->
        <div class="index-video">
            <ul class="index-video-list" data-animate="is-animate" data-show="is-show" data-over="is-over">
                <li class="index-cut cut01" ga_cat="index_cf" ga_event="scroll" ga_label="cf_01">
                    <figure class="is-pc b-hide-sm b-hide-xs">
                        <img data-src="/Content/img/index/video/cut01/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut01/gf_024.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                    </figure>
                    <figure class="is-mobile b-hide-md">
                        <img data-src="/Content/img/index/video-m/cut01/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut01/gf_024.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                    </figure>
                    <em class="index-os">Sandy Gordon <br class="b-br-xs" />格蘭菲迪家族第四代<br />1963年 我帶著家族的驕傲<br />從蘇格蘭 挑戰世界</em>
                </li>
                <li class="index-cut cut02" ga_cat="index_cf" ga_event="scroll" ga_label="cf_02">
                    <figure class="is-pc b-hide-sm b-hide-xs">
                        <img data-src="/Content/img/index/video/cut02/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_024.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_025.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_026.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_027.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_028.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_029.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_030.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_031.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_032.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_033.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut02/gf_034.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                    </figure>
                    <figure class="is-mobile b-hide-md">
                        <img data-src="/Content/img/index/video-m/cut02/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_024.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_025.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_026.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_027.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_028.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_029.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_030.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_031.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_032.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_033.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut02/gf_034.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                    </figure>
                    <em class="index-os">是他…<br />讓我顛覆 美國威士忌市場<br />是他…<br />讓我成為 威士忌世界矚目焦點</em>
                </li>
                <li class="index-cut cut03" ga_cat="index_cf" ga_event="scroll" ga_label="cf_03">
                    <figure class="is-pc b-hide-sm b-hide-xs">
                        <img data-src="/Content/img/index/video/cut03/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut03/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                    </figure>
                    <figure class="is-mobile b-hide-md">
                        <img data-src="/Content/img/index/video-m/cut03/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut03/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                    </figure>
                    <em class="index-os">是它…<br />格蘭菲迪<br />第一個挑戰世界的單一麥芽</em>
                </li>
                <li class="index-cut cut04" data-end="true" ga_cat="index_cf" ga_event="scroll" ga_label="cf_04">
                    <figure class="is-pc b-hide-sm b-hide-xs">
                        <img data-src="/Content/img/index/video/cut04/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_022.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_023.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                        <img data-src="/Content/img/index/video/cut04/gf_024.jpg?IMG=20151124_01" class="jQ-full jQ-load-pc">
                    </figure>
                    <figure class="is-mobile b-hide-md">
                        <img data-src="/Content/img/index/video-m/cut04/gf_001.jpg?IMG=20151124_01" class="is-show jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_002.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_003.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_004.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_005.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_006.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_007.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_008.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_009.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_010.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_011.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_012.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_013.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_014.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_015.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_016.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_017.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_018.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_019.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_020.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                        <img data-src="/Content/img/index/video-m/cut04/gf_021.jpg?IMG=20151124_01" class="jQ-full jQ-load-mobile">
                    </figure>
                    <em class="index-os">讓世界為我致敬</em>
                </li>
            </ul>
        </div>
        <div class="index-step index-act" data-index="0" ga_cat="index_upload" ga_event="scroll" ga_label="upload">
            <div class="index-act-content">
                <section class="index-act-section">
                    <header class="index-act-hd">
                        <h2>分享你的第一　讓世界為你的先鋒精神致敬！</h2>
                        <span class="m-icon-stack">
                            <i class="m-icon m-icon-stack-title-1"></i>
                            <i class="m-icon m-icon-stack-title-2"></i>
                        </span>
                        <p class="b-hide-xs">你，從哪裡挑戰世界？分享代表你的第一<br />拿下第一個案子、買下第一個家、衝線第一場馬拉松…<br />就有機會獲得格蘭菲迪邁向世界第一站<mark class="b-mark">【美國紐約】來回機票！</mark><br />還有百樣贈品等你拿！</p>
                        <p class="b-hide-md b-hide-sm"><mark class="b-mark">抽【美國紐約】來回機票！</mark>百樣贈品等你拿！</p>
                    </header>
                    <div class="index-act-bd">
                        <div class="index-act-photo">
                            <div class="index-act-photo-hd">
                                <figure class="index-act-figure">
                                    <img src="/Content/img/index/user-head.png?IMG=20151124_01">
                                </figure>
                                <figcaption class="index-act-figcaption">Sandy Gordon</figcaption>
                            </div>
                            <figure class="index-act-photo-bd index-act-figure">
                                <img src="/Content/img/index/video/cut04/gf_021.jpg?IMG=20151124_01">
                            </figure>
                            <p class="index-act-photo-ft b-hide-xs">
                                我的第一就是讓世界知道格蘭菲迪！<br />#格蘭菲迪第一支單一麥芽
                            </p>
                        </div>
                        <ul>
                            <li>
                                <span>
                                    <i class="m-icon m-icon-camera"></i>
                                    <i class="m-icon m-icon-hashtag b-hide-md b-hide-sm"></i>
                                    <em class="b-hide-xs">Step.1</em>
                                </span>
                                <p>上傳照片：拍下代表你的第一，<br />上傳至自己的 Instagram、Facebook <em class="b-hide-md b-hide-sm">後標記 #格蘭菲迪第一支單一麥芽</em></p>
                            </li>
                            <li class="b-hide-xs">
                                <span>
                                    <i class="m-icon m-icon-hashtag"></i>
                                    <em>Step.2</em>
                                </span>
                                <p>上傳後，請記得標記<br />#格蘭菲迪第一支單一麥芽</p>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div class="index-step index-case" data-index="1" ga_cat="index_case" ga_event="scroll" ga_label="case">
            <div class="index-case-content">
                <section class="index-case-section">
                    <header class="index-case-hd">
                        <h2>格蘭菲迪 世界第一單一純麥威士忌</h2>
                        <p>你，從哪裡挑戰世界？拍下你的第一，讓世界為你的先鋒精神致敬！</p>
                        <span class="m-icon m-icon-stack index-case-slogon">
                            <i class="m-icon m-icon-stack-slogon-1"></i>
                            <i class="m-icon m-icon-stack-slogon-2"></i>
                        </span>
                        <ul class="index-case-wording">
                            <li>
                                <span class="m-icon m-icon-stack">
                                    <i class="m-icon m-icon-stack-wording-1-border"></i>
                                    <i class="m-icon m-icon-stack-wording-1 is-absolute"></i>
                                </span>
                            </li>
                            <li class="index-case-wording-set">
                                <span class="m-icon m-icon-stack">
                                    <i class="m-icon m-icon-stack-wording-2-border"></i>
                                    <i class="m-icon m-icon-stack-wording-2 is-absolute"></i>
                                </span>
                                <br class="b-br-xs" />
                                <span class="m-icon m-icon-stack">
                                    <i class="m-icon m-icon-stack-wording-3-border"></i>
                                    <i class="m-icon m-icon-stack-wording-3 is-absolute"></i>
                                </span>
                            </li>
                        </ul>
                        <a href="/overview" class="index-case-link jQ-box ga_click_trace" ga_cat="index_case" ga_event="click" ga_label="action">開啟皮箱 <i class="m-icon m-icon-angle-right"></i></a>
                    </header>
                    <div class="index-case-bd">
                        <figure class="index-case-bg is-pc b-hide-sm b-hide-xs">
                            <img data-src="/Content/img/index/case/gf_001.jpg?IMG=20151124_01" class="is-show jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_002.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_003.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_004.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_005.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_006.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_007.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_008.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_009.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_010.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_011.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_012.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_013.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_014.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_015.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_016.jpg?IMG=20151124_01" class="jQ-load-pc">
                            <img data-src="/Content/img/index/case/gf_017.jpg?IMG=20151124_01" class="jQ-load-pc">
                        </figure>
                        <figure class="index-case-bg is-mobile b-hide-md">
                            <img data-src="/Content/img/index/case-m/gf_001.jpg?IMG=20151124_01" class="is-show jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_002.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_003.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_004.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_005.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_006.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_007.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_008.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_009.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_010.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_011.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_012.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_013.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_014.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_015.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_016.jpg?IMG=20151124_01" class="jQ-load-mobile">
                            <img data-src="/Content/img/index/case-m/gf_017.jpg?IMG=20151124_01" class="jQ-load-mobile">
                        </figure>
                    </div>
                    <footer class="index-case-ft is-hide b-hide-sm b-hide-xs" data-hide="is-hide" data-open="is-open">
                        <div class="index-case-menu-group">
                            <a href="/overview" class="index-case-menu ga_click_trace" ga_cat="index_case" ga_event="click" ga_label="overview">看更多第一 <i class="m-icon m-icon-angle-right"></i></a>
                            <a href="/activity" class="index-case-menu ga_click_trace" ga_cat="index_case" ga_event="click" ga_label="activity">活動說明 <i class="m-icon m-icon-angle-right"></i></a>
                        </div>
                        <div class="index-case-block">
                            <div class="index-case-iframe">
                                <div class="tagboard-embed" tgb-slug="格蘭菲迪第一支單一麥芽/255333" tgb-layout="grid" tgb-feed-type="cycle" tgb-post-count="6" tgb-gutter="20" tgb-fixed-height="true" tgb-rounded-corners="true" tgb-toolbar="none" tgb-animation-type="flip"></div>
                                <script>
                                    var tagboardIframeLoaded = false;
                                    window.addEventListener("message", receiveTagboardMessage, false);
                                    function receiveTagboardMessage(event) {
                                        if (event.origin.indexOf('tagboard.com') !== -1 && !tagboardIframeLoaded) {
                                            $('.tagboard-embed iframe')[0].contentWindow.postMessage('scrollPos:0','https://tagboard.com/');
                                            tagboardIframeLoaded = true;
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
        <div class="index-scroll" data-hide="b-cloak">
            <span class="index-scroll-bd">
                <i class="m-icon m-icon-chevron-down"></i>
                <em>Scroll</em>
                <!-- <em class="b-hide-md">TouchMove</em> -->
            </span>
            <a href="/activity" class="index-scroll-acyivity ga_click_trace" data-hide="b-hide" ga_cat="index-event" ga_event="click" ga_label="activity">分享抽機票</a>
        </div>
        <div class="m-dot" data-curr="is-curr" data-step="is-step" data-blur="is-blur">
            <ul>
                <li class="m-dot-item is-curr ga_click_trace" ga_cat="index_float" ga_event="click" ga_label=""><i></i></li>
            </ul>
            <!--#include virtual="/Views/Shared/DotMedia.cshtml" -->
        </div>
    </div>
    <!--#include virtual="/Views/Shared/Footer.cshtml" -->
</body>
<!--#include virtual="/Views/Shared/CommonScript.cshtml" -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/index.js?JS=20151225_01"></script>
<!-- self page include js end -->
</html>