<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="description" content="上傳分享你的第一，並標記(#hashtag)活動主題，#格蘭菲迪第一支單一麥芽，就有機會抽紐約來回機票及百樣好禮；再加碼分享活動網站，還有機會再獲得格蘭菲迪多樣贈品，分享越多次機會越大！">
    <meta property="og:title" content="1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!" />
    <meta property="og:description" content="上傳分享你的第一，並標記(#hashtag)活動主題，#格蘭菲迪第一支單一麥芽，就有機會抽紐約來回機票及百樣好禮；再加碼分享活動網站，還有機會再獲得格蘭菲迪多樣贈品，分享越多次機會越大！" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.glenfiddich1963.com.tw/" />
    <meta property="og:image" content="http://www.glenfiddich1963.com.tw/Content/img/common/FB.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="504" />
    <meta property="og:image:height" content="504" />
    <meta property="og:site_name" content="第一個挑戰世界的單一麥芽威士忌，分享你的第一，讓世界為你的先鋒精神致敬!" />
    <title>1963單一麥芽傳奇 分享你的第一 讓世界為你的先鋒精神致敬!</title>
    <link rel="canonical" href="http://www.glenfiddich1963.com.tw/" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/common/favicon.ico">
    <!-- master page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/reset.css?CSS=20151125_01" />
    <link rel="stylesheet" type="text/css" href="/Content/css/style-box.css?CSS=20151125_01" />
    <!-- master page include css end -->
    <!-- self page include css begin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/video.css?CSS=20151125_01" />
    <!-- self page include css end -->
</head>
<body>
    <div class="video">
        <div class="video-bd">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-3RRlZyCoAg?&autoplay=1&autohide=1&controls=0&loop=1&playlist=-3RRlZyCoAg&rel=0&fs=1&wmode=transparent&showinfo=0&modestbranding=1&iv_load_policy=1&start=0&theme=dark&color=red&playsinline=false&enablejsapi=1&origin=http%3A%2F%2Fhttp://www.glenfiddich1963.com.tw/" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" allowtransparency="true"></iframe>    
        </div>
        <div class="video-ft">
            <button class="video-button jQ-media"><i class="m-icon m-icon-gift"></i>立即<mark class="b-mark">分享</mark>網站 <mark class="b-mark">加碼抽</mark>多項經典好禮<i class="m-icon m-icon-angle-right"></i></button>
        </div>
    </div>
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/plugin/jquery.mousewheel/jquery.mousewheel.min.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/plugin/jquery.touchswipe/jquery.touchswipe.min.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/js/factory.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/js/common.js?JS=20151125_01"></script>
<script type="text/javascript" src="/Scripts/js/ga.js?JS=20151125_01" id="GAScript"></script>
<!-- master page include scripts end -->
<!-- self page include js begin -->
<script type="text/javascript" src="/Scripts/js/video.js?JS=20151125_01"></script>
<!-- self page include js end -->
</html>